@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_Layout.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   ArticleController c = ViewBag.This as ArticleController;
   ViewBag.Title = "购物商城 - " + site.name;
   string channel = "household_goods";
   int category_id = int.Parse(ViewBag.CategoryId as string);
   if(category_id <=0){
      category_id = 87;
   }
   DTcms.Model.article_category m = bc.get_category_model(category_id);
   DataTable root_cate_list = bc.get_category_child_list(channel, 0);
   DataRow[] parent_cate_list = root_cate_list.Select("id=" + m.parent_id);
   DataRow parent_cate = null;
   if(parent_cate_list.Length > 0){
      parent_cate = parent_cate_list[0];
   }
   DataTable list = bc.get_category_child_list(channel, m.parent_id);
   string category_nav = bc.get_category_menu("goods", category_id);
}

<div id="main">
   <!-- 一级类别 -->
   <div id="topNavigation">
      <div class="departmentLinks">
         <ul>
            <li class="departmentName">
               <a href="@bc.linkurl("goods", (int)parent_cate["id"])">@parent_cate["title"]<p class="colon">:</p></a>
            </li>
            @foreach (DataRow cdr in list.Rows) {
               <li>
                  <a href="@bc.linkurl("goods_list", (int)cdr["id"])" class="@(category_id == (int)cdr["id"] ? "activeLink" : "")">
                     <span class="@(category_id == (int)cdr["id"] ? "active" : "")">@cdr["title"]</span>
                  </a>
               </li>
               if (cdr != list.Rows[list.Rows.Count - 1]) {
               <li class="divider">| </li>
               }
            }
         </ul>
      </div>
      <div class="clearAll"></div>
   </div>
   <!-- 一级类别/ -->

   <!-- 大图区域 -->
   <div class="gridRow">
      @if(parent_cate != null){
      <div class="threeColumn removeMargin firstColumn">
         <h1 class="categoryGray">@parent_cate["title"]</h1>
         <h2 class="headTwoGray">@parent_cate["seo_title"]</h2>
         <p class="copyTextGray">@Html.Raw(parent_cate["content"])</p>
      </div>
      }
      @for(int i=0; i<=2; i++){
         if (i == list.Rows.Count) {
            break;
         }
         DataRow cdr = list.Rows[i];
      <div class="threeColumn removeMargin">
         <div class="visualNavContainer">
            <a href="@bc.linkurl("goods_list", cdr["id"])">
               <img style="width:252px;height:252px;" class="imageStyle" src="@cdr["img_url"]" title="@cdr["title"]"></a>
            <div class="categoryContainer">
               <a href="@bc.linkurl("goods_list", cdr["id"])" class="categoryName">@cdr["title"]</a><a class="categoryNumber"></a>
            </div>
            <div class="clearAll"></div>
            <div class="subCategory">
            @{
               DataTable child_cate_list = bc.get_category_child_list(channel, (int)cdr["id"]);
               foreach (DataRow ccdr in child_cate_list.Rows) {
                  <a href="@bc.linkurl("goods_list", ccdr["id"])" class="subCategory">@ccdr["title"]</a>
               }
            }
            </div>
         </div>
      </div>         
      }
   </div>
   <!-- 大图/ -->

   <!-- 小图区域 -->
   <div class="gridRow">
      @foreach(DataRow cdr in list.Rows){
      <div class="twoColumn removeMargin @(cdr.Equals(list.Rows[0]) ? "firstColumn" : "")">
         <div class="visualNavContainer">
            <a href="@bc.linkurl("goods_list",cdr["id"])">
               <img class="imageStyle" style="height:125px;" src="@cdr["img_url"]" title="@cdr["title"]"></a>
            <div class="categoryContainer">
               <a href="@bc.linkurl("goods_list",cdr["id"])" class="categoryName">@cdr["title"]</a><a class="categoryNumber">(16)</a>
            </div>
            <div class="clearAll"></div>
            <div class="subCategory">
            @{
               DataTable child_cate_list = bc.get_category_child_list(channel, (int)cdr["id"]);
               foreach (DataRow ccdr in child_cate_list.Rows) {
                  <a href="@bc.linkurl("goods_list", ccdr["id"])" class="subCategory">@ccdr["title"]</a>
               }
            }
            </div>
         </div>
      </div>
      }
      <div class="clearAll"></div>
   </div>
   <!-- 小图区域/ -->

   <div id="breadCrumbNew" class="gridRow breadCrumbNew">
      首页 @Html.Raw(category_nav)
   </div>
