@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_Layoutlist.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   Article_ListController bc = ViewBag.BasePage as Article_ListController;
   DTcms.Model.article_category m = bc.model;
   ViewBag.Title = m.title + " - " + site.name;
   DataTable list = null;
   string channel = "household_goods";
   int category_id = int.Parse(ViewBag.CategoryId as string);
   int count = 0;
   string category_nav = bc.get_category_menu("goods_list", category_id);
   int pagesize = 20;
   int totalcount = 0;
   string pagelist = string.Empty;
   int page = int.Parse(ViewBag.Page as string);
   //获取一级类别实体
   DTcms.Model.article_category category_layer1 = null;
   category_layer1 = bc.get_category_model(int.Parse(m.class_list.Split(',')[1]));
   //获取二级类别列表
   DataTable category_list2 = bc.get_category_child_list(channel, int.Parse(m.class_list.Split(',')[1])); 
   //获取三级类别列表
   DataTable category_list3 = bc.get_category_child_list(channel, int.Parse(m.class_list.Split(',')[2]));
   //获取商品列表
   list = bc.get_article_list(channel, m.id, pagesize, 0, "status=0", out totalcount, out pagelist, "goods_list", m.id, "__id__");
}
<div id="main">
   <!-- 二级类别 -->
   <div id="topNavigation">
      <div class="departmentLinks">
         <ul>
            <li class="departmentName">
               <a href="@bc.linkurl("goods", (int)category_layer1.id)">@category_layer1.title<p class="colon">:</p></a>
            </li>
            @foreach (DataRow cdr in category_list2.Rows) {
               <li>
                  <a href="@bc.linkurl("goods_list", (int)cdr["id"])" class="@(category_id == (int)cdr["id"] ? "activeLink" : "")">
                     <span class="@(category_id == (int)cdr["id"] ? "active" : "")">@cdr["title"]</span>
                  </a>
               </li>
               if(cdr != category_list2.Rows[category_list2.Rows.Count - 1]){
               <li class="divider">| </li>
               }
            }
         </ul>
      </div>
      <div class="clearAll"></div>
   </div>
   <!-- 二级类别/ -->

   <!-- 筛选栏 -->
   <div class="gridRow filterBlock">
      <div class="productsFilter floatLeft">
         <div id="productsFilterOptions" class="productsFilterOptions">
            <div>
               <div class="productsFilterButtons floatLeft">
                  <!-- 三级类别 -->
                  <div class="productsFilterChapters">
                     <a class="orangeBtn @(m.class_layer == 2 ? "active" : "")" href="@bc.linkurl("goods_list", m.id)">全部</a>
                     @foreach(DataRow cdr in category_list3.Rows){
                       <a class="orangeBtn @((int)cdr["id"] == m.id ? "active" : "")" href="@bc.linkurl("goods_list", cdr["id"])">@cdr["title"]</a>
                     }
                  </div>
                  <!-- 三级类别/ -->
                  <div id="sortBy" class="sortBy">
                     <div id="productsFilterSortBy" class="productsFilterSortBy floatRight" style="width: auto%; display: block">
                        <div class="sortLeft floatLeft"></div>
                        <div class="sortMiddle floatLeft">相关性</div>
                        <div class="sortRight floatLeft"></div>
                     </div>
                  </div>
               </div>
               <div>
                  <form method="get" class="" name="" action="" onsubmit="return com.ikea.irw.catalog.PriceFilter.init();">
                     <div class="priceFilter">
                        <input type="hidden" name="priceFilter" value="true">
                        <div id="text">价格区间</div>
                        <input id="minprice" name="minprice" type="text" value="299" maxlength="15" class="priceMin">
                        <div id="hypen">-</div>
                        <input id="maxprice" name="maxprice" type="text" value="4999" maxlength="15" class="priceMax">
                        <input id="filterButton" type="submit" class="orangeBtn" value="筛选">
                        <div id="warningMsg">
                        </div>
                     </div>
                  </form>
               </div>
            </div>
            <div class="clearAll"></div>
         </div>
      </div>
   </div>
   <!-- 筛选栏/ -->

   <!-- 置顶商品区域 -->
   <div class="gridRow">
      <!-- 一级类别信息 -->
      <div class="sixColumn">
         <div class="categoryGray">
            <h1>宜家@(category_layer1.title)</h1>
         </div>
         <div class="headOneGray">@category_layer1.seo_title</div>
         <p class="bodyTextGray">@Html.Raw(category_layer1.content)</p>
      </div>
      <!-- 一级类别信息/ -->
      <!-- 置顶商品第一条数据 -->
      <div class="sixColumn lastColumn floatRight gridComponent">
         <div class="visualNavContainer">
            <a href="@bc.linkurl("goods_show", list.Rows[0]["id"])"><img src="@list.Rows[0]["img_url"]" alt=""></a>
            <div class="clearAll"></div>
            <div class="prodStyle3_B seoProduct">
               <a href="@bc.linkurl("goods_show", list.Rows[0]["id"])">
                  <div class="productDetails">
                     <div class="productWidth">
                        <div class="productTitle">@list.Rows[0]["title"]</div>
                        <div class="productDesp  floatLeft">@list.Rows[0]["sub_title"]</div>
                     </div>
                     <div class="clearAll"></div>
                     <div class="floatLeft prodPrice">¥&nbsp;@list.Rows[0]["sell_price"]</div>
                     <div class="productWidth"></div>
                     <div class="clearAll"></div>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <!-- 置顶商品第一条数据/ -->
   </div>
   <!-- 置顶商品区域/ -->

   <!-- 商品列表 -->
   <div class="productLists adproductLists" id="productLists">
      <div class="gridRow">
         @for(int i=0;i<list.Rows.Count;i+=4){
            DataRow dr = null;
            for(int j=0;j<4;j++){
               if (i + j >= list.Rows.Count) {
                  break;
               }
               dr = list.Rows[i + j];
            <div class="threeColumn product @(j == 3 ? "lastColumn" : "")">
               <div class="image">
                  <a href="@bc.linkurl("goods_show", dr["id"])" class="productLink"><img style="width:250px; height:250px;" src="@dr["img_url"]" alt="@dr["title"]" class="prodImg" /></a>
               </div>
               <div class="productDetails">
                  <a href="@bc.linkurl("goods_show", dr["id"])">
                     <div class="productTitle floatLeft">@dr["title"]</div>
                     <div class="productDesp">@dr["sub_title"]</div>
                     <div class="price regularPrice">¥&nbsp;@dr["sell_price"]</div>
                  </a>
                  <div class="moreInfo">
                     <span class="size">@dr["zhaiyao"]</span>
                     <div class="buttonsContainer">
                        <a href="#" class="orangeBtn">保存至清单</a>
                     </div>
               </div>
               </div>
            </div>
            }
         }
         <div class="clearGrid"></div>
      </div>
   </div>
   <!-- 商品列表/ -->
   <div class="gridRow serviceModuleBlock">
   </div>


   <div id="breadCrumbNew" class="gridRow breadCrumbNew">
      首页 @Html.Raw(category_nav)
   </div>

   <div class="gridRow departmentLinkBlock">
      <h3>所有房间：</h3>

      <div class="threeColumn">
         <div class="linkContainer ">
            <ul>

               <li><a href="/cn/zh/catalog/categories/departments/bedroom/">卧室
               </a></li>

               <li><a href="/cn/zh/catalog/categories/departments/kitchen/">厨房
               </a></li>

               <li><a href="/cn/zh/catalog/categories/departments/childrens_ikea/">宜家儿童部
               </a></li>

               <li><a href="/cn/zh/catalog/categories/departments/food/">宜家食品部
               </a></li>

               <li><a href="/cn/zh/catalog/categories/departments/living_room/">客厅
               </a></li>

               <li><a href="/cn/zh/catalog/categories/departments/decoration/">家居装饰品
               </a></li>

               <li><a href="/cn/zh/catalog/categories/departments/workspaces/">家庭工作室
               </a></li>

            </ul>
         </div>
      </div>

      <div class="threeColumn">
         <div class="linkContainer ">
            <ul>

               <li><a href="/cn/zh/catalog/categories/departments/small_storage/">小型储物
               </a></li>

               <li><a href="/cn/zh/catalog/categories/departments/outdoor/">户外
               </a></li>

               <li><a href="/cn/zh/catalog/categories/departments/wireless_charging/">无线充电产品
               </a></li>

               <li><a href="/cn/zh/catalog/categories/departments/laundry/">洗衣房
               </a></li>

               <li><a href="/cn/zh/catalog/categories/departments/bathroom/">浴室
               </a></li>

               <li><a href="/cn/zh/catalog/categories/departments/lighting/">灯具
               </a></li>

               <li><a href="/cn/zh/catalog/categories/departments/cooking/">烹饪
               </a></li>

            </ul>
         </div>
      </div>

      <div class="threeColumn">
         <div class="linkContainer ">
            <ul>

               <li><a href="/cn/zh/catalog/categories/departments/eating/">用餐
               </a></li>

               <li><a href="/cn/zh/catalog/categories/departments/secondary_storage/">第二储物空间
               </a></li>

               <li><a href="/cn/zh/catalog/categories/departments/Textiles/">纺织品
               </a></li>

               <li><a href="/cn/zh/catalog/categories/departments/hallway/">门厅
               </a></li>

               <li><a href="/cn/zh/catalog/categories/departments/dining/">餐厅
               </a></li>

               <li><a href="/cn/zh/catalog/categories/departments/ikea_family_products/">宜家俱乐部产品
               </a></li>

               <li><a href="/cn/zh/catalog/categories/business/">宜家公司业务部
               </a></li>

            </ul>
         </div>
      </div>

      <div class="threeColumn lastColumn">
         <div class="linkContainer lastLinkContainer">
            <ul>

               <li><a href="/cn/zh/catalog/categories/seasonal/winter_holidays/" id="winter_holidays" class="seasonalLink" style="color: #444444">冬季节日
               </a></li>

               <li><a href="/cn/zh/catalog/categories/seasonal/summer/" id="summer" class="seasonalLink" style="color: #444444">夏季灵感
               </a></li>

            </ul>
         </div>
      </div>
      <div class="clearAll"></div>
   </div>
</div>