@using System.Data;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_Layout.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   ViewBag.Title = site.seo_title;
   DTcms.Web.MVC.UI.Controllers.BaseController bc = ViewBag.BasePage as DTcms.Web.MVC.UI.Controllers.BaseController;
   IndexController c = ViewBag.Controller as IndexController;
   DataTable photoList = bc.get_article_list("household_photo", 5, "status=0");//获取创意灵感文章列表
}
@section HeaderContent{
   <link href="~/templates/@ViewBag.TemplateSkin/web/css/flexslider.css" rel="stylesheet" />
   <script src="~/templates/@ViewBag.TemplateSkin/web/js/jquery.flexslider-min.js"></script>
}
@section Scripts{
   <script>
      $(function () {
         $(".focusbox").flexslider({
            directionNav: false,
            pauseOnAction: false
         });
      });
   </script>
}
<div id="main">
	<!--首页大轮播图-->
   <div style="height: 415px; overflow: hidden; position: relative;">
      <div class="focusbox">
         <ul class="slides">
            <li class="switchable-panel" style='background: url("@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/slider_01.jpg")'>
               <a style="width: 100%; height: 415px; display: block;" href="@bc.linkurl("index")"></a>
            </li>

            <li class="switchable-panel" style='background: url("@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/slider_02.jpg")'>
               <a style="width: 100%; height: 415px; display: block;" href="@bc.linkurl("index")"></a>
            </li>
         </ul>
      </div>
   </div>
	<!--首页大轮播图/-->

   <!-- 创意灵感 -->
   <div class="gridRow">
      <div class="gridColumn twelveColumn">
         <div class="gridComponent" style="height: 90px;">
            <div style="left: 0px; top: 0px; z-index: 1; position: absolute;">
               <div class="categoryGray">创意灵感</div>
               <div class="headTwoGray">您想从哪里开始新的一天？</div>
               <a href="@bc.linkurl("photo")" class="bodyTextGray">查看展示区</a>
            </div>
            <div class="clearAll"></div>
         </div>
         <div class="clearAll"></div>
      </div>
      @if(photoList.Rows.Count > 0){
         DataRow dr = photoList.Rows[0];
         <div class="gridColumn sixColumn">
            <div class="gridRow">
               <div class="gridColumn twelveColumn lastColumn">
                  <div class="gridComponent" style="height: 396px;">
                     <a href="@bc.linkurl("photo_show", dr["id"])">
                        <img src="@dr["img_url"]" alt="@dr["title"]" style="left: 0px; top: 0px; width: 520px; height: 396px; z-index: 1; position: absolute;">
                     </a>
                     <div class="clearAll"></div>
                  </div>
                  <div class="clearAll"></div>
               </div>
               <div class="clearAll"></div>
            </div>
            <div class="clearAll"></div>
         </div>
      }
      @for(int i=1; i<photoList.Rows.Count; i+=2){
         <div class="gridColumn threeColumn @(i == 3 ? "lastColumn" : "")">
            @for (int j = 0; j < 2; j++) {
               if (i + j == photoList.Rows.Count) {
                  break;
               }
               DataRow dr = photoList.Rows[i+j];
               <div class="gridRow">
                  <div class="gridColumn twelveColumn lastColumn">
                     <div class="gridComponent" style="height: 188px;">
                        <a href="@bc.linkurl("photo_show", dr["id"])">
                           <img src="@dr["img_url"]" alt="@dr["title"]" style="left: 0px; top: 0px; width: 250px; height: 188px; z-index: 1; position: absolute;">
                        </a>
                        <div class="clearAll"></div>
                     </div>
                     <div class="clearAll"></div>
                  </div>
                  <div class="clearAll"></div>
               </div>
            }
            <div class="clearAll"></div>
         </div>
      }
      <div class="clearAll"></div>
   </div>
   <!-- 创意灵感/ -->

   <h1 class="homepageHeading">创意灵感和特惠活动</h1>
   <div id="whysection" class="whysection">
      <!-- lets not get the adcopy if its already present in the request -->
      <div class="gridRow">
         <div class="gridColumn twelveColumn lastColumn">
            <div class="gridComponent" style="height: 1171px;">
               <img src="~/templates/@ViewBag.TemplateSkin/web/images/Traffic_module_cn_0309.jpg" alt=" " style="left: 0px; top: 0px; width: 1060px; height: 1171px; z-index: 1; position: absolute;" class="">
               <map class="toolTipMapName" name="20171_hptf01a_01">
                  <area coords="547,53,545,363,1054,364,1053,52" shape="poly" href="#" alt="IKEA PS 2017" tooltiptype="tooltip_customtext/" title="">
                  <area coords="5,54,3,365,513,361,511,52" shape="poly" href="#" alt="查看更多" tooltiptype="tooltip_customtext/" title="">
                  <area coords="0,9" shape="poly" href="" alt="  " title="  ">
                  <area coords="4,918,6,1163,340,1159,340,916" shape="poly" href="#" alt="英丹德" tooltiptype="tooltip_customtext/" title="">
                  <area coords="6,437,3,840,1055,840,1053,438" shape="poly" href="#" alt="宜家生活家" tooltiptype="tooltip_customtext/" title="">
                  <area coords="364,918,364,1164,699,1163,697,920" shape="poly" href="#" alt="爱克托" tooltiptype="tooltip_customtext/" title="">
                  <area coords="726,920,723,1166,1054,1166,1049,924" shape="poly" href="#" alt="斯鲁卡" tooltiptype="tooltip_customtext/" title="">
               </map>
               <div class="clearAll"></div>
            </div>
            <div class="clearAll"></div>
         </div>
         <div class="clearAll"></div>
      </div>
      <div class="gridRow">
         <div class="gridColumn fourColumn">
            <div class="gridComponent" style="height: 260px;">
               <a href="#">
                  <img usemap="#2016_hptf_tro" src="~/templates/@ViewBag.TemplateSkin/web/images/40251666_hp_zh.jpg" alt="TRO" style="left: 0px; top: 0px; width: 340px; height: 260px; z-index: 1; position: absolute;" class="">
               </a>
               <div class="clearAll"></div>
            </div>
            <div class="clearAll"></div>
         </div>
         <div class="gridColumn fourColumn">
            <div class="gridComponent" style="height: 260px;">
               <img usemap="#2015_hptf_familyQ" src="~/templates/@ViewBag.TemplateSkin/web/images/web_banner.jpg" alt="获取你的专属灵感" style="left: 0px; top: 0px; width: 340px; height: 260px; z-index: 1; position: absolute;" class="">
               <div class="clearAll"></div>
            </div>
            <div class="clearAll"></div>
         </div>
         <div class="gridColumn fourColumn lastColumn">
            <div class="gridComponent" style="height: 260px;">
               <img src="~/templates/@ViewBag.TemplateSkin/web/images/TF_tro_family_food3.jpg" alt="会员俱乐部" style="left: 0px; top: 0px; width: 340px; height: 260px; z-index: 1; position: absolute;" class="">
               <map class="toolTipMapName" name="2015_hptf_familycard">
                  <area coords="18,221,90,221,96,221,97,239,17,240" shape="poly" href="#" alt=" " tooltiptype="tooltip_customtext/" title="">
                  <area coords="16,185,131,184,133,211,11,213" shape="poly" href="#" alt=" " tooltiptype="tooltip_customtext/" title="">
               </map>
               <div class="clearAll"></div>
            </div>
            <div class="clearAll"></div>
         </div>
         <div class="clearAll"></div>
      </div>
      <div class="gridRow">
         <div class="gridColumn twelveColumn lastColumn">
            <div class="gridComponent" style="height: 415px;">
               <img src="~/templates/@ViewBag.TemplateSkin/web/images/secure_it_hp_new_zh.jpg" alt="牢牢固定！" style="left: 0px; top: 0px; width: 1060px; height: 415px; z-index: 1; position: absolute;" class="">
               <map class="toolTipMapName" name="2016_hpip_secureit">
                  <area coords="4,3,520,6,523,408,3,408" shape="poly" href="#" alt="查看详情" tooltiptype="tooltip_customtext/" title="">
                  <area coords="553,5,1055,6,1051,408,554,408" shape="poly" href="#" alt="查看详情" tooltiptype="tooltip_customtext/" title="">
               </map>
               <div class="clearAll"></div>
            </div>
            <div class="clearAll"></div>
         </div>
         <div class="clearAll"></div>
      </div>

   </div>

   <div class="howsection">
      <div id="howsection" class="howsectionpart1">
         <div class="gridRow">
            <div class="gridColumn sixColumn">
               <div class="gridComponent" style="height: 270px;">
                  <div style="left: 0px; top: 1px; z-index: 1; position: absolute;">
                     <div class="categoryGray"></div>
                     <div class="headOneGray">规划您的梦想</div>
                  </div>
                  <div style="left: 0px; top: 60px; z-index: 2; position: absolute;">
                    
                  </div>
                  <img src="~/templates/@ViewBag.TemplateSkin/web/images/201323_hpfu01av2.jpg" alt="厨房设计软件" style="left: 197px; top: 48px; width: 261px; height: 191px; z-index: 3; position: absolute;" class="">
                  <div class="clearAll"></div>
               </div>
               <div class="clearAll"></div>
            </div>
            <div class="gridColumn sixColumn lastColumn">
               <div class="gridComponent" style="height: 270px;">
                  <div style="left: 0px; top: 0px; z-index: 1; position: absolute;">
                     <div style="text-align: left; width: 500px; z-index: 1; position: relative;" class="categoryGray">我们的服务</div>
                     <div style="text-align: left; width: 500px; z-index: 2; position: relative;" class="headOneGray">您可以自己动手，但这不是唯一的选择</div>
                  </div>
                  <a href="#" class="bodyTextGray" style="text-align: left; left: 0px; top: 207px; z-index: 2; position: absolute;">了解更多服务</a>
                  <img usemap="#201323_hpfu01a_04" src="~/templates/@ViewBag.TemplateSkin/web/images/Services2.jpg" alt=" " style="left: 0px; top: 52px; width: 488px; height: 155px; z-index: 3; position: absolute;" class="">
                  <map class="toolTipMapName" name="201323_hpfu01a_04" id="201323_hpfu01a_04">
                     <area coords="34,167,34,188,66,188,94,188,94,167" shape="poly" href="/ms/zh_CN/customer_service/ikea_services/ikea_services.html" alt=" " tooltiptype="tooltip_customtext/" title="">
                     <area coords="278,168,278,186,347,186,347,168" shape="poly" href="/ms/zh_CN/customer_service/ikea_services/ikea_services.html" alt=" " tooltiptype="tooltip_customtext/" title="">
                     <area coords="189,170,161,170,160,186,218,186,219,170" shape="poly" href="/ms/zh_CN/customer_service/ikea_services/ikea_services.html" alt=" " tooltiptype="tooltip_customtext/" title="">
                     <area coords="405,162,405,194,469,195,469,161" shape="poly" href="/ms/zh_CN/customer_service/ikea_services/ikea_services.html" alt=" " tooltiptype="tooltip_customtext/" title="">
                  </map>
                  <div class="clearAll"></div>
               </div>
               <div class="clearAll"></div>
            </div>
            <div class="clearAll"></div>
         </div>

      </div>
   </div>
</div>


