@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_Layout.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   Article_ListController bc = ViewBag.BasePage as Article_ListController;
   DTcms.Model.article_category m = bc.model;
   ViewBag.Title = m.title + " - " + site.name;
   DataTable list = null;
   string channel = "household_photo";
   int category_id = int.Parse(ViewBag.CategoryId as string);
   int count = 0;
   string category_nav = bc.get_category_menu("photo_list", category_id);
   int pagesize = 20;
   int totalcount = 0;
   string pagelist = string.Empty;
   int page = int.Parse(ViewBag.Page as string);
   DataTable category_list = bc.get_category_child_list(channel, 0);//获取根类别
   list = bc.get_article_list(channel, m.id, 0, "status=0");//获取照片信息列表
}

<div id="main">
   <!-- 类别导航栏 -->
   <div class="gridRow filterBlock">
      <div class="productsFilter">
         <div class="productsFilterOptions">
            <div class="productsFilterButtons floatLeft">
               <div class="productsFilterChapters" id="ideas-tags">
                  <a class="orangeBtn btnIdeas" href="@bc.linkurl("photo")">查看所有创意灵感</a>
                  @foreach (DataRow cdr in category_list.Rows) {
                     <a class="orangeBtn btnIdeas @((int)cdr["id"] == m.id ? "active": "")" href="@bc.linkurl("photo_list", cdr["id"])">@cdr["title"]</a>
                  }
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- 类别导航栏/ -->

   <div class="newRoomsetContainer" id="roomsetMainContent">
      <!-- 类别信息 -->
      <div class="galleryHeaderConatiner">
         <div class="gallerySubHeader">
            <h1>@(m.title)</h1>
         </div>
         <span>
            <h2 class="galleryTitle">@m.seo_title</h2>
         </span>
         <span class="galleryDescription">
            <p>@Html.Raw(m.content)</p>
         </span>
      </div>
      <!-- 类别信息/ -->

      <!-- 创意灵感列表 -->
      <div class="galleryContainer">
         @for(int i=0; i<list.Rows.Count; i+=3){
            <div class="galleryRow">
            @for (int j = 0; j < 3; j++) {
               if ((i + j) == list.Rows.Count) {
                  break;
               }
               DataRow dr = list.Rows[i+j];
               <div class="roomblock">
                  <a title="@dr["title"]" href="@bc.linkurl("photo_show", dr["id"])">
                     <div style="z-index: -100"><img alt="@dr["title"]" src="@dr["img_url"]" height="190" width="302" class="imageWrapper" /></div>
                  </a>
               </div>
            }
            </div>
         }
      </div>
      <!-- 创意灵感列表/ -->

      <!-- 分享 -->
      <div class="roomsetlinkContainer">
         <div class="floatLeft">
            <div class="shareMPAContainer" id="roomsetShare">
               @RenderPage("~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/partial_share_js.cshtml")
               <div class="clearAll"></div>
            </div>
         </div>
      </div>
      <!-- 分享/ -->
   </div>

   <div id="breadCrumbNew" class="gridRow breadCrumbNew">
      当前位置: <a href="@bc.linkurl("index")">首页</a>@Html.Raw(category_nav)
   </div>
</div>
