@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_Layout.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   SearchController c = ViewBag.This as SearchController;
   ViewBag.Title = "站内搜索 - " + site.name;
   DataTable list = null;
}

<div class="section clearfix">
  <!--右边-->
  <div class="list-right">
    <div class="sidebar-box">
      <div class="line30"></div>
      <h3>栏目导航</h3>
      <ul class="navbar">
        @{
           list = bc.get_article_list("content", 0, 0, "status=0");
           foreach(DataRow dr in list.Rows){
        <li>
          <h4><a title="@dr["title"]" href="@bc.linkurl("content",dr["call_index"])">@dr["title"]</a></h4>
        </li>
            }
        }
        <li>
          <h4><a href="@bc.linkurl("feedback")">留言反馈</a></h4>
        </li>
        <li>
          <h4><a href="@bc.linkurl("link")">友情链接</a></h4>
        </li>
      </ul>
      
      <div class="line20"></div>
      <h3>推荐资讯</h3>
      <div class="focus-list">
        <ul>
         @{
            list = bc.get_article_list("news", 0, 4, "status=0 and is_red=1 and img_url<>''");
            foreach(DataRow dr in list.Rows){
          <li>
            <a title="@dr["title"]" href="@bc.linkurl("news_show",dr["id"])">
              <b><img src="@dr["img_url"]" /></b>
              <span>@dr["title"]</span>
            </a>
          </li>
            }
         }
        </ul>
      </div>
      
    </div>
  </div>
  <!--/右边-->
  
  <!--左边-->
  <div class="list-auto">
    <!--取得一个DataTable-->
    @{
       int totalcount;
       int page = int.Parse(ViewBag.Page as string);
       string channel = ViewBag.Channel as string;
       string keyword = ViewBag.Keyword as string;
       list = c.get_search_list(15, out totalcount);
    <!--取得分页页码列表-->
    string pagelist = c.get_page_link(15, page, totalcount, c.linkurl("search","?channel=" + channel + "&keyword=" + System.Web.HttpContext.Current.Server.UrlEncode(keyword) + "&page=__id__"));
     <div>
      <h2><a>站内搜索</a></h2>
      <i>搜索关健字： <b class="blue">@ViewBag.Keyword</b> ，共有 <b class="red">@totalcount</b> 条记录</i>
    </div>
    <ul class="n-list">
      @foreach(DataRow dr in list.Rows){
      <li>
        <h2><a target="_blank" href="@dr["link_url"]">@dr["title"]</a></h2>
        <div class="note">
          @if(dr["img_url"].ToString() != ""){
          <b><img src="@dr["img_url"]" /></b>
          }
          <p>@dr["remark"]</p>
          <div class="info">
            <span class="time">@dr["add_time"]</span>
            <span class="comm"><script type="text/javascript" src="@(config.webpath)tools/submit_ajax.ashx?action=view_comment_count&id=@dr["id"]"></script>人评论</span>
            <span class="view"><script type="text/javascript" src="@(config.webpath)tools/submit_ajax.ashx?action=view_article_click&id=@dr["id"]"></script>次浏览</span>
          </div>
        </div>
      </li>
      }
      @if(totalcount == 0){
      <div class="nodata">很抱歉，目前尚未查找到符合条件的信息！</div>
      }
    </ul>
    
    <!--页码列表-->
    <div class="page-box">
      <div class="digg">@Html.Raw(pagelist)</div>
    </div>
    <!--/页码列表-->
    }
  </div>
  <!--/左边-->

</div>