@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_Layout.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   DTcms.Model.user_message m = ViewData["userModel"] as DTcms.Model.user_message;
   ViewBag.Title = "查看站内短信息 - " + site.name;
}

<div class="section clearfix">
  <div class="line30"></div>

  <div class="info-wrap">
    <!--左侧导航-->
    @RenderPage("~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/partial_ucenter_nav.cshtml")
    <!--/左侧导航-->
    
    <!--右侧内容-->
    <div class="home-box">
      <!--系统消息-->
      <div class="u-tab-head">
        <p>
          @if(m.type==1){
           <a class="selected" href="@bc.linkurl("usermessage","system")">系统消息</a>
          }else{
            <a href="@bc.linkurl("usermessage","system")">系统消息</a>
          }
          @if(m.type==2){
            <a class="selected" href="@bc.linkurl("usermessage","accept")">收件箱</a>
          }else{
            <a href="@bc.linkurl("usermessage","accept")">收件箱</a>
          }
          @if(m.type==3){
            <a class="selected" href="@bc.linkurl("usermessage","send")">发件箱</a>
          }else{
            <a href="@bc.linkurl("usermessage","send")">发件箱</a>
          }
        </p>
        <span>
          <a class="add" href="@bc.linkurl("usermessage","add")">+ 写新消息</a>
        </span>
      </div>
      <div class="u-tab-content">
        <div class="title-div">
          <strong>查看短消息</strong>
        </div>
        
        <div class="ntitle">
          <h1 class="ntitle-tit">@m.title</h1>
          <p class="ntitle-info">
              <span class="time">@m.post_time</span>
              @if(m.type==2){
               @:发件人：@m.post_user_name &nbsp;&nbsp;&nbsp;
              }else if(m.type==3){
               @:收件人：@m.accept_user_name &nbsp;&nbsp;&nbsp;
              }
          </p>
        </div>
        <div class="entry">
          @Html.Raw(m.content)
        </div>
    
      </div>
      <!--/系统消息-->
      
    </div>
    <!--/右侧内容-->
  </div>
</div>