@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_Layout.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   Article_ListController bc = ViewBag.BasePage as Article_ListController;
   DTcms.Model.article_category m = bc.model;
   ViewBag.Title = @m.title + " - " + site.name;
   string channel = "video";
   const int pagesize = 20;
   int page = int.Parse(ViewBag.Page as string);
   int category_id = int.Parse(ViewBag.CategoryId as string);
   int totalcount;
   string pagelist;
   DataTable list = null;
   int count = 0;
   string category_nav = bc.get_category_menu("video_list", category_id);
}
<div class="section clearfix">
  <div class="ntitle">
    <h2>
      <a href="javascript:;">@m.title<em></em></a>
    </h2>
    <p>
      <!--小类-->
      @{ 
      list = bc.get_category_child_list(channel,category_id);
      foreach(DataRow dr in list.Rows){
         count ++;
         if(count==1){
         <a class="no-bg" href="@bc.linkurl("video_list",@dr["id"])">@dr["title"]</a>
         }else{
         <a href="@bc.linkurl("video_list",@dr["id"])">@dr["title"]</a>
         }
      }
      }
      <!--小类-->
    </p>
    <span>当前位置：<a href="@bc.linkurl("index")">首页</a> &gt; <a href="@bc.linkurl("video")">视频专区</a>@Html.Raw(category_nav)</span>
  </div>
  
  <div class="wrapper auto clearfix">
    <ul class="img-list high ilist">
      @{ 
      list = bc.get_article_list(channel, category_id, pagesize, page, "status=0", out totalcount, out pagelist, "video_list", category_id, "__id__");<!--取得一个分页DataTable-->
      foreach(DataRow dr in list.Rows){
      <li>
        <a title="@dr["title"]" href="@bc.linkurl("video_show",@dr["id"])">
          <em></em>
          <span class="abs-bg"></span>
          <span class="txt1">@dr["title"]</span>
          <span class="txt2">
            <p>@dr["sub_title"]</p>
          </span>
          <img src="@dr["img_url"]" />
        </a>
      </li>
      }
      }
    </ul>
    <!--页码列表-->
    <div class="page-box">
      <div class="digg">@Html.Raw(pagelist)</div>
    </div>
    <!--/页码列表-->
  </div>
</div>