@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/mobile/Shared/_LayoutPay.cshtml";
   DTcms.Model.channel_site site = ViewData["site"] as DTcms.Model.channel_site;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   ViewBag.Title = "购物车 - " + site.name;
   List<DTcms.Model.cart_items> goodsList = ViewData["goodsList"] as List<DTcms.Model.cart_items>;
}
@section HeaderContent{
   <link href="~/templates/@ViewBag.TemplateSkin/mobile/css/style.css" rel="stylesheet" />
   <script src="~/templates/@ViewBag.TemplateSkin/mobile/js/cart.js"></script>
}
<div class="cart_box">
   <div class="cart_step">
      <ul>
         <li class="selected"><span>1</span>放进购物车</li>
         <li><span>2</span>填写订单信息</li>
         <li class="last"><span>3</span>支付/确定订单</li>
      </ul>
   </div>
</div>
<div class="cart_list">
   @foreach (DTcms.Model.cart_items m in goodsList) {
      <!-- 内容列表 -->
   
      <div class="cart_content">
         <div class="bl_select">
            <input type="checkbox" name="checkall" class="checkall" onclick="selectCart();" />
            <input name="hideArticleId" type="hidden" value="@m.article_id" />
            <input name="hideStockQuantity" type="hidden" value="@m.stock_quantity" />
            <input name="hideGoodsPrice" type="hidden" value="@m.user_price" />
            <input name="hidePoint" type="hidden" value="@m.point" />
            <input id="jsondata" name="jsondata" type="hidden" />
         </div>
         <div class="bl_img">
            <a href="@bc.linkurl("goods_show", m.article_id)">
               <img src="@m.img_url" style="max-height:100px;" /></a>
         </div>
         <div class="bl_right">
            <div class="bl_title">@m.title</div>
            <div class="bl_note">
               <label name="pointCount">
                  @if (m.point > 0) {
                     @:+
                 }
                  @(m.point * m.quantity)
               </label>
            </div>
            <div class="bl_tag">
               <div class="bl_price">
                  <span class="red">
                     <label name="amountCount">￥@((m.user_price * m.quantity).ToString("0.00"))</label>
                  </span>
               </div>
               <div class="bl_oprice">￥@((m.sell_price * m.quantity).ToString("0.00"))</div>
               <div class="bl_time">
                  <a onclick="deleteCart('@config.webpath', this);" href="javascript:;">删除</a>
               </div>
               <div class="bl_mall">
                  <div class="buy-box">
                     <span onclick="updateCart(this, '@config.webpath', -1);"><a href="javascript:;" class="reduce">-</a></span>
                     <input type="text" name="goodsQuantity" class="input" value="@m.quantity" onblur="updateCart(this, '@config.webpath');" onkeydown="return checkNumber(event);" />
                     <a href="javascript:;" class="subjoin" onclick="updateCart(this, '@config.webpath', 1);">+</a>
                  </div>

               </div>
            </div>
         </div>
      </div> 
      <!-- /内容列表 -->   
   }
</div>
@if (goodsList.Count < 1) {
   <div class="cart_box">
      <div class="msg">
         <strong>购物车没有商品！</strong>
         <span>您的购物车为空，<a href="@bc.linkurl("index")">马上去购物</a>吧！</span>
      </div>
   </div>
}
else {
   <div class="cart_box">
      已选择商品 <b id="totalQuantity" class="red">0</b> 件 &nbsp;&nbsp;&nbsp;
              商品总金额（不含运费）：<span class="red">￥</span><b id="totalAmount" class="red">0</b>元
   </div>
   <div class="cart_foot">
      <div class="left btn_box">
         <a href="javascript:;" onclick="selectCart(this);">全选</a>
         <a href="javascript:;" onclick="deleteCart('@config.webpath');">清空购物车</a>
      </div>
      <div class="right">
         <button class="btn" onclick="javascript:location.href='@bc.linkurl("index")';">继续购物</button>
         <button class="btn btn-success" onclick="formSubmit(this, '@config.webpath', '@bc.linkurl("shopping")');">立即结算</button>
      </div>
   </div>
}
<div class="clear"></div>
