@using System.Data;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/mobile/Shared/_LayoutBase.cshtml";
   DTcms.Model.channel_site site = ViewData["site"] as DTcms.Model.channel_site;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   ViewBag.Title = "会员登录 - " + site.name;
}
@section HeaderContent{
   <link href="~/templates/@ViewBag.TemplateSkin/mobile/css/login.css" rel="stylesheet" />
   <script src="~/templates/@ViewBag.TemplateSkin/web/js/login-validate.js"></script>
   <script>
      $(window).load(function () {
         $("#status").fadeOut();
         $("#preloader").delay(350).fadeOut("slow");
      })
   </script>
}
@section Scripts{
    <script>
    $(function() {
		$(".input-close").hide();
		displayPwd();
		displayClearBtn();
		setTimeout(displayClearBtn, 200 ); //延迟显示,应对浏览器记住密码
	});	

	//是否显示清除按钮
	function displayClearBtn(){
		if(document.getElementById("txtUserName").value != ''){
			$("#txtUserName").siblings(".input-close").show();
		}
		if(document.getElementById("txtPassword").value != ''){
			$(".ciphertext").siblings(".input-close").show();
		}
		if($("#codeLevel").val()!="" && $("#codeLevel").val()!='0'){
			if($("#validateCode").val()!=""){
				$("#validateCode").siblings(".input-close").show();
			}
		}
	}

	//清除input内容
    $('.input-close').click(function(e){  
		$(e.target).parent().find(":input").val("");
		$(e.target).hide();
		$($(e.target).parent().find(":input")).each(function(i){
			if(this.id=="ptext" || this.id=="txtPassword"){
				$("#txtPassword").val('');
				$("#ptext").val('');
			}
         });
    });  
	
	//设置password字段的值	
	$('.txt-password').bind('input',function(){
		$('#txtPassword').val($(this).val());
	});
	
	//显隐密码切换
	function displayPwd(){
    	$(".tp-btn").toggle(
          function(){
            $(this).addClass("btn-on");
			var textInput = $(this).siblings(".plaintext");
    		var pwdInput = $(this).siblings(".ciphertext");
			pwdInput.hide();
			textInput.val(pwdInput.val()).show().focusEnd();
          },
          function(){
		  	$(this).removeClass("btn-on");
		  	var textInput = $(this).siblings(".plaintext ");
    		var pwdInput = $(this).siblings(".ciphertext");
            textInput.hide();
			pwdInput.val(textInput.val()).show().focusEnd();
          }
    	);
	}

	//监控用户输入
	$(":input").bind('input propertychange', function() {
		if($(this).val()!=""){
			$(this).siblings(".input-close").show();
		}else{
			$(this).siblings(".input-close").hide();
		}
    });
</script>
}
<div class="mobile">
	<!--页面加载 开始-->
  <div id="preloader">
    <div id="status">
      <p class="center-text"><span>拼命加载中···</span></p>
    </div>
  </div>
  <!--页面加载 结束--> 
  <!--header 开始-->
  <header>
    <div class="header"> <a class="new-a-back" href="javascript:history.back();"> <span><img src="~/templates/@ViewBag.TemplateSkin/mobile/images/iconfont-fanhui.png"></span> </a>
      <h2>@site.name - 登录页面</h2>
      </div>
  </header>
  <!--header 结束-->
  
  <div class="w main">
  	<form id="loginform" name="loginform" url="@(config.webpath)tools/submit_ajax.ashx?action=user_login&site=@site.build_path">
        <div class="item item-username">
          <input id="txtUserName" class="txt-input txt-username" type="text" placeholder="请输入用户名/邮箱/手机号" value="" name="username">
          <b class="input-close" style="display: none;"></b> </div>
        <div class="item item-password">
          <input id="txtPassword" class="txt-input txt-password ciphertext" type="password" placeholder="请输入密码" name="password" style="display: inline;">
          <input id="ptext" class="txt-input txt-password plaintext" type="text" placeholder="请输入密码" style="display: none;" name="ptext">
          <b class="tp-btn btn-off"></b>
        </div>
        <div class="item item-login-option">
        	<div class="aoutlogin">
                <label class="ui-checkbox ui-checkbox-s">
                    <input id="chkRemember" type="checkbox" name="chkRemember" checked="checked"/>一个月内免登录
                </label>
            </div>
            <span class="retrieve-password"> <a class="" href="getpwd_email.html"> 找回密码</a> </span>
        </div>
        <div class="ui-btn-wrap"><input name="" id="btnSubmit" type="submit" value="用户登录"  class="ui-btn-lg ui-btn-primary" /> </div>
        <div class="ui-btn-wrap"> <a class="ui-btn-lg ui-btn-danger" href="@bc.linkurl("register")">没有账号？立即注册</a> </div>
        <div id="msgtips" class="col tips"></div>
        <input id="turl" name="turl" type="hidden" value="@ViewBag.turl" /><!--记住上一页网址-->
    <div class="item item-login-other">
          <dl>
            <dt>其它登录方式</dt>
            <dd> <a class="qq" href="#"> <span><img alt="" src="~/templates/@ViewBag.TemplateSkin/mobile/images/login_qq.png" width="40" height="40"></span> </a> </dd>
          </dl>
        </div>
      </form>
  </div>
	
  <div class="m_user w">
  	<a href="@bc.linkurl("login")">登录</a>
    <a href="@bc.linkurl("register")">注册</a>
    <a href="#">返回顶部</a>
  </div>
  <div class="footer w">
  	<a href="#"><div class="ico_img"><img src="~/templates/@ViewBag.TemplateSkin/mobile/images/178hui-app.png"></div><span style="color:#00bb9c">客户端</span></a>
    <a href="index.html"><div class="ico_img"><img src="~/templates/@ViewBag.TemplateSkin/mobile/images/178hui-shouji.png"></div><span style="color:#eb4f38">触摸版</span></a>
    <a href="#"><div class="ico_img"><img src="~/templates/@ViewBag.TemplateSkin/mobile/images/178hui-diannao.png"></div><span>电脑版</span></a>
  </div>
  <div class="copyright">@site.copyright</div>
</div>
