@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@using DTcms.Common;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/mobile/Shared/_LayoutList.cshtml";
   DTcms.Model.channel_site site = ViewData["site"] as DTcms.Model.channel_site;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   Article_ListController bc = ViewBag.BasePage as Article_ListController;
   DTcms.Model.article_category m = bc.model;
   ViewBag.Title = m.title + " - " + site.name;
   string channel = "photo";
   int category_id = int.Parse(ViewBag.CategoryId as string);
   int pagesize = 5;
   int page = int.Parse(ViewBag.Page as string);
   string category_nav = bc.get_category_menu("photo_list", category_id);
}
@section HeaderContent{
   <script>
      var page = 1;
      var pagesize = Number(@pagesize);
      $(document).ready(function () {
         getListPage(page);
         $(".baoliao_more").bind("click", function () {
            page++;
            getListPage(page);
         });
      });

      function getListPage(page) {
         $(".baoliao_more").html("<img src='@(config.webpath)templates/@site.templet_path/mobile/images/loading.gif' />");
         $.ajax({
            type: "post",
            url: "@Url.Action("get_list_page", "photo_list", new {category_id=ViewBag.CategoryId})" + "&page=" + page,
            data: {},
            success: function (data) {
               $("#totalcount").remove();// 此标签包含在加载的列表页中, 保存查询结果总行数, 移除上一次加载的标签
               $(".baoliao_list").append(data);
               var totalcount = Number($("#totalcount").text());
               if (page * pagesize >= totalcount) { //判断数据是否已经加载完成
                  $(".baoliao_more").html('已全部加载完成');
                  $(".baoliao_more").unbind("click");
               }
               else {
                  $(".baoliao_more").html('加载更多');
               }
            }
         });
      }
   </script>
}
<div class="m_baoliao w">
<!-- 分类列表 -->
<div class="baoliao_title">
   <span><a href="@bc.linkurl("photo")">图片分享</a></span>
         <p>@Html.Raw(category_nav)</p>
   <em><a href="@bc.linkurl("video")">返回</a></em>
</div>
<!-- /分类列表 -->

<!-- 内容列表 -->
<div class="baoliao_list">
</div>
<!-- /内容列表 -->
<div class="bl_more m_more"><a href="javascript:void(0);" class="baoliao_more">加载更多</a></div>
</div>

