@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/Shared/_Layout.cshtml";
   DTcms.Model.sites site = ViewData["site"] as DTcms.Model.sites;
   DTcms.Model.sysconfig config = ViewData["sysConfig"] as DTcms.Model.sysconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   ViewBag.Title = "购物车 - " + site.name;
   List<DTcms.Model.cart_items> goodsList = ViewData["goodsList"] as List<DTcms.Model.cart_items>;
}

@section HeaderContent{
   <script src="~/templates/@site.templet_path/js/cart.js"></script>
   <link href="~/Scripts/artdialog/ui-dialog.css" rel="stylesheet" />
   <script src="~/Scripts/artdialog/dialog-plus-min.js"></script>
   <script>
	   $(document).ready(function(e) {
		   $("#main_footer a.basket").addClass("pressed");
       });
   </script>
}

<div id="afui">
  <div id="content">

	<div id="mainPanel" class="panel" data-footer="main_footer" style="padding-bottom:0;">
      <header>
        <a href="javascript:;" onclick="history.back(-1);" class="backButton">返回</a>
        <h1>购物车</h1>
        <a onclick="$.ui.toggleSideMenu()" class="menuButton"></a>
      </header>

      <!--购物车-->
      <div>
        <ul class="car-list">
          @foreach(DTcms.Model.cart_items modelt in goodsList){
          <li>
            <input type="checkbox" id="checkId-@modelt.article_id" class="checkall" onclick="selectCart();" />
            <label class="select" for="checkId-@modelt.article_id"></label>
            <input name="hideArticleId" type="hidden" value="@modelt.article_id" />
            <input name="hideGoodsId" type="hidden" value="@modelt.goods_id" />
            <input name="hideStockQuantity" type="hidden" value="@modelt.stock_quantity" />
            <input name="hideGoodsPrice" type="hidden" value="@modelt.user_price" />
            <input name="hidePoint" type="hidden" value="@modelt.point" />
            <a href="@bc.linkurl("goods_show",modelt.article_id)%>" class="img-box" data-ignore="true" style="margin-left:35px;">
              <img src="@modelt.img_url" />
            </a>
            <h2>@modelt.title</h2>
            @if(modelt.spec_text!=""){
            <p class="stxt">@modelt.spec_text</p>
            }
            <div class="note" style="margin-left:110px;">
                <div class="btn-list">
                  <a href="javascript:;" onclick="updateCart(this, '@config.webpath', -1);">-</a>
                  <input name="goodsQuantity" type="text" value="@modelt.quantity" readonly />
                  <a href="javascript:;" onclick="updateCart(this, '@config.webpath', 1);">+</a>
                  <a href="javascript:;" class="del" onclick="deleteCart('@config.webpath', this);">删除</a>
                </div>
                <i class="price">￥@modelt.user_price</i>
            </div>
          </li>
          }
          @if(goodsList.Count<1){
          <div class="nodata">
            <h1></h1>
            <p>购物车暂无商品</p>
          </div>
          }
        </ul>
      </div>
      
      @if(goodsList.Count>0){
      <div class="car-total">
        <div class="btn-list">
          <input id="jsondata" name="jsondata" type="hidden" />
          <button class="btn orange" onclick="formSubmit(this, '@config.webpath', '@bc.linkurl("shopping")');">去结算</button>
        </div>
        <div class="note">
          <h3>总计(不含运费)：</h3>
          <p>
            已选择商品<b id="totalQuantity">0</b>件，
            共计：￥<b id="totalAmount">0</b>元
          </p>
        </div>
      </div>
      }
      
      <!--版权信息-->
      @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_copyright.cshtml")
      <!--/版权信息-->
    
	</div>
    
    <!--底部导航-->
    @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_footer.cshtml")
    <!--/底部导航-->
	
    <!--左侧导航-->
    @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_nav.cshtml")
    <!--/左侧导航-->
      
  </div>
</div>
