@using System.Data;
@using DTcms.BLL;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@{
   Layout = "";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.sysconfig config = ViewData["config"] as DTcms.Model.sysconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   Article_ListController c = ViewBag.This as Article_ListController;
   int totalcount;
   string pagelist;
   int page = int.Parse(ViewBag.Page as string);
   string channel = "news";
   string keyword = ViewBag.Keyword as string;
   int category_id = int.Parse(ViewBag.CategoryId as string);
   int pagesize = 5;
   DataTable list = bc.get_article_list(channel, category_id, pagesize, page, "status=0", out totalcount, out pagelist, "news_list", category_id, "__id__");<!--取得一个分页DataTable-->
   DTcms.BLL.article bll_article = new DTcms.BLL.article();
   DTcms.BLL.article_comment bll_article_comment = new article_comment();
}
@foreach(DataRow dr in list.Rows){
<!-- 内容列表 -->
   <a href="@bc.linkurl("news_show", dr["id"])">
	<div class="baoliao_content">
		<div class="bl_img"><img src="@dr["img_url"]" style="max-height:100px;"></div>
		<div class="bl_right">
				<div class="bl_title">@dr["title"]</div>
				<div class="bl_note">@dr["zhaiyao"]</div>
				<div class="bl_tag">
					<div class="bl_price"></div>
					<div class="bl_oprice"></div>
					<div class="bl_time">@DateTime.Parse(dr["add_time"].ToString()).ToString("MM-dd HH:mm")</div>
					<div class="bl_mall">
                  <span class="comm">@(bll_article_comment.GetCount("is_lock=0 and article_id=" + dr["id"].ToString())) 人评论</span>
                  <span class="view">@(bll_article.GetClick((int)dr["id"])) 次浏览</span>
					</div>
				</div>
		</div>
	</div> 
	</a>
<!-- /内容列表 -->   
}
@if(totalcount == 0){
<p style="text-align:center; width:100%">
   <img src="@(config.webpath)templates/@site.templet_path/mobile/images/nothing.png" style="height:120px">
</p>
}
<label id="totalcount" style="display:none">@totalcount</label>
