@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/Shared/_Layout.cshtml";
   DTcms.Model.sites site = ViewData["site"] as DTcms.Model.sites;
   DTcms.Model.sysconfig config = ViewData["sysConfig"] as DTcms.Model.sysconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   ViewBag.Title = "合作网站登录 - " + site.name;
   string turl = ViewBag.turl as string;
}

@section HeaderContent{
<script>
	$(function(){
		//初始化表单1
		AjaxInitForm('#bind_form', '#btnSubmit1', 0, '#turl');
		//初始化表单2
		AjaxInitForm('#oauth_form', '#btnSubmit2', 0, '#turl');
	});
</script>
}

<div id="afui">
  <div id="content">
    <!--绑定已有账户-->
	<div id="mainPanel" class="panel" data-footer="main_footer">
      <input id="turl" name="turl" type="hidden" value="@turl" />
      <header>
        <a href="@bc.linkurl("login")" data-ignore="true" class="backButton">返回</a>
        <h1>绑定已有账户</h1>
        <a onclick="$.ui.toggleSideMenu()" class="menuButton"></a>
      </header>
      <div class="form-box">
        <form name="bind_form" id="bind_form" url="@(config.webpath)tools/submit_ajax.ashx?action=user_oauth_bind">
          <div><input name="txtUserName" type="text" placeholder="用户名" datatype="*"  nullmsg="请输入用户名" sucmsg=" "></div>
          <div><input name="txtPassword" type="password" placeholder="登录密码" datatype="*6-20"  nullmsg="请输入密码" sucmsg=" "></div>
          <div><input id="btnSubmit1" name="btnSubmit1" type="submit" value="立即绑定" class="btn red full"></div>
        </form>
      </div>
      
      <!--版权信息-->
      @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_comment_box.cshtml")
      <!--/版权信息-->
      
	</div>
    
    <div id="addPanel" class="panel" data-footer="main_footer">
      <header>
        <a onclick="history.back(-1);" class="backButton">返回</a>
        <h1>创建新账户</h1>
        <a onclick="$.ui.toggleSideMenu()" class="menuButton"></a>
      </header>
      <div class="form-box">
        <form name="oauth_form" id="oauth_form" url="@(config.webpath)tools/submit_ajax.ashx?action=user_oauth_register">
          <div><input name="txtEmail" type="text" placeholder="邮箱地址" datatype="e"  nullmsg="请输入邮箱地址" sucmsg=" " /></div>
          <div><input name="txtMobile" type="text" placeholder="手机号码" datatype="m"  nullmsg="请输入手机号码" sucmsg=" " /></div>
          <div><input name="txtPassword" type="password" placeholder="登录密码" datatype="*6-20"  nullmsg="请设置密码" sucmsg=" " /></div>
          <div><input id="btnSubmit2" name="btnSubmit2" type="submit" value="创建新账户" class="btn red full"></div>
        </form>
      </div>
      
      <!--版权信息-->
      @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_copyright.cshtml")
      <!--/版权信息-->
      
	</div>
    
    <!--底部导航-->
    <footer id="main_footer">
      <a href="#mainPanel" class="icon target pressed">绑定账户</a>
      <a href="#addPanel" class="icon paper">创建账户</a>
    </footer>
    <!--/底部导航-->

    <!--左侧导航-->
    @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_nav.cshtml")
    <!--/左侧导航-->
      
  </div>
</div>