@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/Shared/_Layout.cshtml";
   DTcms.Model.sites site = ViewData["site"] as DTcms.Model.sites;
   DTcms.Model.sysconfig config = ViewData["sysConfig"] as DTcms.Model.sysconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   UserController c = ViewBag.This as UserController;
   DTcms.Model.users userModel = c.userModel;
   ViewBag.Title = "我的订单 - " + site.name;
   string action = ViewBag.Action as string;
   int page = int.Parse(ViewBag.Page as string);
   int totalcount;
}

@section HeaderContent{
   <script>
      $(document).ready(function (e) {
         $(".page-list a").attr("data-ignore", true);
      });
   </script>
}

<div id="afui">
   <div id="content">
      <div id="mainPanel" class="panel" data-footer="main_footer">
         @if (action == "list") {
            DataTable list = bc.get_order_list(10, page, "user_id=" + userModel.id + " and status<=3", out totalcount);
            string pagelist = bc.get_page_link(10, page, totalcount, "userorder", action, "__id__"); <!--取得分页页码列表-->         
            <!--交易订单-->
            <header>
               <a href="javascript:;" onclick="history.back(-1);" class="backButton">返回</a>
               <h1>交易订单</h1>
               <a onclick="$.ui.toggleSideMenu()" class="menuButton"></a>
            </header>
      

            foreach (DataRow dr in list.Rows) {
               List<DTcms.Model.article> ls = bc.get_order_goods_list((int)dr["id"]);
               <div class="wrap-box">
                  <h2><span>@bc.get_order_status((int)dr["id"])</span>订单号：@dr["order_no"]</h2>
                  <a href="@bc.linkurl("userorder_show", dr["id"])" class="img-list" data-ignore="true">
                     @if (ls != null) {
                        foreach (DTcms.Model.article modelt in ls) {
                        <img src="@modelt.img_url" />
                        }
                     }
                  </a>
                  <div class="note">
                     <p>时间：@dr["add_time"]</p>
                     <p>金额：<b class="red">￥@dr["order_amount"]</b></p>
                  </div>
               </div>
            }
      
            if (totalcount < 1) {
               <div style="margin:0 10px;line-height:50px;text-align:center;">暂无记录</div>
            }
      
            <!--分页页码-->
            <div class="page-list">@Html.Raw(pagelist)</div>
            <!--/分页页码-->
      
            <!--/交易订单-->
         }

         @if (action == "close") {
            DataTable list = bc.get_order_list(10, page, "user_id=" + userModel.id + " and status>3", out totalcount);
            string pagelist = bc.get_page_link(10, page, totalcount, "userorder", action, "__id__"); <!--取得分页页码列表-->         
            <!--已关闭订单-->
            <header>
               <a href="javascript:;" onclick="history.back(-1);" class="backButton">返回</a>
               <h1>已关闭订单</h1>
               <a onclick="$.ui.toggleSideMenu()" class="menuButton"></a>
            </header>
      

            foreach (DataRow dr in list.Rows) {
               List<DTcms.Model.article> ls = bc.get_order_goods_list((int)dr["id"]);
               <div class="wrap-box">
                 <h2><span>@bc.get_order_status((int)dr["id"])</span>订单号：@dr["order_no"]</h2>
                 <a href="@bc.linkurl("userorder_show", dr["id"])" class="img-list" data-ignore="true">
                  @if (ls != null) {
                     foreach (DTcms.Model.article modelt in ls) {
                        <img src="@modelt.img_url" />
                     }
                  }
                        </a>
                 <div class="note">
                   <p>时间：@dr["add_time"]</p>
                   <p>金额：<b class="red">￥@dr["order_amount"]</b></p>
                 </div>
               </div>
            }
      
            if (totalcount == 0) {
               <div style="margin:0 10px;line-height:50px;text-align:center;">暂无记录</div>
            }
      
            <!--分页页码-->
            <div class="page-list">@Html.Raw(pagelist)</div>
            <!--/分页页码-->
      
            <!--已关闭订单-->
         }

         <!--版权信息-->
         @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_copyright.cshtml")
         <!--/版权信息-->

      </div>

      <!--底部导航-->
      @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_footer.cshtml")
      <!--/底部导航-->

      <!--左侧导航-->
      @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_nav.cshtml")
      <!--/左侧导航-->

   </div>
</div>
