@using DTcms.Model;
@using DTcms.Common;
@{
   Layout = "~/Areas/admin/Views/Shared/_LayoutEdit.cshtml";
   ViewBag.Title = "回复评论";
   DTcms.Model.article_comment m = ViewData["model"] as DTcms.Model.article_comment;
}

@section HeaderContent{
   <script>
      $(function () {
         //初始化表单验证
         $("#form1").initValidform();
      });
   </script>
}

@using(Html.BeginForm("SubmitSave", "Comment_Edit", new { id=ViewBag.Id as string }, FormMethod.Post, new { id="form1" })){
<!--导航栏-->
<div class="location">
  <a href="../comment_list/index?channel_id=@m.channel_id" class="back"><i class="iconfont icon-up"></i><span>返回列表页</span></a>
  <a href="../../center/index"><i class="iconfont icon-home"></i><span>首页</span></a>
  <i class="arrow iconfont icon-arrow-right"></i>
  <span>评论管理</span>
  <i class="arrow iconfont icon-arrow-right"></i>
  <span>回复评论</span>
  <div class="clipboard">
     <span><label id="clipMess"></label></span>
     <a href="javascript:;" class="copy" onclick="copy();"><i class="iconfont icon-copy"></i><span>复制</span></a>
     <a href="javascript:;" class="paste disable" onclick="paste();"><i class="iconfont icon-log"></i><span>粘贴</span></a>
  </div>
</div>
<div class="line10"></div>
<!--/导航栏-->

<!--内容-->
<div id="floatHead" class="content-tab-wrap">
  <div class="content-tab">
    <div class="content-tab-ul-wrap">
      <ul>
        <li><a class="selected" href="javascript:;">回复评论信息</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="tab-content">
  <dl>
    <dt>信息标题</dt>
    <dd>@(new DTcms.BLL.article().GetTitle(m.channel_id, m.article_id))</dd>
  </dl>
  <dl>
    <dt>评论用户</dt>
    <dd>@m.user_name</dd>
  </dl>
  <dl>
    <dt>用户IP</dt>
    <dd>@m.user_ip</dd>
  </dl>
  <dl>
    <dt>评论内容</dt>
    <dd>@m.content</dd>
  </dl>
  <dl>
    <dt>评论时间</dt>
    <dd>@m.add_time</dd>
  </dl>
  <dl>
    <dt>审核状态</dt>
    <dd>
      <div class="rule-multi-radio">
        @Html.RadioButton("rblIsLock", "0", m.is_lock == 0, new { id="rblIsLock_0" })<label for="rblIsLock_0">已审核</label>
        @Html.RadioButton("rblIsLock", "1", m.is_lock == 1, new { id="rblIsLock_1" })<label for="rblIsLock_1">未审核</label>
      </div>
    </dd>
  </dl>
  <dl>
    <dt>回复内容</dt>
    <dd>
      @Html.TextArea("txtReContent", m.content, new { @class="input normal" })
    </dd>
  </dl>
</div>
<!--/内容-->

<!--工具栏-->
<div class="page-footer">
  <div class="btn-wrap">
    <input type="submit" class="btn" id="btnSubmit" value="提交保存" />
    <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript:history.back(-1);" />
  </div>
</div>
<!--/工具栏-->

}