@using System.Data;
@using System.Web;
@using System.Text;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_LayoutList.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   Article_ListController bc = ViewBag.BasePage as Article_ListController;
   DTcms.Model.article_category m = bc.model;
   ViewBag.Title = m.title + " - " + site.name;
   DataTable list = null;
   string channel = "goods";
   int category_id = int.Parse(ViewBag.CategoryId as string);
   int count = 0;
   string category_nav = bc.get_category_menu("goods_list", category_id);
   int pagesize = 8;
   int totalcount = 0;
   string pagelist = string.Empty;
   int page = int.Parse(ViewBag.Page as string);
   string sortname = ViewBag.SortName as string;
   DTcms.BLL.article bll_article = new DTcms.BLL.article();
   //获得商品分页数据
   DataTable goodsList;
   if(string.IsNullOrEmpty(sortname)){
      goodsList = bc.get_article_list(channel, category_id, pagesize, page, "status=0", out totalcount, out pagelist, "goods_list", category_id, "__id__");
   }
   else{
      goodsList = bc.get_article_list(channel, category_id, pagesize, page, "status=0", sortname, out totalcount, out pagelist, "goods_list", category_id, "__id__");
   }
   //获取商品下级分类数据
   DataTable childCategory = bc.get_category_child_list(channel, category_id);
}

@section HeaderContent{
   <link href="~/templates/@ViewBag.TemplateSkin/web/css/font-awesome.min.css" rel="stylesheet" />
   <link href="~/templates/@ViewBag.TemplateSkin/web/css/gallery_grid.css" rel="stylesheet" />
}

@section Scripts{
<script>

   $(function () {
      $(".gallery-sort a").click(function () {
         var text = $(this).find("em").text();
         var isasc = $(this).find("span").hasClass("asc");
         $(".gallery-sort a").removeClass("active");
         $(this).addClass("active");
         $(".gallery-sort a span").removeClass("asc");
         $(".gallery-sort a span").removeClass("desc");
         if (text == "默认") {
            window.location.href = "@bc.linkurl("goods_list", category_id)";
         }
         if (text == "价格") {
            if (isasc) {
               $(this).find("span").addClass("desc");
               window.location.href = "@bc.linkurl("goods_list", category_id)?sort=sell_price desc";
            }
            else {
               $(this).find("span").addClass("asc");
               window.location.href = "@bc.linkurl("goods_list", category_id)?sort=sell_price asc";
            }
         }
         if (text == "销量") {
            $(this).find("span").addClass("asc");
         }
      });
      $(".goods-item").hover(
         function () {
            $(this).addClass("active");
         },
         function () {
            $(this).removeClass("active");
      })
      $('#files').tree({
         expanded: 'li:lt(1)'
      });
   });
</script>
}
<div class="w1200">
	<div class="nch-breadcrumb-layout">
	<div class="nch-breadcrumb wrapper">
      <i class="icon-home"></i><span><a href="@bc.linkurl("index")" alt="" title="">首页</a></span>
      @{
         StringBuilder sb = new StringBuilder();
         DTcms.BLL.article_category bll_acticle_category = new DTcms.BLL.article_category();
         DTcms.Model.article_category category = bll_acticle_category.GetModel(category_id);
         <span class="arrow">></span>
         <span><a href="@bc.linkurl("goods_list")">@category.title</a></span>
      }
	</div>
   </div>
	<div class="nch-container wrapper" >
		<div class="left">
			<div class="nch-module nch-module-style02">
            <div class="title">
               <h3>分类筛选</h3>
            </div>
            <div class="content">
               <ul id="files" class="tree">
                  @{
                     DataTable categoryList1 = bc.get_category_child_list(channel, 0);
                     foreach (DataRow cdr1 in categoryList1.Rows) {
                        <li><i class="tree-parent tree-parent-collapsed"></i><a href="@bc.linkurl("goods_list", cdr1["id"])">@cdr1["title"]</a>
                        @{
                           DataTable categoryList2 = bc.get_category_child_list(channel, Convert.ToInt32(cdr1["id"]));
                           foreach (DataRow cdr2 in categoryList2.Rows) {
                           <ul>
                              <li>
                                 <i class=""></i><a href="@bc.linkurl("goods_list", cdr2["id"])">@cdr2["title"]</a>
                              </li>
                           </ul>
                           }
                        }
                        </li>
                     }
                  }
               </ul>
            </div>
         </div>
            <!-- 推荐商品 -->
         <div class="nch-module nch-module-style03">
            <div class="title">
               <h3>推荐商品</h3>
            </div>
            <div class="content">
               <div class="nch-sidebar-viewed" id="nchSidebarViewed">
                  <ul id="box_37">
                     @{
                        DataTable redGoods = bc.get_article_list(channel, 0, 4, "status=0 and is_red=1");
                        foreach(DataRow reddr in redGoods.Rows){
                     <li class="nch-sidebar-bowers">
                        <div class="goods-pic">
                           <a href="@bc.linkurl("goods_show", reddr["id"])" target="_blank" title="@reddr["title"]" inner_img="@reddr["img_url"]" gid="@reddr["id"]">
                           <img src="@reddr["img_url"]" title="@reddr["title"]" alt="@reddr["title"]"></a>
                        </div>
                        <dl>
                           <dt>
                              <div class="view-time"></div>
                              <a href="@bc.linkurl("goods_show", reddr["id"])" target="_blank" title="@reddr["title"]">@reddr["title"]</a>
                           </dt>
                           <dd></dd>
                        </dl>
                     </li>
                     }
                     }
                  </ul>
               </div>
            </div>
         </div>
      </div><!-- end left -->
		<div class="right">
         <div class="nch-module nch-module-style01">
            <div id="main" class="clearfix">
               <!-- 商品列表开始 -->
               <div class="page-maincontent">
                  <!-- 筛选区 -->
                  <div id="filter_container" class="filter-container">
                     <div class="filter-title clearfix">
                        <h3>商品筛选</h3>
                        <div class="gallery-total-info">
                           (共<b class="op-search-result">@totalcount</b>件商品)
			
                        </div>
                        <div class="filter-clean">
                           <!--<a href="javascript:location.reload();Memory.clean(&#39;gallery.filter&#39;);">重置筛选项<i class="icon">'</i></a>-->
                        </div>
                     </div>
                     <!-- 筛选条件 -->
                     @if(childCategory.Rows.Count > 0){
                     <div id="gallery_filter" class="gallery-filter">
                        <div id="filter_selected" class="filter-selected clearfix">
                           <dl class="filter-selected-list clearfix">
                              <!-- <dt class="filter-selected-title">您已选择：</dt> -->
                              <dd class="filter-selected-values"></dd>
                           </dl>
                        </div>
                        <div class="bd-filter">
                           <div id="filter_lists" class="filter-lists-container">
                              <!-- 分类 -->
                              <dl class="filter-entries clearfix">
                                 <dt class="filter-entries-label">分类：</dt>
                                 <dd class="filter-entries-values">
                                    @foreach(DataRow dr in childCategory.Rows){
                                    <span class="filter-item">
                                       <a href="@bc.linkurl("goods_list", dr["id"])" class="handle action-cat-filter">@dr["title"]</a>
                                    </span>
                                    }
                                 </dd>
                              </dl>
                              <!-- 品牌 -->
                              <!-- 价格-->
                              <!-- 扩展属性 -->
                              <!-- 规格 -->
                           </div>
                           <!-- 促销标签 -->
                        </div>
                     </div>
                     }
                  </div>

                  <!-- 排序状态条 -->
                  <div id="gallery_sortbar" class="gallery-sortbar clearfix">
                     <div class="gallery-sort">
                        <a href="javascript:;" class="action-sort @(sortname == "" ? "active" : "")" data-sort=""><em>默认</em></a>
                        <a href="javascript:;" class="action-sort @(sortname != "" && sortname.IndexOf("sell_price") >= 0 ? "active" : "")" data-sort="sell_price"><em>价格<span class="icon @(sortname != "" && sortname.IndexOf("sell_price") >= 0 && sortname.IndexOf("asc") >= 0 ? "asc" : "desc")"></span></em></a>
                        <a href="javascript:;" class="action-sort @(sortname != "" && sortname.IndexOf("quantity") >= 0 ? "active" : "")" data-sort="quantity"><em>销量<span class="icon @(sortname != "" && sortname.IndexOf("quantity") >= 0 && sortname.IndexOf("asc") >= 0 ? "asc" : "desc")"></span></em></a>
                     </div>
                     <div class="mini-pageview">
                        <span class="page-count HIDE">
                           <span class="page-current">1</span>/<span class="page-total">13</span>
                        </span>
                        <span class="page-action" style="display:none;">
                           <span class="spilt">|</span>
                           <a href="javascript:void(0);" class="flip prev over"><i class="icon">上一页</i></a>
                           <a href="javascript:void(0);" class="flip next"><i class="icon">下一页</i></a>
                        </span>
                     </div>
                     <div class="sortbar-filter-tags">
                        <label for="">筛选：</label>
                        <input type="checkbox" name="gTag[]" id="" class="action-gtags" value="1">
                        <label for="">推荐</label>
                        <input type="checkbox" name="gTag[]" id="" class="action-gtags" value="14">
                        <label for="">首页导航显示（不要删除）</label>
                        <input type="checkbox" name="gTag[]" id="" class="action-gtags" value="15">
                        <label for="">活动进行中</label>
                     </div>
                  </div>

                  <div id="gallery_show" class="gallery-show">
                     <div class="gallery-grid">
                        <ul class="clearfix">
                           @{
                           count = 0;
                           foreach(DataRow dr in goodsList.Rows){
                              count = count + 1;
                           <li class="auto-bind goods-item @(count % 4 == 0 ? "last" : "")">
                              <div class="wrap">
                                 <div class="inner">
                                    <div class="goods-pic">
                                       <a href="@bc.linkurl("goods_show", dr["id"])" target="_blank">
                                          <img class="action-goods-img" alt="@dr["title"]" src="@dr["img_url"]" />
                                       </a>
                                    </div>
                                    <div class="goods-info">
                                       <div class="goods-price">
                                          <ins class="price">￥@dr["sell_price"]</ins>
                                       </div>
                                       <h3 class="goods-name"><a href="@bc.linkurl("goods_show", dr["id"])" target="_blank">@dr["title"]</a></h3>
                                    </div>
                                    <div class="goodsextend">
                                       <div class="goodsSeller">
                                          <div class="seller-name">详情：<a href="javascript:;" target="_blank">@dr["zhaiyao"]</a></div>
                                          <div class="seller-level">黄金</div>
                                       </div>
                                    </div>

                                    <div class="promotion-tags"></div>
                                    <div class="goodsaction">
                                       <ul>
                                          <li class="buy-count"><em>@bll_article.GetClick((int)dr["id"])</em><br>阅读量</li>
                                          <li class="comment-count">@bll_article.GetStockQuantity((int)dr["id"])<br>库存数量</li>
                                          <li class="actions">
                                             <div class="goods-action">
                                                <div class="goods-buy">
                                                   <!-- 加入购物车 -->
                                                   <span class="p-quantity">
                                                      <a href="javascript:void(0);" class="btn-decrease">&nbsp;</a><input type="text" min="1" max="500" size="2" name="goods[num]" class="action-quantity-input" value="1"><a href="javascript:void(0);" class="btn-increase">&nbsp;</a>
                                                   </span>
                                                   <a class="btn btn-major action-addtocart" href="@bc.linkurl("goods_show", dr["id"])" target="_dialog_minicart">购买</a>
                                                </div>
                                                <div class="goods-others">
                                                   <a href="@bc.linkurl("goods_show", dr["id"])" class="btn-fav">收藏</a>
                                                </div>
                                             </div>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </li>
                           }
                           }
                        </ul>
                     </div>
                     <div class="pageview">@Html.Raw(pagelist)</div>
                  </div>
               </div>
            </div>
			</div><!-- end nch-module-style01 -->
		</div><!-- end right -->
		<div class="clear"></div>
	</div>
</div>


