@using System.Data;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_LayoutList.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   ViewBag.Title = site.seo_title + "- 购物商城";
   GoodsController c = ViewBag.Controller as GoodsController;
   string channel = "ePortal_goods";
   DataRowCollection categoryList = c.get_category_child_list(channel, 0).Rows;
   DataRowCollection slideList = c.get_article_list("ePortal_goods", 0, 8, "status=0 and is_slide=1 and img_url<>''").Rows;
   
}

@section HeaderContent{
   <script src="~/templates/@ViewBag.TemplateSkin/web/js/jquery.flexslider-min.js"></script>
}

@section Scripts{
<script>
   $(document).ready(function () {
      $(".items_show .title a").mouseover(function () {
         $(this).addClass("bg").siblings().removeClass("bg");
         return $(".items_show .content .products").eq($(this).index()).removeClass("hide").siblings(".items_show .content .products").addClass("hide");
      });
      $("#f1 .floor_tag li").mouseover(function () {
         $(this).addClass("hover").siblings().removeClass("hover");
         $("#f1 .f_con .floor_content").addClass("hover").siblings().removeClass("hover");
         return $("#f1 .f_con .floor_content").eq($(this).index()).removeClass("hide").siblings("#f1 .f_con .floor_content").addClass("hide");
      });
      $("#f2 .floor_tag li").mouseover(function () {
         $(this).addClass("hover").siblings().removeClass("hover");
         $("#f2 .f_con .floor_content").addClass("hover").siblings().removeClass("hover");
         return $("#f2 .f_con .floor_content").eq($(this).index()).removeClass("hide").siblings("#f2 .f_con .floor_content").addClass("hide");
      });
      $("#f3 .floor_tag li").mouseover(function () {
         $(this).addClass("hover").siblings().removeClass("hover");
         $("#f3 .f_con .floor_content").addClass("hover").siblings().removeClass("hover");
         return $("#f3 .f_con .floor_content").eq($(this).index()).removeClass("hide").siblings("#f3 .f_con .floor_content").addClass("hide");
      });
      $("#f4 .floor_tag li").mouseover(function () {
         $(this).addClass("hover").siblings().removeClass("hover");
         $("#f4 .f_con .floor_content").addClass("hover").siblings().removeClass("hover");
         return $("#f4 .f_con .floor_content").eq($(this).index()).removeClass("hide").siblings("#f4 .f_con .floor_content").addClass("hide");
      });
      $("#f5 .floor_tag li").mouseover(function () {
         $(this).addClass("hover").siblings().removeClass("hover");
         $("#f5 .f_con .floor_content").addClass("hover").siblings().removeClass("hover");
         return $("#f5 .f_con .floor_content").eq($(this).index()).removeClass("hide").siblings("#f5 .f_con .floor_content").addClass("hide");
      });
      $("#f6 .floor_tag li").mouseover(function () {
         $(this).addClass("hover").siblings().removeClass("hover");
         $("#f6 .f_con .floor_content").addClass("hover").siblings().removeClass("hover");
         return $("#f6 .f_con .floor_content").eq($(this).index()).removeClass("hide").siblings("#f6 .f_con .floor_content").addClass("hide");
      });
      $("#f7 .floor_tag li").mouseover(function () {
         $(this).addClass("hover").siblings().removeClass("hover");
         $("#f7 .f_con .floor_content").addClass("hover").siblings().removeClass("hover");
         return $("#f7 .f_con .floor_content").eq($(this).index()).removeClass("hide").siblings("#f7 .f_con .floor_content").addClass("hide");
      });
      $("#f8 .floor_tag li").mouseover(function () {
         $(this).addClass("hover").siblings().removeClass("hover");
         $("#f8 .f_con .floor_content").addClass("hover").siblings().removeClass("hover");
         return $("#f8 .f_con .floor_content").eq($(this).index()).removeClass("hide").siblings("#f8 .f_con .floor_content").addClass("hide");
      });
      $("#f9 .floor_tag li").mouseover(function () {
         $(this).addClass("hover").siblings().removeClass("hover");
         $("#f9 .f_con .floor_content").addClass("hover").siblings().removeClass("hover");
         return $("#f9 .f_con .floor_content").eq($(this).index()).removeClass("hide").siblings("#f9 .f_con .floor_content").addClass("hide");
      });

      //首页浮动条以及左右侧边
      var mininav = 0;
      $(window).scroll(function () {
         // mini nav
         if ($(window).scrollTop() > 340 && mininav == 0) {
            $("#floor_slider").fadeIn(500);
            mininav = 1;
         }
         if ($(window).scrollTop() < 340 && mininav == 1) {
            $("#floor_slider").fadeOut(500);
            mininav = 0;
         }

         var s_slide = 300;
         var s_this = $(window).scrollTop() + s_slide;
         var f9 = $("#f9");
         if (f9.length > 0) {
            var f9t = $f9.offset().top;
            if (s_this >= f9t && s_this < f9t + 500) {
               $(".floor_slider ul li:eq(8)").addClass("hover").siblings().removeClass("hover");
               $(".i_f9 i").animate({ "height": "31px" }, 1200);
               console.log(f1t);
            }
            return;
         }
         var f8 = $("#f8");
         if (f8.length > 0) {
            var f8t = f8.offset().top;
            if (s_this >= f8t) {
               $(".floor_slider ul li:eq(7)").addClass("hover").siblings().removeClass("hover");
               $(".i_f8 i").animate({ "height": "31px" }, 1200);
               console.log(f1t);
               return;
            }
         }
         var f7 = $("#f7");
         if (f7.length > 0) {
            var f7t = f7.offset().top;
            if (s_this >= f7t) {
               $(".floor_slider ul li:eq(6)").addClass("hover").siblings().removeClass("hover");
               $(".i_f7 i").animate({ "height": "31px" }, 1200);
               console.log(f1t);
               return;
            }
         }
         var f6 = $("#f6");
         if (f6.length > 0) {
            var f6t = f6.offset().top;
            if (s_this >= f6t) {
               $(".floor_slider ul li:eq(5)").addClass("hover").siblings().removeClass("hover");
               console.log(f1t);
               return;
            }
         }
         var f5 = $("#f5");
         if (f5.length > 0) {
            var f5t = f5.offset().top;
            if (s_this >= f5t) {
               $(".floor_slider ul li:eq(4)").addClass("hover").siblings().removeClass("hover");
               console.log(f1t);
               return;
            }
         }
         var f4 = $("#f4");
         if (f4.length > 0) {
            var f4t = f4.offset().top;
            if (s_this >= f4t) {
               $(".floor_slider ul li:eq(3)").addClass("hover").siblings().removeClass("hover");
               console.log(f1t);
               return;
            }
         }
         var f3 = $("#f3");
         if (f3.length > 0) {
            var f3t = f3.offset().top;
            if (s_this >= f3t) {
               $(".floor_slider ul li:eq(2)").addClass("hover").siblings().removeClass("hover");
               console.log(f1t);
               return;
            }
         }
         var f2 = $("#f2");
         if (f2.length > 0) {
            var f2t = f2.offset().top;
            if (s_this >= f2t && s_this < f3t) {
               $(".floor_slider ul li:eq(1)").addClass("hover").siblings().removeClass("hover");
               console.log(f1t);
               return;
            }
         }
         var f1 = $("#f1");
         if (f1.length > 0) {
            var f1t = $("#f1").offset().top;
            if (s_this >= f1t) {
               $(".floor_slider ul li:eq(0)").addClass("hover").siblings().removeClass("hover");
               console.log(f1t);
               return;
            }
         }
      });


   })
   //回到顶部动作
   function click_top(a) {
      var scroll_offset = $("#" + a).offset();  //得到logo这个div层的offset，包含两个值，top和left
      $("body,html").animate({
         scrollTop: scroll_offset.top - 50  //让body的scrollTop等于pos的top，就实现了滚动
      }, 500);
   }

   //初始化首页轮播图
   $(function () {
      $(".focusbox").flexslider({
         directionNav: false,
         pauseOnAction: true
      });
   });
</script>
}
<div class="banner-box rel">
	<!--幻灯 start-->
   <!-- ad_slide 版块模板 选择 首页大轮播图 -->
   <div style="height: 450px; overflow: hidden; position: relative;">
      <div class="focusbox">
         <ul class="slides">
            <li class="switchable-panel" style='background: url("@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/banner-1.jpg") top; width: 100%; height: 100%; position: absolute; z-index: 1; opacity: 0;'>
               <a style="width: 100%; height: 450px; display: block;" href="@c.linkurl("index")"></a>
            </li>

            <li class="switchable-panel" style='background: url("@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/banner-2.jpg") top; width: 100%; height: 100%; position: absolute; z-index: 1; opacity: 0;'>
               <a style="width: 100%; height: 450px; display: block;" href="@c.linkurl("index")"></a>
            </li>
            <!--foreach (DataRow dr in slideList) {
           <li style='background: url("dr["img_url"]") top; width: 100%; height: 100%; display: none'>
            <a style="width: 100%; height: 450px; display: block;" title="dr["title"]" href="c.linkurl("news_show",dr["id"])">
              <span class="note-bg"></span>
              <span class="note-txt">dr["title"]</span>
            </a>
          </li>                           
            }-->
         </ul>
      </div>
   </div>
	<!--幻灯 end-->
</div>


<!-- 1楼 start -->
@if(categoryList.Count >= 1){
<div class="flow flow02 w1200" id="f1">
	<div class="top-title">
    	<div class="tl fl">
        	1F @categoryList[0]["title"]
        </div>
        <div class="tab fr floor_tag">
        	<ul>
            <!--插入tag-->
            	<li class="hover">@categoryList[0]["title"]</li>
                <li></li>
                <li class="clear"></li>
            <!--插入tagEND-->
            </ul>
        </div>
    </div>
    <div class="flow-cont">
    	<div class="fc-l fl">
        	<div class="f_ad1">
            <img width="247" height="362" alt="" src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/f1-ad-1.jpg" /><!--图片高度357-->
            <div class="f_ad2"><!--{widgets id=nav1}--></div>
            <div class="f_ad3"><!--{widgets id=nav2}--></div>
            </div>
            <div class="f_ad4"><img width="247" height="152" alt="" src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/f1-ad-4.jpg" /><!--图片高度148--></div>
        </div>
        <div class="fc-r fr f_con">
            <!--插入tag内容-->
			<div class="floor_content">
				<div class="left">
                  <ul class="flow2-list">
                     @foreach(DataRow dr in c.get_article_list(channel, Convert.ToInt32(categoryList[0]["id"]), 8, "status=0").Rows){
                     <li class="fl" style="position: relative;">
                        <div class="img">
                           <a href="@c.linkurl("goods_show",dr["id"])" target="_blank">
                              <img title="@dr["title"]" class="lazy" style="width: 170px; height: 170px; display: inline;" src="@dr["img_url"]" data-original="@dr["img_url"]">
                           </a>
                        </div>
                        <div class="name">
                           <a href="@c.linkurl("goods_show",dr["id"])" target="_blank">@dr["title"]</a>
                        </div>
                        <div class="price">
                           <b>
                              <!--<i class="iconfont icon-renminbi"></i>-->
                              ￥@dr["sell_price"]</b><del><!--<i class="iconfont icon-renminbi"></i>-->￥@dr["market_price"]</del>
                        </div>
                     </li>                        
                     }
                     <div class="clear"></div>
                  </ul>
				</div>
            <div class="right">
                   <span><!--{widgets id="img3"}--></span>
                   <span><!--{widgets id="img4"}--></span>
            </div>
			</div>

			<div class="floor_content hide">
				<div class="left"><!--{widgets id="goods_list_211a"}--></div>
                <div class="right">
                   <span><!--{widgets id="img5a"}--></span>
                   <span><!--{widgets id="img6a"}--></span>
                </div>
			</div>
            <!--插入tag内容END-->
            
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="flow w1200">
    <DIV CLASS="minibanner_INDEX"><img width="1200" height="242" alt="" src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/f1-banner-1.jpg" /></DIV>
</div>
}
<!-- 1楼 END -->

<!-- 2楼 start -->
@if (categoryList.Count >= 2) {
<div class="flow flow02 w1200" id="f2">
	<div class="top-title">
    	<div class="tl fl">
        	2F @categoryList[1]["title"]
        </div>
        <div class="tab fr floor_tag">
        	<ul>
            <!--插入tag-->
            	<li class="hover">@categoryList[1]["title"]</li>
                <li></li>
                <li class="clear"></li>
            <!--插入tagEND-->
            </ul>
        </div>
    </div>
    <div class="flow-cont">
    	<div class="fc-l fl">
        	<div class="f_ad1">
            <img width="247" height="514" alt="" class="lazy" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/f2-ad-1.jpg"><!--图片高度357-->
            <div class="f_ad2"><!--{widgets id=nav12}--></div>
            <div class="f_ad3"><!--{widgets id=nav22}--></div>
         </div>
         <div class="f_ad4"><!--图片高度148--></div>
        </div>
        <div class="fc-r fr f_con">
            <!--插入tag内容-->
			<div class="floor_content">
				<div class="left">
                  <ul class="flow2-list">
                     @foreach(DataRow dr in c.get_article_list(channel, Convert.ToInt32(categoryList[1]["id"]), 8, "status=0").Rows){
                     <li class="fl" style="position: relative;">
                        <div class="img">
                           <a href="@c.linkurl("goods_show",dr["id"])" target="_blank">
                              <img title="@dr["title"]" class="lazy" style="width: 170px; height: 170px; display: inline;" data-original="@dr["img_url"]">
                           </a>
                        </div>
                        <div class="name">
                           <a href="@c.linkurl("goods_show",dr["id"])" target="_blank">@dr["title"]</a>
                        </div>
                        <div class="price">
                           <b>
                              <!--<i class="iconfont icon-renminbi"></i>-->
                              ￥@dr["sell_price"]</b><del><!--<i class="iconfont icon-renminbi"></i>-->￥@dr["market_price"]</del>
                        </div>
                     </li>                        
                     }
                     <div class="clear"></div>
                  </ul>
				</div>
                <div class="right">
                   <span><!--{widgets id="img32"}--></span>
                   <span><!--{widgets id="img42"}--></span>
                </div>
			</div>

			<div class="floor_content hide">
				<div class="left"><!--{widgets id="goods_list_211a2"}--></div>
                <div class="right">
                   <span><!--{widgets id="img5a2"}--></span>
                   <span><!--{widgets id="img6a2"}--></span>
                </div>
			</div>
            <!--插入tag内容END-->
            
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="flow w1200">
    <DIV CLASS="minibanner_INDEX"><img alt="" class="lazy" src="#" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/f2-banner-1.jpg" /></DIV>
</div>
}
<!-- 2楼 END -->

<!-- 3楼 start -->
@if (categoryList.Count >= 3) {
<div class="flow flow02 w1200" id="f3">
	<div class="top-title">
    	<div class="tl fl">
        	3F @categoryList[2]["title"]
        </div>
        <div class="tab fr floor_tag">
        	<ul>
            <!--插入tag-->
            	<li class="hover">@categoryList[2]["title"]</li>
                <li></li>
                <li class="clear"></li>
            <!--插入tagEND-->
            </ul>
        </div>
    </div>
    <div class="flow-cont">
    	<div class="fc-l fl">
        	<div class="f_ad1">
            <img alt="" src="#" class="lazy" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/f3-ad-1.jpg"><!--图片高度357-->
            <div class="f_ad2"><!--{widgets id=nav123}--></div>
            <div class="f_ad3"><!--{widgets id=nav223}--></div>
            </div>
            <div class="f_ad4"><!--图片高度148--></div>
        </div>
        <div class="fc-r fr f_con">
            <!--插入tag内容-->
			<div class="floor_content">
				<div class="left">
                  <ul class="flow2-list">
                     @foreach(DataRow dr in c.get_article_list(channel, Convert.ToInt32(categoryList[2]["id"]), 8, "status=0").Rows){
                     <li class="fl" style="position: relative;">
                        <div class="img">
                           <a href="@c.linkurl("goods_show",dr["id"])" target="_blank">
                              <img title="@dr["title"]" class="lazy" style="width: 170px; height: 170px; display: inline;" data-original="@dr["img_url"]">
                           </a>
                        </div>
                        <div class="name">
                           <a href="@c.linkurl("goods_show",dr["id"])" target="_blank">@dr["title"]</a>
                        </div>
                        <div class="price">
                           <b>
                              <!--<i class="iconfont icon-renminbi"></i>-->
                              ￥@dr["sell_price"]</b><del><!--<i class="iconfont icon-renminbi"></i>-->￥@dr["market_price"]</del>
                        </div>
                     </li>                        
                     }
                     <div class="clear"></div>
                  </ul>               
				</div>
                <div class="right">
                   <span><!--{widgets id="img323"}--></span>
                   <span><!--{widgets id="img423"}--></span>
                </div>
			</div>

			<div class="floor_content hide">
				<div class="left"><!--{widgets id="goods_list_211a23"}--></div>
                <div class="right">
                   <span><!--{widgets id="img5a23"}!--></span>
                   <span><!--{widgets id="img6a23"}!--></span>
                </div>
			</div>
            <!--插入tag内容END-->
            
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="flow w1200">
    <div CLASS="minibanner_INDEX"><img alt="" class="lazy" src="#" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/f3-banner-1.jpg" /></div>
</div>
}
<!-- 3楼 END -->

<!-- 4楼 start -->
@if (categoryList.Count >= 4) {
<div class="flow flow02 w1200" id="f4">
	<div class="top-title">
    	<div class="tl fl">
        	4F @categoryList[3]["title"]
        </div>
        <div class="tab fr floor_tag">
        	<ul>
            <!--插入tag-->
            	<li class="hover">热卖推荐</li>
            	<li><!--{widgets id="comment_text_2224"}--></li>
                <li><!--{widgets id="comment_text_2324"}--></li>
                <li><!--{widgets id="comment_text_2424"}--></li>
                <li><!--{widgets id="comment_text_11939"}--></li>
                <li><!--{widgets id="comment_text_11940"}--></li>
                <li><!--{widgets id="comment_text_11941"}--></li>
                <li class="clear"></li>
            <!--插入tagEND-->
            </ul>
        </div>
    </div>
    <div class="flow-cont">
    	<div class="fc-l fl">
        	<div class="f_ad1">
            <!--{widgets id="img124"}--><!--图片高度357-->
            <div class="f_ad2"><!--{widgets id=nav124}--></div>
            <div class="f_ad3"><!--{widgets id=nav224}--></div>
            </div>
            <div class="f_ad4"><!--{widgets id="img224"}--><!--图片高度148--></div>
        </div>
        <div class="fc-r fr f_con">
            <!--插入tag内容-->
            <div class="floor_content hover">
				<div class="jxtj_1"><!--{widgets id="comment_jxtj_41"}--></div>
                <div class="jxtj_2"><!--{widgets id="comment_jxtj_42"}--></div>
                <div class="jxtj_2"><!--{widgets id="comment_jxtj_43"}--></div>
                <div class="jxtj_2"><!--{widgets id="comment_jxtj_44"}--></div>
                <div class="jxtj_1"><!--{widgets id="comment_jxtj_45"}--></div>
                <div class="jxtj_2"><!--{widgets id="comment_jxtj_46"}--></div>
                <div class="jxtj_2"><!--{widgets id="comment_jxtj_47"}--></div>
                <div class="jxtj_2"><!--{widgets id="comment_jxtj_48"}--></div>
			</div>
			<div class="floor_content hide">
				<div class="left"><!--{widgets id="goods_list_2224"}--></div>
                <div class="right">
                   <span><!--{widgets id="img324"}--></span>
                   <span><!--{widgets id="img424"}--></span>
                </div>
			</div>

			<div class="floor_content hide">
				<div class="left"><!--{widgets id="goods_list_211a24"}--></div>
                <div class="right">
                   <span><!--{widgets id="img5a24"}--></span>
                   <span><!--{widgets id="img6a24"}--></span>
                </div>
			</div>
            
            <div class="floor_content hide">
				<div class="left"><!--{widgets id="goods_list_21124"}--></div>
                <div class="right">
                   <span><!--{widgets id="img524"}--></span>
                   <span><!--{widgets id="img624"}--></span>
                </div>
			</div>
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_11942"}></div>
                <div class="right">
                   <span><{widgets id="img11943"}></span>
                   <span><{widgets id="img11944"}></span>
                </div>
			</div>
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_11945"}></div>
                <div class="right">
                   <span><{widgets id="img11946"}></span>
                   <span><{widgets id="img11947"}></span>
                </div>
			</div>
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_11948"}></div>
                <div class="right">
                   <span><{widgets id="img11949"}></span>
                   <span><{widgets id="img11950"}></span>
                </div>
			</div>
            <!--插入tag内容END-->
            
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="flow w1200">
    <DIV CLASS="BRAND_INDEX">
      <span><i></i>
         <img title="" class="lazy" alt=""
            data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/7ef8728d41569c6e7df52a1a1b25f00ca0e837c2.gif?1476793381#w">
      </span><span><i></i>
         <img title="" class="lazy" alt="" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/89d4b9e84c04b9cb0669f1ea2589a14655d1e42e.gif?1476793403#w">
      </span><span><i></i>
         <img title="" class="lazy" alt="" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/1811fa8b20bffdff55fa863606171b0c7b1606a6.gif?1476793414#w">
      </span><span><i></i>
         <img title="" class="lazy" alt="" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/0161f26c3b4453589beb6ff473871b918467c9e1.gif?1476793426#w">
      </span><span><i></i>
         <img title="" class="lazy" alt="" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/d88193692bf3967f47867b6fadeb68450ea5dcfe.gif?1476793456#w">
      </span><span><i></i>
         <img title="" class="lazy" alt="" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/d68f8b7a2afd7a7e0e226be120947a473190a77a.gif?1476793471#w">
      </span><span><i></i>
         <img title="" class="lazy" alt="" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/c5119d69ac8830725b7fa7c3c847a042743d2e65.gif?1476793493#w">
      </span><span><i></i>
         <img title="" class="lazy" alt="" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/19f953c78c2fdb0ae6a868b1706c03ea1f259993.jpg?1476793503#w">
      </span><span><i></i>
         <img title="" class="lazy" alt="" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/a8164eb04a463b9149ab081593685c5b43666c00.jpg?1476793515#w">
      </span><span><i></i>
         <img title="" class="lazy" alt="" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/e93505c365a69d20a4da2bb93d230fc061054ca6.jpg?1476796905#w">
      </span>
    </DIV>
</div>
<div class="clear"></div>
<div class="flow w1200">
    <DIV CLASS="minibanner_INDEX">
      <img alt="" src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/c750d6ffd71c6bc2fde08ff29b6f0b95f9b95484.jpg">
    </DIV>
</div>
}
<!-- 4楼 END -->

<!-- 5楼 start -->
@if (categoryList.Count >= 5) {
<div class="flow flow02 w1200" id="f5">
	<div class="top-title">
    	<div class="tl fl">
        	5F @categoryList[4]["title"]
        </div>
        <div class="tab fr floor_tag">
        	<ul>
            <!--插入tag-->
            	<li class="hover">热卖推荐</li>
            	<li><!--{widgets id="comment_text_2225"}--></li>
                <li><!--{widgets id="comment_text_2425"}--></li>
                <li class="clear"></li>
            <!--插入tagEND-->
            </ul>
        </div>
    </div>
    <div class="flow-cont">
    	<div class="fc-l fl">
        	<div class="f_ad1">
            <{widgets id="img125"}><!--图片高度357-->
            <div class="f_ad2"><{widgets id=nav125}></div>
            <div class="f_ad3"><{widgets id=nav225}></div>
            </div>
            <div class="f_ad4"><{widgets id="img225"}><!--图片高度148--></div>
        </div>
        <div class="fc-r fr f_con">
            <!--插入tag内容-->
            <div class="floor_content hover">
				<div class="jxtj_1"><{widgets id="comment_jxtj_51"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_52"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_53"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_54"}></div>
                <div class="jxtj_1"><{widgets id="comment_jxtj_55"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_56"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_57"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_58"}></div>
			</div>
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_2225"}></div>
                <div class="right">
                   <span><{widgets id="img325"}></span>
                   <span><{widgets id="img425"}></span>
                </div>
			</div>
            
            <div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_21125"}></div>
                <div class="right">
                   <span><{widgets id="img525"}></span>
                   <span><{widgets id="img625"}></span>
                </div>
			</div>
            <!--插入tag内容END-->
            
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="flow w1200">
    <DIV CLASS="BRAND_INDEX">
      <span><i></i>
         <img title="" class="lazy" alt=""
            data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/5b5e2673b40406ce7a181e177fdcccdfd763fddd.gif?1476794282#w">
      </span><span><i></i>
         <img title="" class="lazy" alt="" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/ef3f47d4e1b67b58abbe59f91a2acc8231bca2f2.gif?1476794290#w">
      </span><span><i></i>
         <img title="" class="lazy" alt="" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/5660102f9afb53d9a2027804774ae061633b7cac.jpg?1476794303#w">
      </span><span><i></i>
         <img title="" class="lazy" alt="" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/166de4921830a567fadfd52246e1fe215b41cc9b.gif?1476794323#w">
      </span><span><i></i>
         <img title="" class="lazy" alt="" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/2f92410d9fcec447a1032a4b25ad96ecc6b57c72.jpg?1476794350#w">
      </span><span><i></i>
         <img title="" class="lazy" alt="" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/397b54bbb78e9aeead1cbb5c8662114b0eb8c647.jpg?1476794365#w">
      </span><span><i></i>
         <img title="" class="lazy" alt="" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/fc3f14b27520a0669a03153a0ccbf031edc6bb54.jpg?1476794384#w">
      </span><span><i></i>
         <img title="" class="lazy" alt="" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/f14e179e281d602de293282b2c20b03508985dd2.gif?1476794403#w">
      </span><span><i></i>
         <img title="" class="lazy" alt="" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/556e8bacee48c4ea6cd1ded884df4a59c8bdf63e.gif?1476794419#w">
      </span><span><i></i>
         <img title="" class="lazy" alt="" data-original="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/01f44fba20e6aa375135abea1cffaaaa6fe68891.gif?1476794448#w">
      </span>
    </DIV>
</div>
<div class="clear"></div>
<div class="flow w1200">
    <DIV CLASS="minibanner_INDEX">
      <img alt="" src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/9904979856b5cbf0f3f18b88607adf4c3c4604b5.jpg" />
    </DIV>
</div>
}
<!-- 5楼 END -->

<!-- 6楼 start -->
@if (categoryList.Count >= 6) {
<div class="flow flow02 w1200 hide" id="f6">
	<div class="top-title">
    	<div class="tl fl">
        	<{widgets id="comment_text_0226"}>
        </div>
        <div class="tab fr floor_tag">
        	<ul>
            <!--插入tag-->
            	<li class="hover">热卖推荐</li>
            	<li><{widgets id="comment_text_2226"}></li>
                <li><{widgets id="comment_text_2326"}></li>
                <li><{widgets id="comment_text_11963"}></li>
                <li><{widgets id="comment_text_11964"}></li>
                <li class="clear"></li>
            <!--插入tagEND-->
            </ul>
        </div>
    </div>
    <div class="flow-cont">
    	<div class="fc-l fl">
        	<div class="f_ad1">
            <{widgets id="img126"}><!--图片高度357-->
            <div class="f_ad2"><{widgets id=nav126}></div>
            <div class="f_ad3"><{widgets id=nav226}></div>
            </div>
            <div class="f_ad4"><{widgets id="img226"}><!--图片高度148--></div>
        </div>
        <div class="fc-r fr f_con">
            <!--插入tag内容-->
            <div class="floor_content hover">
				<div class="jxtj_1"><{widgets id="comment_jxtj_61"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_62"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_63"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_64"}></div>
                <div class="jxtj_1"><{widgets id="comment_jxtj_65"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_66"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_67"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_68"}></div>
			</div>
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_2226"}></div>
                <div class="right">
                   <span><{widgets id="img326"}></span>
                   <span><{widgets id="img426"}></span>
                </div>
			</div>

			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_211a26"}></div>
                <div class="right">
                   <span><{widgets id="img5a26"}></span>
                   <span><{widgets id="img6a26"}></span>
                </div>
			</div>
            
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_11966"}></div>
                <div class="right">
                   <span><{widgets id="img11967"}></span>
                   <span><{widgets id="img11968"}></span>
                </div>
			</div>
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_11969"}></div>
                <div class="right">
                   <span><{widgets id="img11970"}></span>
                   <span><{widgets id="img11971"}></span>
                </div>
			</div>
            <!--插入tag内容END-->
            
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="flow w1200 hide">
    <DIV CLASS="BRAND_INDEX"><{widgets id="brand126"}></DIV>
</div>
<div class="clear"></div>
<div class="flow w1200 hide">
    <DIV CLASS="minibanner_INDEX"><{widgets id="img726"}></DIV>
</div>
}
<!-- 6楼 END -->

<!-- 7楼 start -->
@if (categoryList.Count >= 7) {
<div class="flow flow02 w1200 hide" id="f7">
	<div class="top-title">
    	<div class="tl fl">
        	7F @categoryList[6]["title"]
        </div>
        <div class="tab fr floor_tag">
        	<ul>
            <!--插入tag-->
            	<li class="hover">热卖推荐</li>
            	<li><{widgets id="comment_text_2227"}></li>
                <li><{widgets id="comment_text_2327"}></li>
                <li><{widgets id="comment_text_2427"}></li>
                <li><{widgets id="comment_text_11975"}></li>
                <li><{widgets id="comment_text_11976"}></li>
                <li><{widgets id="comment_text_11977"}></li>
                <li class="clear"></li>
            <!--插入tagEND-->
            </ul>
        </div>
    </div>
    <div class="flow-cont">
    	<div class="fc-l fl">
        	<div class="f_ad1">
            <{widgets id="img127"}><!--图片高度357-->
            <div class="f_ad2"><{widgets id=nav127}></div>
            <div class="f_ad3"><{widgets id=nav227}></div>
            </div>
            <div class="f_ad4"><{widgets id="img227"}><!--图片高度148--></div>
        </div>
        <div class="fc-r fr f_con">
            <!--插入tag内容-->
            <div class="floor_content hover">
				<div class="jxtj_1"><{widgets id="comment_jxtj_n71"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_n72"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_n73"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_n74"}></div>
                <div class="jxtj_1"><{widgets id="comment_jxtj_n75"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_n76"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_n77"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_n78"}></div>
			</div>
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_2227"}></div>
                <div class="right">
                   <span><{widgets id="img327"}></span>
                   <span><{widgets id="img427"}></span>
                </div>
			</div>

			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_211a27"}></div>
                <div class="right">
                   <span><{widgets id="img5a27"}></span>
                   <span><{widgets id="img6a27"}></span>
                </div>
			</div>
            
            <div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_21127"}></div>
                <div class="right">
                   <span><{widgets id="img527"}></span>
                   <span><{widgets id="img627"}></span>
                </div>
			</div>
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_11981"}></div>
                <div class="right">
                   <span><{widgets id="img11982"}></span>
                   <span><{widgets id="img11983"}></span>
                </div>
			</div>
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_11984"}></div>
                <div class="right">
                   <span><{widgets id="img11985"}></span>
                   <span><{widgets id="img11986"}></span>
                </div>
			</div>
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_11987"}></div>
                <div class="right">
                   <span><{widgets id="img11988"}></span>
                   <span><{widgets id="img11989"}></span>
                </div>
			</div>
            <!--插入tag内容END-->
            
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="flow w1200 hide">
    <DIV CLASS="BRAND_INDEX"><{widgets id="brand127"}></DIV>
</div>
<div class="clear"></div>
<div class="flow w1200 hide">
    <DIV CLASS="minibanner_INDEX"><{widgets id="img727"}></DIV>
</div>
}
<!-- 7楼 END -->

<!-- 8楼 start -->
@if (categoryList.Count >= 8) {
<div class="flow flow02 w1200 hide" id="f8">
	<div class="top-title">
    	<div class="tl fl">
        	8F @categoryList[7]["title"]
        </div>
        <div class="tab fr floor_tag">
        	<ul>
            <!--插入tag-->
            	<li class="hover">热卖推荐</li>
            	<li><{widgets id="comment_text_2228"}></li>
                <li><{widgets id="comment_text_2328"}></li>
                <li><{widgets id="comment_text_2428"}></li>
                <li><{widgets id="comment_text_11990"}></li>
                <li><{widgets id="comment_text_11991"}></li>
                <li><{widgets id="comment_text_11992"}></li>
                <li class="clear"></li>
            <!--插入tagEND-->
            </ul>
        </div>
    </div>
    <div class="flow-cont">
    	<div class="fc-l fl">
        	<div class="f_ad1">
            <{widgets id="img128"}><!--图片高度357-->
            <div class="f_ad2"><{widgets id=nav128}></div>
            <div class="f_ad3"><{widgets id=nav228}></div>
            </div>
            <div class="f_ad4"><{widgets id="img228"}><!--图片高度148--></div>
        </div>
        <div class="fc-r fr f_con">
            <!--插入tag内容-->
            <div class="floor_content hover">
				<div class="jxtj_1"><{widgets id="comment_jxtj_81"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_82"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_83"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_84"}></div>
                <div class="jxtj_1"><{widgets id="comment_jxtj_85"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_86"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_87"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_88"}></div>
			</div>
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_2228"}></div>
                <div class="right">
                   <span><{widgets id="img328"}></span>
                   <span><{widgets id="img428"}></span>
                </div>
			</div>

			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_211a28"}></div>
                <div class="right">
                   <span><{widgets id="img5a28"}></span>
                   <span><{widgets id="img6a28"}></span>
                </div>
			</div>
            
            <div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_21128"}></div>
                <div class="right">
                   <span><{widgets id="img528"}></span>
                   <span><{widgets id="img628"}></span>
                </div>
			</div>
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_11993"}></div>
                <div class="right">
                   <span><{widgets id="img11994"}></span>
                   <span><{widgets id="img11995"}></span>
                </div>
			</div>
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_11996"}></div>
                <div class="right">
                   <span><{widgets id="img11997"}></span>
                   <span><{widgets id="img11998"}></span>
                </div>
			</div>
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_11999"}></div>
                <div class="right">
                   <span><{widgets id="img12000"}></span>
                   <span><{widgets id="img12001"}></span>
                </div>
			</div>
            <!--插入tag内容END-->
            
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="flow w1200 hide">
    <DIV CLASS="BRAND_INDEX"><{widgets id="brand128"}></DIV>
</div>
<div class="clear"></div>
<div class="flow w1200 hide">
    <DIV CLASS="minibanner_INDEX"><{widgets id="img728"}></DIV>
</div>
}
<!-- 8楼 END -->

<!-- 9楼 start -->
@if (categoryList.Count >= 9) {
<div class="flow flow02 w1200 hide" id="f9">
	<div class="top-title">
    	<div class="tl fl">
        	9F @categoryList[8]["title"]
        </div>
        <div class="tab fr floor_tag">
        	<ul>
            <!--插入tag-->
            	<li class="hover">热卖推荐</li>
            	<li><{widgets id="comment_text_2229"}></li>
                <li><{widgets id="comment_text_2329"}></li>
                <li><{widgets id="comment_text_2429"}></li>
                <li><{widgets id="comment_text_12002"}></li>
                <li><{widgets id="comment_text_12003"}></li>
                <li><{widgets id="comment_text_12004"}></li>
                <li class="clear"></li>
            <!--插入tagEND-->
            </ul>
        </div>
    </div>
    <div class="flow-cont">
    	<div class="fc-l fl">
        	<div class="f_ad1">
            <{widgets id="img129"}><!--图片高度357-->
            <div class="f_ad2"><{widgets id=nav129}></div>
            <div class="f_ad3"><{widgets id=nav229}></div>
            </div>
            <div class="f_ad4"><{widgets id="img229"}><!--图片高度148--></div>
        </div>
        <div class="fc-r fr f_con">
            <!--插入tag内容-->
            <div class="floor_content hover">
				<div class="jxtj_1"><{widgets id="comment_jxtj_91"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_92"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_93"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_94"}></div>
                <div class="jxtj_1"><{widgets id="comment_jxtj_95"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_96"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_97"}></div>
                <div class="jxtj_2"><{widgets id="comment_jxtj_98"}></div>
			</div>
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_2229"}></div>
                <div class="right">
                   <span><{widgets id="img329"}></span>
                   <span><{widgets id="img429"}></span>
                </div>
			</div>

			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_211a29"}></div>
                <div class="right">
                   <span><{widgets id="img5a29"}></span>
                   <span><{widgets id="img6a29"}></span>
                </div>
			</div>
            
            <div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_21129"}></div>
                <div class="right">
                   <span><{widgets id="img529"}></span>
                   <span><{widgets id="img629"}></span>
                </div>
			</div>
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_12005"}></div>
                <div class="right">
                   <span><{widgets id="img12006"}></span>
                   <span><{widgets id="img12007"}></span>
                </div>
			</div>
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_12008"}></div>
                <div class="right">
                   <span><{widgets id="img12009"}></span>
                   <span><{widgets id="img12010"}></span>
                </div>
			</div>
			<div class="floor_content hide">
				<div class="left"><{widgets id="goods_list_12011"}></div>
                <div class="right">
                   <span><{widgets id="img12012"}></span>
                   <span><{widgets id="img12013"}></span>
                </div>
			</div>
            <!--插入tag内容END-->
            
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="flow w1200 hide">
    <DIV CLASS="BRAND_INDEX"><{widgets id="brand129"}></DIV>
</div>
<div class="clear"></div>
<div class="flow w1200 hide">
    <DIV CLASS="minibanner_INDEX"><{widgets id="img729"}></DIV>
</div>
}
<!-- 9楼 END -->

<!--楼层侧边-->
<div class="floor_slider" id="floor_slider" style="display:none">
  <ul>
     @for (int i = 1; i <= categoryList.Count; i++) {
        <li onclick='click_top("f@(i)");'><span><img src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/@(i).png"> @(i)F</span><dd>@categoryList[i - 1]["title"]</dd></li>
     }
     <li onclick='click_top("top_new_top");'><span><img src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/top.png" STYLE="WIDTH:auto;padding-left:9px"></span><dd>回顶部</dd></li>
  </ul>
</div>
<script>
   $(document).ready(function () {
      $(".items_show .title a").mouseover(function () {
         $(this).addClass("bg").siblings().removeClass("bg");
         return $(".items_show .content .products").eq($(this).index()).removeClass("hide").siblings(".items_show .content .products").addClass("hide");
      });
      $("#f1 .floor_tag li").mouseover(function () {
         $(this).addClass("hover").siblings().removeClass("hover");
         $("#f1 .f_con .floor_content").addClass("hover").siblings().removeClass("hover");
         return $("#f1 .f_con .floor_content").eq($(this).index()).removeClass("hide").siblings("#f1 .f_con .floor_content").addClass("hide");
      });
      $("#f2 .floor_tag li").mouseover(function () {
         $(this).addClass("hover").siblings().removeClass("hover");
         $("#f2 .f_con .floor_content").addClass("hover").siblings().removeClass("hover");
         return $("#f2 .f_con .floor_content").eq($(this).index()).removeClass("hide").siblings("#f2 .f_con .floor_content").addClass("hide");
      });
      $("#f3 .floor_tag li").mouseover(function () {
         $(this).addClass("hover").siblings().removeClass("hover");
         $("#f3 .f_con .floor_content").addClass("hover").siblings().removeClass("hover");
         return $("#f3 .f_con .floor_content").eq($(this).index()).removeClass("hide").siblings("#f3 .f_con .floor_content").addClass("hide");
      });
      $("#f4 .floor_tag li").mouseover(function () {
         $(this).addClass("hover").siblings().removeClass("hover");
         $("#f4 .f_con .floor_content").addClass("hover").siblings().removeClass("hover");
         return $("#f4 .f_con .floor_content").eq($(this).index()).removeClass("hide").siblings("#f4 .f_con .floor_content").addClass("hide");
      });
      $("#f5 .floor_tag li").mouseover(function () {
         $(this).addClass("hover").siblings().removeClass("hover");
         $("#f5 .f_con .floor_content").addClass("hover").siblings().removeClass("hover");
         return $("#f5 .f_con .floor_content").eq($(this).index()).removeClass("hide").siblings("#f5 .f_con .floor_content").addClass("hide");
      });
      $("#f6 .floor_tag li").mouseover(function () {
         $(this).addClass("hover").siblings().removeClass("hover");
         $("#f6 .f_con .floor_content").addClass("hover").siblings().removeClass("hover");
         return $("#f6 .f_con .floor_content").eq($(this).index()).removeClass("hide").siblings("#f6 .f_con .floor_content").addClass("hide");
      });
      $("#f7 .floor_tag li").mouseover(function () {
         $(this).addClass("hover").siblings().removeClass("hover");
         $("#f7 .f_con .floor_content").addClass("hover").siblings().removeClass("hover");
         return $("#f7 .f_con .floor_content").eq($(this).index()).removeClass("hide").siblings("#f7 .f_con .floor_content").addClass("hide");
      });
      $("#f8 .floor_tag li").mouseover(function () {
         $(this).addClass("hover").siblings().removeClass("hover");
         $("#f8 .f_con .floor_content").addClass("hover").siblings().removeClass("hover");
         return $("#f8 .f_con .floor_content").eq($(this).index()).removeClass("hide").siblings("#f8 .f_con .floor_content").addClass("hide");
      });
      $("#f9 .floor_tag li").mouseover(function () {
         $(this).addClass("hover").siblings().removeClass("hover");
         $("#f9 .f_con .floor_content").addClass("hover").siblings().removeClass("hover");
         return $("#f9 .f_con .floor_content").eq($(this).index()).removeClass("hide").siblings("#f9 .f_con .floor_content").addClass("hide");
      });

      //首页浮动条以及左右侧边
      var mininav = 0;
      $(window).scroll(function () {
         // mini nav
         if ($(window).scrollTop() > 340 && mininav == 0) {
            $("#floor_slider").fadeIn(500);
            mininav = 1;
         }
         if ($(window).scrollTop() < 340 && mininav == 1) {
            $("#floor_slider").fadeOut(500);
            mininav = 0;
         }

         var s_slide = 300;
         var s_this = $(window).scrollTop() + s_slide;
         var f1t = $("#f1").offset().top;
         var f2t = $("#f2").offset().top;
         var f3t = $("#f3").offset().top;
         //var f4t = $("#f4").offset().top;
         //var f5t = $("#f5").offset().top;
         /*var f6t = $("#f6").offset().top;*/
         /*var f7t = $("#f7").offset().top;
         var f8t = $("#f8").offset().top;
         var f9t = $("#f9").offset().top;*/
         if (s_this >= f1t && s_this < f2t) {
            $(".floor_slider ul li:eq(0)").addClass("hover").siblings().removeClass("hover");
            console.log(f1t);
         } else if (s_this >= f2t && s_this < f3t) {
            $(".floor_slider ul li:eq(1)").addClass("hover").siblings().removeClass("hover");
            console.log(f1t);
         } /*else if (s_this >= f3t && s_this < f4t) {
            $(".floor_slider ul li:eq(2)").addClass("hover").siblings().removeClass("hover");
            console.log(f1t);
         } else if (s_this >= f4t && s_this < f5t) {
            $(".floor_slider ul li:eq(3)").addClass("hover").siblings().removeClass("hover");
            console.log(f1t);
         } else if (s_this >= f5t && s_this < f5t + 500) {
            $(".floor_slider ul li:eq(4)").addClass("hover").siblings().removeClass("hover");
            console.log(f1t);
         }else if (s_this>=f6t){
                $(".floor_slider ul li:eq(5)").addClass("hover").siblings().removeClass("hover");
                console.log(f1t);
            }*/

         /*else if (s_this>=f7t && s_this<f8t){
             $(".floor_slider ul li:eq(6)").addClass("hover").siblings().removeClass("hover");
             $(".i_f7 i").animate({"height":"31px"},1200);
             console.log(f1t);
         }else if (s_this>=f8t && s_this<f9t){
             $(".floor_slider ul li:eq(7)").addClass("hover").siblings().removeClass("hover");
             $(".i_f8 i").animate({"height":"31px"},1200);
             console.log(f1t);
         }else if (s_this>=f9t && s_this<f9t+500){
             $(".floor_slider ul li:eq(8)").addClass("hover").siblings().removeClass("hover");
             $(".i_f9 i").animate({"height":"31px"},1200);
             console.log(f1t);
         }
         */

      });


   })
   //回到顶部动作
   function click_top(a) {
      var scroll_offset = $("#" + a).offset();  //得到logo这个div层的offset，包含两个值，top和left
      $("body,html").animate({
         scrollTop: scroll_offset.top - 50  //让body的scrollTop等于pos的top，就实现了滚动
      }, 500);
   }

</script>
<!--楼层侧边-->
