@using System.Data;
@using DTcms.BLL;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@{
   Layout = "";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   Article_ListController c = ViewBag.This as Article_ListController;
   int totalcount;
   string pagelist;
   int page = int.Parse(ViewBag.Page as string);
   string channel = "ePortal_news";
   string keyword = ViewBag.Keyword as string;
   int category_id = int.Parse(ViewBag.CategoryId as string);
   int pagesize = 2;
   DataTable list = bc.get_article_list(channel, category_id, pagesize, page, "status=0", out totalcount, out pagelist, "news_list", category_id, "__id__");<!--取得一个分页DataTable-->
   DTcms.BLL.article bll_article = new DTcms.BLL.article();
   DTcms.BLL.article_comment bll_article_comment = new article_comment();
}
@foreach(DataRow dr in list.Rows){
<!-- 内容列表 -->
   DateTime date = DateTime.Parse(dr["add_time"].ToString());
   <a href="@bc.linkurl("news_show", dr["id"])">
      <div class="date-block">
         <span class="day">@date.Day</span>@date.ToString("MMMM", new System.Globalization.CultureInfo("en-us")).Substring(0, 3)<br />@date.Year
      </div>
      <div class="summary">
         <h1>@dr["title"]</h1>
         <h3>发布者:佳天国际  浏览次数: @(bll_article.GetClick((int)dr["id"]))</h3>
         <p>@dr["zhaiyao"]</p>
      </div>
   </a>
<!-- /内容列表 -->   
}
@if(totalcount == 0){
<p style="text-align:center; width:100%">
   <img src="@(config.webpath)templates/@site.templet_path/web/images/nothing.png" style="height:120px">
</p>
}
<label id="totalcount" style="display:none">@totalcount</label>
