@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_LayoutList.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   Article_ListController bc = ViewBag.BasePage as Article_ListController;
   DTcms.Model.article_category m = bc.model;
   ViewBag.Title = m.title + " - " + site.name;
   DataTable list = null;
   string channel = "ePortal_news";
   int category_id = int.Parse(ViewBag.CategoryId as string);
   int count = 0;
   string category_nav = bc.get_category_menu("news_list", category_id);
   int pagesize = 2;
   int totalcount = 0;
   string pagelist = string.Empty;
   int page = int.Parse(ViewBag.Page as string);
   list = bc.get_article_list(channel, category_id, pagesize, page, "status=0", out totalcount, out pagelist, "news_list", category_id, "__id__");
   DataRow firstRow = null;
   if(list.Rows.Count > 0){
      firstRow = list.Rows[0];
   }
   DTcms.BLL.article bll_article = new DTcms.BLL.article();
   DataTable categoryList = bc.get_category_list("ePortal_news", 0);
   int default_category_id = 0;
   if(categoryList.Rows.Count > 0){
      default_category_id = (int)categoryList.Rows[0]["id"];
   }
   
}

@section HeaderContent{
   <script>
      var page = 1;
      var pagesize = Number(@pagesize);
      $(document).ready(function () {
         $(".n3 a").addClass("on"); // 设定导航菜单(新闻中心)为活动状态
         getListPage(page);
         $(".baoliao_more").bind("click", function () {
            page++;
            getListPage(page);
         });
      });

      function getListPage(page) {
         $(".baoliao_more").html("<img src='@(config.webpath)templates/@site.templet_path/mobile/images/loading.gif' />");
         $.ajax({
            type: "post",
            url: "@Url.Action("get_list_page", "news_list", new {category_id=ViewBag.CategoryId})" + "&page=" + page,
            data: {},
            success: function (data) {
               $("#totalcount").remove();// 此标签包含在加载的列表页中, 保存查询结果总行数, 移除上一次加载的标签
               $(".baoliao_list").append(data);
               var totalcount = Number($("#totalcount").text());
               if (page * pagesize >= totalcount) { //判断数据是否已经加载完成
                  $(".baoliao_more").html('已全部加载完成');
                  $(".baoliao_more").unbind("click");
               }
               else {
                  $(".baoliao_more").html('加载更多');
               }
            }
         });
      }
   </script>
}

<div id="content">
@RenderPage("~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/partial_header_subNav.cshtml")
@if (string.IsNullOrEmpty(m.img_url)) {
   <div id="banner">
      <div class="news"></div>
   </div>
}
else {
   <div style="width:1130px; margin: 0 auto;">
      <img alt="" style="width:1130px;" src="@m.img_url" />
   </div>
}
<div class="nav">
   <div class="g-wrap">
      <div class="crumbs">
         <a href="@bc.linkurl("news_list", default_category_id)">新闻中心</a>
         <a class="on">@bc.get_category_title(category_id, "")</a>
      </div>
      <div class="columns">
         @foreach(DataRow dr in categoryList.Rows){
            <a href="@bc.linkurl("news_list", dr["id"])" class="@((int)dr["id"] == category_id ? "on" : "")">@dr["title"]<span></span></a>
         }
      </div>
   </div>
</div>

<div id="news-1">
   <div id="main" class="clearfix g-wrap">
      <div id="left">
         <div class="headline">
            <a href="@bc.linkurl("news_show",firstRow["id"])">
               @if(string.IsNullOrEmpty(firstRow["img_url"].ToString())){
                  <img src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/logo_big.jpg" alt="">
               }
               else{
                  <img src="@firstRow["img_url"]" alt="" />
               }
               @if (firstRow != null) {
                  DateTime date = DateTime.Parse(firstRow["add_time"].ToString());
                  <span class="date">@date.ToLongDateString()</span>
                  <h1>@firstRow["title"]</h1>
                  <p>@firstRow["zhaiyao"]</p>
               }
            </a>
            <a href="@bc.linkurl("news_show",firstRow["id"])">
            <input style="margin-top: 3px;" class="more" type="button" value=""></a>
         </div>
         <div class="link-block">
         @for (int i = 1; i < list.Rows.Count; i++) {
            DateTime date = DateTime.Parse(list.Rows[i]["add_time"].ToString());
            <a href="@bc.linkurl("news_show", list.Rows[i]["id"])">
               <div class="date-block">
                  <span class="day">@date.Day</span>@date.ToString("MMMM", new System.Globalization.CultureInfo("en-us")).Substring(0, 3)<br />@date.Year
               </div>
               <div class="summary">
                  <h1>@list.Rows[i]["title"]</h1>
                  <h3>发布者:  浏览次数: @(bll_article.GetClick((int)list.Rows[i]["id"]))</h3>
                  <p>@list.Rows[i]["zhaiyao"]</p>
               </div>
            </a>
         }
         </div>
         <input title="点击查看更多" id="8" class="more" type="button" value="">
      </div>
      <div id="right">
         <a target="_blank" href="@bc.linkurl("news")">
            <img width="300px" src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/news_right_01.jpg" alt="">
         </a>
         <a target="_blank" href="@bc.linkurl("news")">
            <img width="300px" src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/news_right_02.jpg" alt="">
         </a>
         <a target="_blank" href="@bc.linkurl("news")">
            <img width="300px" src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/news_right_03.png" alt="">
         </a>
      </div>
   </div>
</div>
</div>
<script type="text/javascript">
   $(function () {
      $("#main #left .more").click(function () {
         var type = $(this).attr("id");
         var n = $(".link-block a").length + 1;//当前LI个数
         var _pageSize = 2;//第页显示多少条
         var _page = (n / _pageSize) + 1; //当前页
         $.ajax({
            type: "POST",
            cache: false,
            async: false,
            url: "@Url.Action("get_list_page", "news_list", new {category_id=ViewBag.CategoryId})" + "&page=" + _page,
            data: { Page: _page, Type: type },
            success: function (data) {
               var btn_show = data.split("|||")[1];
               if (btn_show != "true") {
                  $("#main #left .more:eq(1)").hide();
               }
               $(".link-block").append(data.split("|||")[0]);
               $(".page" + _page + "").ScrollTo(1000);

               //var len = $(".page" + _page + "").length;
               //for (i = 0; i < len; i++) {
               //    $(".page" + _page + "").eq(i).fadeIn(300 * i);
               //}
            }
         })
      })
   })
</script>