@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_LayoutList.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   SearchController c = ViewBag.This as SearchController;
   ViewBag.Title = "站内搜索 - " + site.name;
   DataTable goodsList = null;
   int totalcount;
   int count;
   int page = int.Parse(ViewBag.Page as string);
   string channel = ViewBag.Channel;
   string keyword = ViewBag.Keyword as string;
   goodsList = c.get_search_list(8, out totalcount);
       <!--取得分页页码列表-->
    string pagelist = c.get_page_link(8, page, totalcount, c.linkurl("search","?channel=" + ViewBag.TemplateSkin + "_" + channel + "&keyword=" + System.Web.HttpContext.Current.Server.UrlEncode(keyword) + "&page=__id__"));
    DTcms.BLL.article bll_article = new DTcms.BLL.article();
}

@section HeaderContent{
   <link href="~/templates/@ViewBag.TemplateSkin/web/css/gallery_grid.css" rel="stylesheet" />
}

@section Scripts{
<script>
   $(function () {
      $(".goods-item").hover(
         function () {
            $(this).addClass("active");
         },
         function () {
            $(this).removeClass("active");
      })
      /*$('#files').tree({
         expanded: 'li:lt(1)'
      });*/
      // 品牌按首字母切换
      $('ul[nctype="ul_initial"] > li').mouseover(function () {
         $(this).addClass('current').siblings().removeClass('current');
         if ($(this).attr('data-initial') == 'all') {
            $('ul[nctype="ul_brand"] > li').show();
            return;
         }
         $('ul[nctype="ul_brand"] > li').hide();
         $('ul[nctype="ul_brand"] > li[data-initial="' + $(this).attr('data-initial') + '"]').show();
      });
      // 品牌显示筛选
      $('span[nctype="brand_show"]').toggle(
              function () {
                 $('ul[nctype="ul_initial"]').show();
                 $('ul[nctype="ul_brand"] > li').show();
                 $(this)('<i class="icon-angle-up"></i>收起');
              }, function () {
                 $('ul[nctype="ul_initial"]').hide();
                 $('ul[nctype="ul_brand"] > li:gt(13)').hide();
                 $('ul[nctype="ul_brand"] > li:lt(14)').show();
                 $(this)('<i class="icon-angle-down"></i>更多');
              }
      );
      $('.goods-content').mouseenter(function () {
         $(this).find('.goods-info').stop(true, true, true).animate({ 'top': 235 }, 200, 'linear');
      }).mouseleave(function () {
         $(this).find('.goods-info').stop(true, true, true).animate({ 'top': 271 }, 200, 'linear');
      });

      //热销排行切换
      $('#hot_sales_tab').on('mouseenter', function () {
         $(this).addClass('current');
         $('#hot_collect_tab').removeClass('current');
         $('#hot_sales_list').removeClass('hide');
         $('#hot_collect_list').addClass('hide');
      });
      $('#hot_collect_tab').on('mouseenter', function () {
         $(this).addClass('current');
         $('#hot_sales_tab').removeClass('current');
         $('#hot_sales_list').addClass('hide');
         $('#hot_collect_list').removeClass('hide');
      });

   });
</script>
}

<div class="w1200">
	<div class="nch-breadcrumb-layout">
	<div class="nch-breadcrumb wrapper">
      <i class="icon-home"></i><span><a href="@bc.linkurl("index")" alt="" title="">首页</a></span>
      站内搜索
	</div>
   </div>
	<div class="nch-container wrapper" >
		<div class="left">
			<div class="nch-module nch-module-style02">
            <div class="title">
               <h3>分类筛选</h3>
            </div>
            <div class="content">
               <ul id="files" class="tree">
                  @{
                     DataTable categoryList1 = bc.get_category_child_list(channel, 0);
                     foreach (DataRow cdr1 in categoryList1.Rows) {
                     <li><i class="tree-parent tree-parent-collapsed"></i><a href="@bc.linkurl("goods_list", cdr1["id"])">@cdr1["title"]</a>
                        @{
                           DataTable categoryList2 = bc.get_category_child_list(channel, Convert.ToInt32(cdr1["id"]));
                           foreach (DataRow cdr2 in categoryList2.Rows) {
                           <ul>
                              <li>
                                 <i class="tree-parent tree-parent-collapsed"></i><a href="@bc.linkurl("goods_list", cdr2["id"])">@cdr2["title"]</a>
                              </li>
                           </ul>
                           }
                        }
                     </li>
                   
                        }
                  }
               </ul>
            </div>
         </div>
            <!-- 推荐商品 -->
         <div class="nch-module nch-module-style03">
            <div class="title">
               <h3>推荐商品</h3>
            </div>
            <div class="content">
               <div class="nch-sidebar-viewed" id="nchSidebarViewed">
                  <ul id="box_37">
                     @{
                        DataTable redGoods = bc.get_article_list(channel, 0, 4, "status=0 and is_red=1");
                        foreach(DataRow reddr in redGoods.Rows){
                     <li class="nch-sidebar-bowers">
                        <div class="goods-pic">
                           <a href="@bc.linkurl("goods_show", reddr["id"])" target="_blank" title="@reddr["title"]" inner_img="@reddr["img_url"]" gid="@reddr["id"]">
                           <img src="@reddr["img_url"]" title="@reddr["title"]" alt="@reddr["title"]"></a>
                        </div>
                        <dl>
                           <dt>
                              <div class="view-time"></div>
                              <a href="@bc.linkurl("goods_show", reddr["id"])" target="_blank" title="@reddr["title"]">@reddr["title"]</a>
                           </dt>
                           <dd></dd>
                        </dl>
                     </li>
                     }
                     }
                  </ul>
               </div>
            </div>
         </div>
      </div><!-- end left -->
		<div class="right">
         <div class="nch-module nch-module-style01">
            <div id="main" class="clearfix">
               <!-- 商品列表开始 -->
               <div class="page-maincontent">
                  <!-- 筛选区 -->
                  <div id="filter_container" class="filter-container">
                     <div class="filter-title clearfix">
                        <h3>商品筛选</h3>
                        <div class="gallery-total-info">
                           (共<b class="op-search-result">@totalcount</b>件商品)
			
                        </div>
                        <div class="filter-clean">
                           <a href="javascript:location.reload();Memory.clean(&#39;gallery.filter&#39;);">重置筛选项<i class="icon">'</i></a>
                        </div>
                     </div>
                  </div>

                  <!-- 排序状态条 -->
                  <div id="gallery_sortbar" class="gallery-sortbar clearfix">
                     <div class="gallery-sort">
                        <a href="javascript:void(0);" class="action-sort active" data-sort=""><em>默认</em></a>
                        <a href="javascript:void(0);" class="action-sort price-desc" data-sort="price desc"><em>价格<span class="icon desc">*</span><span class="icon asc">+</span></em></a>
                        <a href="javascript:void(0);" class="action-sort " data-sort="buy_w_count desc"><em>销量<span class="icon">*</span></em></a>
                     </div>
                     <div class="mini-pageview">
                        <span class="page-count HIDE">
                           <span class="page-current">1</span>/<span class="page-total">13</span>
                        </span>
                        <span class="page-action">
                           <span class="spilt">|</span>
                           <a href="javascript:void(0);" class="flip prev over"><i class="icon">上一页</i></a>
                           <a href="javascript:void(0);" class="flip next"><i class="icon">下一页</i></a>
                        </span>
                     </div>
                     <div class="sortbar-filter-tags">
                        <label for="">筛选：</label>
                        <input type="checkbox" name="gTag[]" id="" class="action-gtags" value="1">
                        <label for="">推荐</label>
                        <input type="checkbox" name="gTag[]" id="" class="action-gtags" value="14">
                        <label for="">首页导航显示（不要删除）</label>
                        <input type="checkbox" name="gTag[]" id="" class="action-gtags" value="15">
                        <label for="">活动进行中</label>
                     </div>
                  </div>

                  <div id="gallery_show" class="gallery-show">
                     <div class="gallery-grid">
                        <ul class="clearfix">
                           @{
                           count = 0;
                           foreach(DataRow dr in goodsList.Rows){
                              count = count + 1;
                           <li class="auto-bind goods-item @(count % 4 == 0 ? "last" : "")">
                              <div class="wrap">
                                 <div class="inner">
                                    <div class="goods-pic">
                                       <a href="@bc.linkurl("goods_show", dr["id"])" target="_blank">
                                          <img class="action-goods-img" alt="@dr["title"]" src="@dr["img_url"]" />
                                       </a>
                                    </div>
                                    <div class="goods-info">
                                       <div class="goods-price">
                                          <ins class="price"></ins>
                                       </div>
                                       <h3 class="goods-name"><a href="@bc.linkurl("goods_show", dr["id"])" target="_blank">@dr["title"]</a></h3>
                                    </div>
                                    <div class="goodsextend">
                                       <div class="goodsSeller">
                                          <div class="seller-name"><a href="javascript:;" target="_blank">@Html.Raw(dr["zhaiyao"])</a></div>
                                          <div class="seller-level">黄金</div>
                                       </div>
                                    </div>

                                    <div class="promotion-tags"></div>
                                    <div class="goodsaction">
                                       <ul>
                                          <li class="buy-count"><em>@bll_article.GetClick((int)dr["id"])</em><br>阅读量</li>
                                          <li class="comment-count">@bll_article.GetStockQuantity((int)dr["id"])<br>库存数量</li>
                                          <li class="actions">
                                             <div class="goods-action">
                                                <div class="goods-buy">
                                                   <!-- 加入购物车 -->
                                                   <span class="p-quantity">
                                                      <a href="javascript:void(0);" class="btn-decrease">&nbsp;</a><input type="text" min="1" max="500" size="2" name="goods[num]" class="action-quantity-input" value="1"><a href="javascript:void(0);" class="btn-increase">&nbsp;</a>
                                                   </span>
                                                   <a class="btn btn-major action-addtocart" href="@bc.linkurl("goods_show", dr["id"])" target="_dialog_minicart">详情</a>
                                                </div>
                                                <div class="goods-others">
                                                   <a href="@bc.linkurl("goods_show", dr["id"])" class="btn-fav">收藏</a>
                                                </div>
                                             </div>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </li>
                           }
                           }
                        </ul>
                     </div>
                     <div class="pageview">@Html.Raw(pagelist)</div>
                  </div>
               </div>
            </div>
			</div><!-- end nch-module-style01 -->
		</div><!-- end right -->
		<div class="clear"></div>
	</div>
</div>