@using DTcms.Model;
@using DTcms.Common;
@{
   DTcms.Model.sites site = ViewData["site"] as DTcms.Model.sites;
   DTcms.Model.sysconfig config = ViewData["sysConfig"] as DTcms.Model.sysconfig;
   DTcms.Web.MVC.UI.Controllers.BaseController bc = ViewBag.BasePage as DTcms.Web.MVC.UI.Controllers.BaseController;
}
<footer id="main_footer">
   <a href="@bc.linkurl("index")" class="icon home" data-ignore="true">首页</a>
   <a href="@bc.linkurl("usercenter","index")" class="icon user" data-ignore="true">会员</a>
   <a href="@bc.linkurl("cart")" class="icon basket" data-ignore="true">购物车 <span class="af-badge lr"><script type="text/javascript" src="@(config.webpath)tools/submit_ajax.ashx?action=view_cart_count"></script></span></a>
   <a href="@bc.linkurl("search")" class="icon magnifier" data-ignore="true">搜索</a>
   <a href="@bc.linkurl("content","contact")" class="icon phone" data-ignore="true">电话</a>
</footer>