@using DTcms.Model;
@using DTcms.Common;
@using System.Data;
@{
   Layout = "~/Areas/admin/Views/Shared/_LayoutList.cshtml";
    ViewBag.Title = "KF数据中心";
    DataTable list = ViewData["list"] as DataTable;
}
@section HeaderContent{
   <script>
      function getQueryParam() {
         var keywords = $("#txtKeywords").val();
         var pagesize = $("#txtPageNum").val();
         return "channel_id=@ViewBag.ChannelId&keywords=" + keywords + "&pagesize=" + pagesize;
      }
      //查询数据
      function search() {
         document.location = "index?" + getQueryParam();
      }


      //ExePostBack回调函数
      function __doPostBack() {
         if (objId == "btnDelete") {
            submitdelete();
         }
      }

      function import_site() {
        var $row = $("#ltable tr:gt(0)");
        var json = { list: [] };
        var site_id = 0;
        $($row).each(function (i, item) {
          if ($(item).find("input:checkbox").prop("checked")) {
            var id = $(item).find("td:eq(0)").find("label:eq(0)").text();
            var obj = { id: id };
            json.list.push(obj);
            site_id = id;
          }
        });

        $.ajax({
          url: "/plugins/kfcenter/ajax.ashx?action=site_import&site=" + site_id + "&" + getQueryParam(),
          type: "POST",
          dataType: "html",
          data: "json=" + JSON.stringify(json),
          success: function (data) {
            var result = JSON.parse(data);
            alert(result["msg"]);
          },
          error: function () {
            alert("导入站点失败!");
          }
        });
      }
   </script>
}

<!--导航栏-->
<div class="location">
  <a href="javascript:history.back(-1);" class="back"><i class="iconfont icon-up"></i><span>返回上一页</span></a>
  <a href="../../center/index"><i class="iconfont icon-home"></i><span>首页</span></a>
  <i class="arrow iconfont icon-arrow-right"></i>
  <span>站点管理</span>
</div>
<!--/导航栏-->

<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
  <div class="toolbar">
    <div class="box-wrap">
      <a class="menu-btn"><i class="iconfont icon-more"></i></a>
      <div class="l-list">
        <ul class="icon-list">
          <li><a href="../KfCenter_Edit/index?action=@DTEnums.ActionEnum.Add"><i class="iconfont icon-delete"></i><span>注册账套</span></a></li>
        </ul>
      </div>
      <div class="r-list">
         <input type="text" id="txtKeywords" class="keyword" value="@ViewBag.Keywords" />
         <a href="javascript:search();" id="lbtnSearch" class="btn-search"><i class="iconfont icon-search"></i></a>
      </div>
    </div>
  </div>
</div>
<!--/工具栏-->

<!--列表-->
<div class="table-container">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable" id="ltable">
    <tr>
      <th width="6%">选择</th>
      <th align="left" width="10%">账套代码</th>
      <th align="left" width="10%">账套名称</th>
      <th align="left" width="10%">数据库名称</th>
      <th align="left" width="10%">账套类型</th>
      <th align="left"  width="10%">创建时间</th>
      <th align="left" >GUID</th>
      <th align="center"  width="5%">用户数</th>
      <th align="left"  width="10%">到期日</th>
      <th width="10%">操作</th>
    </tr>
     @foreach (DataRow row in list.Rows) {
       <tr>
         <td align="center">
           <span class="checkall" style="vertical-align:middle;">
                 <input type="checkbox" />
           </span>
           <label style="display:none">@row["id"]</label>
         </td>
         <td>@row["ActsetNum"]</td>
         <td>@row["ActSetName"]</td>
         <td>@row["ActsetDBName"]</td>
         <td>@row["ActSetType"]</td>
         <td>@(Convert.ToDateTime(row["CreateDate"]).ToString("yyyy-MM-dd HH:mm:ss"))</td>
         <td>@row["DBGUID"]</td>
         <td align="center">@row["LimitCount"]</td>
         <td>@(Convert.ToDateTime(row["EndDate"]).ToString("yyyy-MM-dd"))</td>
         <td align="center">
             <a href="../kfcenter_edit/index?action=@DTEnums.ActionEnum.Edit&id=@row["id"]">修改</a> |
             <a href="#">注销</a>
         </td>
       </tr>        
     }
     @if (list.Rows.Count == 0) {
        @Html.Raw("<tr><td align=\"center\" colspan=\"8\">暂无记录</td></tr>");
     }
  </table>
</div>
<!--/列表-->

<!--内容底部-->
<div class="line20"></div>
<div class="pagelist">
  <div class="l-btns">
    <span>显示</span>
     <input type="text" id="txtPageNum" class="pagenum" value="@ViewBag.PageSize" onkeydown="return checkNumber(event);" onchange="javascript:search();" />
    <span>条/页</span>
  </div>
  <div class="default">@Html.Raw(ViewBag.PageContent)</div>
</div>
<!--/内容底部-->