@using System.Data;
@using DTcms.Model;
@using DTcms.Common;
@{
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   DTcms.Web.MVC.UI.Controllers.BaseController bc = ViewBag.BasePage as DTcms.Web.MVC.UI.Controllers.BaseController;
   DataTable categoryList1 = bc.get_category_child_list("ePortal_news", 0);
   DataTable categoryList2 = bc.get_category_child_list("ePortal_content", 0);
   DataTable list1 = null;
   DataTable list2 = null;
   DataTable list3 = null;
   foreach(DataRow cdr in categoryList2.Rows){
      if(cdr["call_index"].ToString().Equals("ePortal_service")){
         list1 = bc.get_article_list("ePortal_content", (int)cdr["id"], 10, "");
      }
      if(cdr["call_index"].ToString().Equals("ePortal_about")){
         list2 = bc.get_article_list("ePortal_content", (int)cdr["id"], 10, "");
      }
      if(cdr["call_index"].ToString().Equals("ePortal_merchants")){
         list3 = bc.get_article_list("ePortal_content", (int)cdr["id"], 10, "");
      }
   }
}
<!--导航子菜单-->
<div id="subNav">
   <div class="g-wrap">
      <div class="item news">
         @if(list2 != null){
         foreach (DataRow dr in list2.Rows) {
            <a href="@bc.linkurl("content", dr["call_index"])">@dr["title"]<span></span></a>
         }
         }
      </div>
      <div class="item news">
         @if(categoryList1 != null){
         foreach (DataRow cdr in categoryList1.Rows) {
            <a href="@bc.linkurl("news_list", cdr["id"])">@cdr["title"]<span></span></a>
         }
         }
      </div>
      <div class="item news">
         @if(list1 != null){
            foreach (DataRow dr in list1.Rows) {
            <a href="@bc.linkurl("content", dr["call_index"])">@dr["title"]<span></span></a>
            }
         }
      </div>
      <div class="item news">
         @if (list3 != null) {
            foreach (DataRow dr in list3.Rows) {
            <a href="@bc.linkurl("content", dr["call_index"])">@dr["title"]<span></span></a>
            }
         }
      </div>
      <div class="item search">
         <input id="searchbox" type="text" placeholder="请输入关键词">
      </div>
      <div id="language-box" class="item langs">
         <a id="on" href="../">中文简体</a>
         <a href="@bc.linkurl("index")">RU</a>
      </div>
   </div>
</div>
<script type="text/javascript">
   $(function () {
      var arr = new Array("zh-CN", "zh-Hant", 'en');
      $("#language-box a").each(function (index) {
         $(this).click(function () {
            setCookieLanguage('Language', arr[index]);
         });
      });
   })
   function setCookieLanguage(name, value) {
      var argv = setCookieLanguage.arguments;
      var argc = setCookieLanguage.arguments.length;
      var expires = (argc > 2) ? argv[2] : null;
      if (expires != null) {
         var LargeExpDate = new Date();
         LargeExpDate.setTime(LargeExpDate.getTime() + (expires * 1000 * 3600 * 24));
      }
      document.cookie = name + "=" + escape(value) + ((expires == null) ? "" : ("; expires=" + LargeExpDate.toGMTString())) + ("; path=/") + ("; domain=.jtdygs.com");
   }
</script>
<!--导航子菜单-->
