@using DTcms.Common;
@using System.Data;
@{
   Layout = "~/Areas/admin/Views/Shared/_LayoutList.cshtml";
   ViewBag.Title = "会员审核";
   DataTable list = ViewData["list"] as DataTable;
}
<script>
   //查询数据
   function search() {
      var text = $("#txtKeywords").val();
      var pageCount = $("#txtPageNum").val();
      var groupId = $("#ddlGroupId").val();
      document.location = "index?keywords=" + text + "&pagesize=" + pageCount + "&group_id=" + groupId;
   }

   //ExePostBack回调函数
   function __doPostBack(objId) {
      if (objId == "btnAudit") {
         submitAudit();
      }
      if (objId == "btnDelete") {
         submitDelete();
      }
   }

   //批量审核
   function submitAudit() {
      var text = $("#txtKeywords").val();
      var $row = $("#ltable tr:gt(0)");
      var json = { list: [] };
      $($row).each(function (i, item) {
         if ($(item).find("input:checkbox").prop("checked")) {
            var id = $(item).find("td:eq(0)").find("label:gt(0)").text();
            var obj = { id: id };
            json.list.push(obj);
         }
      });
      $.ajax({
         url: "SubmitAudit?keywords=" + text,
         type: "POST",
         dataType: "html",
         data: "json=" + JSON.stringify(json),
         success: function (data) {
            eval(data);
         },
         error: function () {
            alert("error");
         }
      });
   }

   //批量删除
   function submitDelete() {
      var text = $("#txtKeywords").val();
      var $row = $("#ltable tr:gt(0)");
      var json = { list: [] };
      $($row).each(function (i, item) {
         if ($(item).find("input:checkbox").prop("checked")) {
            var id = $(item).find("td:eq(0)").find("label:gt(0)").text();
            var obj = { id: id };
            json.list.push(obj);
         }
      });
      $.ajax({
         url: "SubmitDelete?keywords=" + text,
         type: "POST",
         dataType: "html",
         data: "json=" + JSON.stringify(json),
         success: function (data) {
            eval(data);
         },
         error: function () {
            alert("error");
         }
      });
   }
</script>
<form id="form1"  method="post" action="#">
<!--导航栏-->
<div class="location">
  <a href="javascript:history.back(-1);" class="back"><i class="iconfont icon-up"></i><span>返回上一页</span></a>
  <a href="../../center/index"><i class="iconfont icon-home"></i><span>首页</span></a>
  <i class="arrow iconfont icon-arrow-right"></i>
  <span>会员管理</span>
  <i class="arrow iconfont icon-arrow-right"></i>
  <span>审核用户</span>
</div>
<!--/导航栏-->

<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
  <div class="toolbar">
    <div class="box-wrap">
      <a class="menu-btn"><i class="iconfont icon-more"></i></a>
      <div class="l-list">
        <ul class="icon-list">
          <li><a href="user_edit/index?action=@DTEnums.ActionEnum.Add"><i class="iconfont icon-close"></i><span>新增</span></a></li>
          <li><a href="javascript:;" id="btnAudit" class="lock" onclick="ExePostBack('btnAudit','审核通过后会员正常使用，是否继续？');"><i class="iconfont icon-survey"></i><span>审核</span></a></li>
          <li><a href="javascript:;" id="btnDelete" onclick="ExePostBack('btnDelete');"><i class="iconfont icon-delete"></i><span>删除</span></a></li>
        </ul>
      </div>
      <div class="r-list">
        <input type="text" id="txtKeywords" class="keyword" value="@ViewBag.Keywores" />
        <a href="javascript:search()" id="lbtnSearch" class="btn-search"><i class="iconfont icon-search"></i></a>
      </div>
    </div>
  </div>
</div>
<!--/工具栏-->

<!--列表-->
<div class="table-container">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable" id="ltable">
  <tr>
    <th width="8%">选择</th>
    <th align="left">用户名</th>
    <th align="left" width="12%">会员组</th>
    <th align="left" width="12%">手机</th>
    <th align="left" width="12%">邮箱</th>
    <th width="8%">余额</th>
    <th width="8%">积分</th>
    <th width="8%">状态</th>
  </tr>
@foreach(DataRow dr in list.Rows){
  <tr>
    <td align="center">
      <span class="checkall" style="vertical-align:middle;">
         <input type="checkbox" />
      </span>
      <label style="display:none">@dr["id"]</label>
    </td>
    <td>
      <div class="user-box" style="padding-left:0;">
        <h4><b><a href="user_edit/index?action=@DTEnums.ActionEnum.Edit&id=@dr["id"]%>">@dr["user_name"]</a></b> (昵称：@dr["nick_name"])</h4>
        <i>注册时间：@string.Format("{0:g}",dr["reg_time"])</i>
      </div>
    </td>
    <td>@{new DTcms.BLL.user_groups().GetTitle(Convert.ToInt32(dr["group_id"]));}</td>
    <td>@dr["mobile"].ToString() != "" ? "-" : dr["mobile"]%></td>
    <td>@dr["email"]%></td>
    <td align="center">@dr["amount"]%></td>
    <td align="center">@dr["point"]%></td>
    <td align="center">
       @switch(Convert.ToInt32(dr["status"])){
              case 0:
               @:正常
                 break;
              case 1:
                 @:待验证
                 break;
              case 2:
                 @:待审核
                 break;
              case 3:
                 @:已禁用
                 break;          
       }
    </td>
  </tr>
}
@if (list.Rows.Count == 0) {
   <tr><td align="center" colspan="8">暂无会员需要审核</td></tr>
}
</table>

</div>
<!--/列表-->

<!--内容底部-->
<div class="line20"></div>
<div class="pagelist">
  <div class="l-btns">
    <span>显示</span>
     <input type="text" id="txtPageNum" class="pagenum" value="@ViewBag.PageSize" onkeydown="return checkNumber(event);" onchange="search();" />
     <span>条/页</span>
  </div>
  <div class="default">@Html.Raw(ViewBag.PageContent)</div>
</div>
<!--/内容底部-->
</form>