@using System.Data;
@using DTcms.Common;
@{
   Layout = "~/Areas/admin/Views/Shared/_LayoutList.cshtml";
   ViewBag.Title = "OAuth授权列表";
   DataTable list = ViewData["list"] as DataTable;
}

@section HeaderContent{
   <script>
      function getQueryParam() {
         var text = $("#txtKeywords").val();
         var pageCount = $("#txtPageNum").val();
         return "keywords=" + text + "&pagesize=" + pageCount;
      }

      //查询数据
      function search() {
         document.location = "index?" + getQueryParam();
      }

      //ExePostBack回调函数
      function __doPostBack(objId) {
         if (objId == "btnDelete") {
            submitDelete();
         }
      }

      //删除数据
      function submitDelete() {
         var text = $("#txtKeywords").val();
         var $row = $("#ltable tr:gt(0)");
         var json = { list: [] };
         $($row).each(function (i, item) {
            if ($(item).find("input:checkbox").prop("checked")) {
               var id = $(item).find("td:eq(0)").find("label:gt(0)").text();
               var obj = { id: id };
               json.list.push(obj);
            }
         });
         $.ajax({
            url: "SubmitDelete?" + getQueryParam(),
            type: "POST",
            dataType: "html",
            data: "json=" + JSON.stringify(json),
            success: function (data) {
               eval(data);
            },
            error: function () {
               alert("error");
            }
         });
      }
   </script>
}

<form id="form1" runat="server">
<!--导航栏-->
<div class="location">
  <a href="javascript:history.back(-1);" class="back"><i class="iconfont icon-up"></i><span>返回上一页</span></a>
  <a href="../../center/index"><i class="iconfont icon-home"></i><span>首页</span></a>
  <i class="arrow iconfont icon-arrow-right"></i>
  <span>会员设置</span>
  <i class="arrow iconfont icon-arrow-right"></i>
  <span>OAuth授权列表</span>
</div>
<!--/导航栏-->

<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
  <div class="toolbar">
    <div class="box-wrap">
      <a class="menu-btn"><i class="iconfont icon-more"></i></a>
      <div class="l-list">
        <ul class="icon-list">
          <li><a href="../site_oauth_list/index"><i class="iconfont icon-setting"></i><span>OAuth设置</span></a></li>
          <li><a href="javascript:;" onclick="checkAll(this);"><i class="iconfont icon-check"></i><span>全选</span></a></li>
          <li><a href="javascript:;" onclick="ExePostBack('btnDelete');"><i class="iconfont icon-delete"></i><span>删除</span></a></li>
        </ul>
      </div>
      <div class="r-list">
        <input id ="txtKeywords" type="text" class="keyword" value="@ViewBag.Keywords" />
        <a href="javascript:search();" id="lbtnSearch" class="btn-search"><i class="iconfont icon-search"></i></a>
    </div>
  </div>
</div>
<!--/工具栏-->

<!--列表-->
<div class="table-container">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable" id="ltable">
  <tr>
    <th width="8%">选择</th>
    <th align="left" width="13%">绑定帐户</th>
    <th align="left" width="10%">授权平台</th>
    <th align="left">Access Token</th>
    <th align="left" width="15%">UId</th>
    <th align="left" width="16%">授权时间</th>
  </tr>
@foreach(DataRow dr in list.Rows){
  <tr>
    <td align="center">
      <span class="checkall" style="vertical-align:middle;">
         <input type="checkbox"/>
      </span>
      <label name="hidId" style="display:none">@dr["id"]</label>
    </td>
    <td>@dr["user_name"]</td>
    <td>@dr["oauth_name"]</td>
    <td>@dr["oauth_access_token"]</td>
    <td>@dr["oauth_openid"]</td>
    <td>@dr["add_time"]</td>
  </tr>
}
@if (list.Rows.Count == 0) {
   <tr><td align="center" colspan="6">暂无记录</td></tr>
}
</table>
</div>
<!--/列表-->

<!--内容底部-->
<div class="line20"></div>
<div class="pagelist">
  <div class="l-btns">
    <span>显示</span>
     <input type="text" id="txtPageNum" class="pagenum" value="@ViewBag.PageSize" onkeydown="return checkNumber(event);" onchange="search();" />
     <span>条/页</span>
  </div>
  <div class="default">@Html.Raw(ViewBag.PageContent)</div>
</div>
<!--/内容底部-->
</form>