@using DTcms.Model;
@using DTcms.Common;
@{
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   DTcms.Web.MVC.UI.Controllers.BaseController c = ViewBag.BasePage as DTcms.Web.MVC.UI.Controllers.BaseController;
}
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <title>@ViewBag.Title</title>
   <meta name="keywords" content="@site.seo_keyword" />
   <meta name="discription" content="@site.seo_description" />
   <link rel="stylesheet" href="~/templates/@ViewBag.TemplateSkin/web/css/header_base.css">
   <link rel="stylesheet" href="~/templates/@ViewBag.TemplateSkin/web/css/base.css">
   <!-- <link rel="stylesheet" href="images/members.css"> -->
   <link rel="stylesheet" href="~/templates/@ViewBag.TemplateSkin/web/css/common.css">
   <link rel="stylesheet" href="~/templates/@ViewBag.TemplateSkin/web/css/index.css">
   <link rel="stylesheet" href="~/templates/@ViewBag.TemplateSkin/web/css/sales.css">
   <link rel="stylesheet" href="~/templates/@ViewBag.TemplateSkin/web/css/theme.css">
   <link rel="stylesheet" href="~/templates/@ViewBag.TemplateSkin/web/css/font-awesome.min.css" />
   <link rel="stylesheet" href="~/templates/@ViewBag.TemplateSkin/web/css/page.css" />
   <!--这一块的顺序不要变-->
   <script src="~/Scripts/jquery/jquery-1.11.2.min.js"></script>
   <script src="~/templates/@ViewBag.TemplateSkin/web/js/jquery.kinMaxShow-1.1.min.js"></script>
   <script src="~/templates/@ViewBag.TemplateSkin/web/js/nav.js"></script>
   <script src="~/templates/@ViewBag.TemplateSkin/web/js/jquery.msgbox.js"></script>
   <script src="~/Scripts/jquery/jquery.lazyload.min.js"></script>
   <script src="~/templates/@ViewBag.TemplateSkin/web/js/category_menu.js"></script>

   <link href="~/Scripts/artdialog/ui-dialog.css" rel="stylesheet" />
   <script src="~/Scripts/artdialog/dialog-plus-min.js"></script>
   <script src="~/templates/@ViewBag.TemplateSkin/web/js/common.js"></script>

   @RenderSection("HeaderContent",false)
   @RenderSection("Styles", false)
   @RenderSection("Scripts", required: false)
   <script>
      $(function () {
         @Html.Raw(ViewBag.ClientScript as string)
      });
   </script>
</head>
<body>
   <header>
   @RenderPage("~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/partial_header.cshtml")
   </header>
   @RenderBody()
   <footer>
   @RenderPage("~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/partial_footer.cshtml")
   </footer>
</body>
</html>