@using System.Data;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@{
   Layout = "~/Areas/Web/Views/"+ ViewBag.TemplateSkin +"/mobile/Shared/_LayoutBase.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   DTcms.Model.userconfig uconfig = ViewData["uconfig"] as DTcms.Model.userconfig; 
   BaseController bc = ViewBag.BasePage as BaseController;
   ViewBag.Title = "会员注册 - " + site.name;
   List<DTcms.Model.cart_items> goodsList = ViewData["goodsList"] as List<DTcms.Model.cart_items>;
   string action = @ViewBag.Action as string;
}
@section HeaderContent{
<link href="@(config.webpath)Content/validate.css" rel="stylesheet" />
<link href="~/Scripts/artdialog/ui-dialog.css" rel="stylesheet" />
<link href="~/templates/@site.templet_path/mobile/css/login.css" rel="stylesheet" />
<script src="@(config.webpath)scripts/jquery/jquery.form.min.js"></script>
<script src="@(config.webpath)scripts/jquery/Validform_v5.3.2_min.js"></script>
<script src="~/templates/@ViewBag.TemplateSkin/web/js/register-validate.js"></script>
<script src="~/Scripts/artdialog/dialog-plus-min.js"></script>
<script src="~/templates/@ViewBag.TemplateSkin/mobile/js/common.js"></script>
<script>
   $(document).ready(function () {
      //检查用户名是否存在
      $("#txtUserName").blur(function () {
         var username = $.trim($(this).val());
         if (username != '') {
            $.ajax({
               type: "post",
               dataType: 'json',
               data: { 'param': username },
               url: "@(config.webpath)tools/submit_ajax.ashx?action=validate_username",
               async: false,
               success: function (data) {
                  if (data.status == "n") {
                     layer.tips(data.info, '#txtUserName', { tips: 1 });
                     $('#txtUserName').focus();
                     return false;
                  }
               }
            });
         }
      });

      //检查验证码是否正确
      $("#txtCode").blur(function () {
         return;
         var yzm = $.trim($(this).val());
         if (yzm != '') {
            $.ajax({
               type: "post",
               dataType: 'json',
               data: { 'param': yzm },
               url: "http://m.178hui.com/register/check_yzm",
               async: false,
               success: function (data) {
                  if (data.s == 1) {
                     layer.tips('验证码不正确哦！', '#txtCode', { tips: 1 });
                     $('#txtCode').focus();
                     return false;
                  }
               }
            });
         }
      });

   });
</script>
}

@section Scripts{
   <script>
      $(function () {
         $(".input-close").hide();
         displayPwd();
         displayPwd_PwdTwo();
         displayClearBtn();
         setTimeout(displayClearBtn, 200); //延迟显示,应对浏览器记住密码
      });

      //是否显示清除按钮
      function displayClearBtn() {
         if (document.getElementById("txtUserName").value != '') {
            $("#txtUserName").siblings(".input-close").show();
         }
         if (document.getElementById("txtPassword").value != '') {
            $(".ciphertext").siblings(".input-close").show();
         }
         if (document.getElementById("txtPassword").value != '') {
            $(".ciphertext_PwdTwo").siblings(".input-close").show();
         }
      }

      //清除input内容
      $('.input-close').click(function (e) {
         $(e.target).parent().find(":input").val("");
         $(e.target).hide();
         $($(e.target).parent().find(":input")).each(function (i) {
            if (this.id == "ptext" || this.id == "txtPassword") {
               $("#txtPassword").val('');
               $("#ptext").val('');
            }
            if (this.id == "txtPassword1" || this.id == "txtPassword1") {
               $("#password_PwdTwo").val('');
               $("#ptext_PwdTwo").val('');
            }
         });
      });

      //设置password字段的值	
      $('.txt-password').bind('input', function () {
         $('#password').val($(this).val());
      });
      $('.txt-password_PwdTwo').bind('input', function () {
         $('#password_PwdTwo').val($(this).val());
      });

      //显隐密码切换
      function displayPwd() {
         $(".tp-btn").toggle(
             function () {
                $(this).addClass("btn-on");
                var textInput = $(this).siblings(".plaintext");
                var pwdInput = $(this).siblings(".ciphertext");
                pwdInput.hide();
                textInput.val(pwdInput.val()).show().focusEnd();
             },
             function () {
                $(this).removeClass("btn-on");
                var textInput = $(this).siblings(".plaintext");
                var pwdInput = $(this).siblings(".ciphertext");
                textInput.hide();
                pwdInput.val(textInput.val()).show().focusEnd();
             }
         );
      }
      //显隐密码切换
      function displayPwd_PwdTwo() {
         $(".tp-btn_PwdTwo").toggle(
             function () {
                $(this).addClass("btn-on_PwdTwo");
                var textInput = $(this).siblings(".plaintext_PwdTwo");
                var pwdInput = $(this).siblings(".ciphertext_PwdTwo");
                pwdInput.hide();
                textInput.val(pwdInput.val()).show().focusEnd();
             },
             function () {
                $(this).removeClass("btn-on_PwdTwo");
                var textInput = $(this).siblings(".plaintext_PwdTwo");
                var pwdInput = $(this).siblings(".ciphertext_PwdTwo");
                textInput.hide();
                pwdInput.val(textInput.val()).show().focusEnd();
             }
         );
      }

      //监控用户输入
      $(":input").bind('input propertychange', function () {
         if ($(this).val() != "") {
            $(this).siblings(".input-close").show();
         } else {
            $(this).siblings(".input-close").hide();
         }
      });
   </script>
}

<div class="dialog-sec dialog-in-transition">
   <div>
      <div class="sec-hd">注册账户</div>
      <div class="sec-bd">
         <div class="input-cell">
            <div class="x-input"><span class="input-label" style="width: 42px;">手机号</span>
               <div class="input-bd">
                  <input type="text" pattern="[0-9]*" maxlength="11" placeholder="请输入您的手机号">
               </div>
            </div>
         </div>
         <div class="input-cell">
            <div class="cell-hd">
               <div class="x-input"><span class="input-label" style="width: 42px;">验证码</span>
                  <div class="input-bd">
                     <input type="text" placeholder="输入验证码">
                  </div>
               </div>
            </div>
            <div class="cell-ft">
               <div class="send-btn">获取验证码 </div>
            </div>
         </div>
         <div class="input-cell">
            <div class="cell-hd">
               <div class="x-input"><span class="input-label" style="width: 42px;">密码</span>
                  <div class="input-bd">
                     <input type="password" placeholder="请输入您的手机号">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="sec-ft"><a class="ui-btn primary" href="javascript:;">
         <div class="btn-cont"><i class="loader" style="display: none;"></i><span>确定</span></div>
      </a></div>
      <div class="sec-end"><a class="end-action" href="javascript:;">更换手机号</a> </div>
   </div>
</div>
