@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_LayoutShow.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   DTcms.Model.article m = ViewData["model"] as DTcms.Model.article;
   ViewBag.Title = @m.title + " - " + @site.name;
   const string channel = "ePortal_content";
   DataTable list = bc.get_article_list(channel, 0, 0, "status=0");
   string category_title = bc.get_category_title(m.category_id, "公司介绍");
}

<div id="content">
@RenderPage("~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/partial_header_subNav.cshtml")
   <script type="text/javascript">
      $(function () {
         //设置导航菜单对应项为活动状态
         var category = "@m.call_index";
         if (category == "ePortal_about") {
            $(".n2 a").addClass("on");
         }
         if (category.indexOf("ePortal_service") >= 0){
            $(".n4 a").addClass("on");
         }
         if (category == "ePortal_merchants") {
            $(".n5 a").addClass("on");
         }
         if (category == "ePortal_contact") {
            $(".n6 a").addClass("on");
         }
         //语言设置
         var arr = new Array("zh-CN", "zh-Hant", 'en');
         $("#language-box a").each(function (index) {
            $(this).click(function () {
               setCookieLanguage('Language', arr[index]);
            });
         });
      })
      function setCookieLanguage(name, value) {
         var argv = setCookieLanguage.arguments;
         var argc = setCookieLanguage.arguments.length;
         var expires = (argc > 2) ? argv[2] : null;
         if (expires != null) {
            var LargeExpDate = new Date();
            LargeExpDate.setTime(LargeExpDate.getTime() + (expires * 1000 * 3600 * 24));
         }
         document.cookie = name + "=" + escape(value) + ((expires == null) ? "" : ("; expires=" + LargeExpDate.toGMTString())) + ("; path=/") + ("; domain=.vanke.com");
      }
   </script>
   @if (string.IsNullOrEmpty(m.img_url)) {
      <div id="banner">
         <div class="about"></div>
      </div>
   }
   else {
      <div style="width:1130px; margin: 0 auto;">
         <img alt="" style="width:1130px;" src="@m.img_url" />
      </div>
   }
   <div class="nav">
      <div class="g-wrap">
         <div class="crumbs">
            <a href="@bc.linkurl("index")">首页</a>
            <a class="on">@m.title</a>
         </div>
         <div class="columns">
            @{
               DataTable contentList = bc.get_article_list("ePortal_content", m.category_id, 10, "");
               foreach (DataRow dr in contentList.Rows) {
                  <a href="@bc.linkurl("content", dr["call_index"])" class="@((int)dr["id"] == m.id ? "on" : "")">@dr["title"]<span></span></a>
               }
            }
         </div>
      </div>
   </div>

   <div id="about-1">
      <div id="main" class="clearfix g-wrap">
         <div id="left">
            <div class="editor">
               <p style="-webkit-opacity: 0.88; -moz-opacity: 0.88; -ms-opacity: 0.88; filter: alpha(opacity=88); -o-opacity: 0.88; opacity: 0.88;">
                  <span style="font-size: 24px; color: #333;">@m.title</span><br>
                  <span style="font-size: 16px; color: #333;">@m.seo_title</span>
               </p>
               <h1 style="margin: 25px 0; font-size: 16px; color: #f00;">@m.seo_keywords</h1>
               <p id="zhaiyao"></p>
               <div>
                  @Html.Raw(m.content)
               </div>
            </div>
            <input title="点击查看更多" class="more" type="button" style="display:none">
         </div>
         <div id="right">
            <a target="_blank" href="@bc.linkurl("news")">
               <img width="300px" src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/news_right_01.jpg" alt="">
            </a>
            <a target="_blank" href="@bc.linkurl("news")">
               <img width="300px" src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/news_right_02.jpg" alt="">
            </a>
            <a target="_blank" href="@bc.linkurl("news")">
               <img width="300px" src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/news_right_03.png" alt="">
            </a>
         </div>
      </div>
   </div>
   <!--[if lte IE 7]>
<script type="text/javascript">
    var isIE7 = true;
</script>
<![endif]-->

   <script type="text/javascript">
      var sup = $('#left'),
          hidden = sup.find('.editor .hidden'),
          btn = sup.find('input.more');

      btn.on('click', function () {
         hidden.slideDown(300, function () {
            $("#zhaiyao").hide();
            btn.stop().hide();
         });
         if (window.isIE7) {
            $('html').stop().animate({ 'scrollTop': 550 }, 500);
         }
         else {
            $('html,body').stop().animate({ 'scrollTop': 550 }, 500);
         }
      });
   </script>
</div>