@using System.Data;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_Layout.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   ViewBag.Title = site.seo_title;
   IndexController c = ViewBag.Controller as IndexController;
   DataTable categoryList = bc.get_category_child_list("ePortal_news", 0);
   int count = 0;
}
@section HeaderContent{
   <link href="~/Content/flexslider.css" rel="stylesheet" />
   <script src="~/Scripts/jquery/jquery.flexslider-min.js"></script>
   <link href="~/templates/@ViewBag.TemplateSkin/web/css/index.css" rel="stylesheet" />
   <script src="~/templates/@ViewBag.TemplateSkin/web/js/index.js"></script>
}
@section Scripts{
   <script>
      $(function () {
         $(".focusbox").flexslider({
            directionNav: false,
            pauseOnAction: false
         });

         $(".n1 a").addClass("on"); //设置导航菜单(首页)为活动状态
         function tab(i) {
            $(i).children().click(function () {  //触发方式//click//mouseover
               $(this).siblings().removeClass();
               $(this).addClass('hover');
               $(this).parent().siblings('.tab-box').hide();
               $(this).parent().siblings('.tab-box').eq($(this).index()).show();
               if ($(this).index() == 0) {
                  $('.xian').animate({ left: '0px' });
               }
               else if ($(this).index() == 1) {
                  { $('.xian').animate({ left: '80px' }); }
               }
               else if ($(this).index() == 2) {
                  { $('.xian').animate({ left: '160px' }); }
               }
               else if ($(this).index() == 3) {
                  { $('.xian').animate({ left: '240px' }); }
               }
            })
         }

         //tab调用 
         $(function () {
            tab('.tab1')
            tab('.tab2')
         })

         $(function () {
            $(".nav").click(function () {
               $(this).toggleClass("color").siblings().removeClass("color")//颜色
               $(this).next().slideToggle(500).siblings("ul").slideUp(500);
            })
         })
      });
   </script>
}

<div id="content">
   @RenderPage("~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/partial_header_subNav.cshtml")

   <!-- 首页大轮播图 -->
   <div style="height: 411px; overflow: hidden; position: relative;">
      <div  class="focusbox">
         <ul class="slides">
            <li class="switchable-panel" style='background: url("@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/slider_01.jpg") top; width: 100%; height: 100%; position: absolute; z-index: 1; opacity: 0;'>
               <a style="width: 100%; height: 411px; display: block;" href="@bc.linkurl("content","ePortal_service")"></a>
            </li>
            <li class="switchable-panel" style='background: url("@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/slider_02.jpg") top; width: 100%; height: 100%; position: absolute; z-index: 1; opacity: 0;'>
               <a style="width: 100%; height: 411px; display: block;" href="@bc.linkurl("content","ePortal_about")"></a>
            </li>
            <!--<li class="switchable-panel" style='background: url("@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/slider_03.jpg") top; width: 100%; height: 100%; position: absolute; z-index: 1; opacity: 0;'><a style="width: 100%; height: 411px; display: block;" href="@bc.linkurl("content","ePortal_service3")"></a></li>-->
            <li class="switchable-panel" style='background: url("@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/slider_05.jpg") top; width: 100%; height: 100%; position: absolute; z-index: 1; opacity: 0;'>
               <a style="width: 100%; height: 411px; display: block;" href="@bc.linkurl("content","ePortal_merchants")"></a>
            </li>
            <li class="switchable-panel" style='background: url("@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/slider_07.jpg") top; width: 100%; height: 100%; position: absolute; z-index: 1; opacity: 0;'>
               <a style="width: 100%; height: 411px; display: block;" href="@bc.linkurl("content","ePortal_service2")"></a>
            </li>
            <li class="switchable-panel" style='background: url("@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/slider_08.jpg") top; width: 100%; height: 100%; position: absolute; z-index: 1; opacity: 0;'>
               <a style="width: 100%; height: 411px; display: block;" href="http://www.jtdy.net"></a>
            </li>
            <!--<li class="switchable-panel" style='background: url("@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/slider_09.jpg") top; width: 100%; height: 100%; position: absolute; z-index: 1; opacity: 0;'><a style="width: 100%; height: 411px; display: block;" href="@bc.linkurl("content","ePortal_house")"></a></li>-->
         </ul>
      </div>
   </div>
   <!-- 首页大轮播图 / -->

   <!-- 新闻滚动 -->
   <div class="redian">
      <div class="r-wrap">
         <div class="caifu">
            @{
               DataTable redList = bc.get_article_list("ePortal_news", 0, 1, "status=0 and is_top=1", "sort_id");//在新闻通道查询置顶文章
               if(redList.Rows.Count == 1){
                  <a href="@bc.linkurl("news_show", redList.Rows[0]["id"])">
                     <h1>@redList.Rows[0]["title"]</h1>
                     <p>@redList.Rows[0]["zhaiyao"]</p>
                  </a>
               }
               else {
                  redList = bc.get_article_list("ePortal_content", 0, 1, "status=0 and is_top=1", "sort_id");//如果在新闻通道没有置顶文章, 继续在公司介绍通道查询置顶文章
                  if(redList.Rows.Count == 1){
                     <a href="@bc.linkurl("content", redList.Rows[0]["call_index"])">
                        <h1>@redList.Rows[0]["title"]</h1>
                        <p>@redList.Rows[0]["zhaiyao"]</p>
                     </a>
                  }
               }
            }
         </div>
         <div class="news-1">
            <ul class="tab-nav tab1">
               @foreach (DataRow cdr in categoryList.Rows) {
                  <li>@cdr["title"]</li>
               }
            </ul>
            <div class="xian"></div>
            @foreach(DataRow cdr in categoryList.Rows){
               count++;
            <div class="tab-box @(count != 1 ? "none" : "")">
               @{
                  DataTable newsList2 = bc.get_article_list("ePortal_news", (int)cdr["id"], 3, "status=0");
                  foreach(DataRow dr in newsList2.Rows){
                     <a href="@bc.linkurl("news_show", dr["id"])"><p><i>@DateTime.Parse(dr["add_time"].ToString()).ToString("yyyy-MM-dd")</i>@dr["title"]</p></a>
                  }
               }
            </div>
            }
         </div>
         <div class="movie">
            <h1>园区宣传片</h1>
            <div class="thumb">
            @{
               DataTable videoList = bc.get_article_list("ePortal_video",1,"");
               foreach(DataRow dr in videoList.Rows){
                  <a href="@bc.linkurl("video_show", dr["id"])"><img alt="" src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/play_arrow.png" /></a>
               }
            }
            </div>
         </div>
      </div>
   </div>
   <!-- 新闻滚动 /-->


   <div id="subjects">
      <div class="g-wrap state-0">
         <a class="item-1" target="_blank" href="@bc.linkurl("content","ePortal_chairman")" idx="1">
            <span class="p1"><img src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/wrapper_01.jpg" alt=""></span>
            <span class="p2" style="left: 350px; top: 0;"></span>
         </a>
         <a class="item-2" target="_blank" href="http://www.jtdy.net" idx="2">
            <span class="p1"><img src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/wrapper_02_1.jpg" alt=""></span>
            <span class="p2"><img src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/wrapper_02_2.jpg" alt=""></span>
         </a>
         <a class="item-3" target="_blank" href="@bc.linkurl("content","ePortal_merchants6")" idx="3">
            <span class="p1"><img src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/wrapper_03_1.jpg" alt=""></span>
            <span class="p2"><img src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/wrapper_03_2.jpg" alt=""></span>
         </a>
         <a class="item-4" target="_blank" href="@bc.linkurl("content","ePortal_service2")" idx="4">
            <span class="p1"><img src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/wrapper_04_1.jpg" alt=""></span>
            <span class="p2"><img src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/wrapper_04_2.jpg" alt=""></span>
         </a>
      </div>
   </div>
</div><!-- end content -->
@{
   DataTable listLink = new LinkController().get_link_list(10, "is_lock=0 and is_image=1 and is_red=1 and site_path='" + site.build_path + "'");
}
<div class="section" style="@(listLink.Rows.Count == 0 ? "display:none;" : "")">
  <div class="ntitle">
    <h2>
      <a href="@c.linkurl("link")">入驻商户<em></em></a>
    </h2>
    <p>
      <a class="no-bg" href="@c.linkurl("link")"></a>
    </p>
  </div>
  <div class="wrapper link-box">
    <div class="txt">
      @foreach (DataRow dr in new LinkController().get_link_list(0, "is_lock=0 and is_image=0 and is_red=1 and site_path='" + site.build_path +"'").Rows) {
        <a target="_blank" href="@dr["site_url"]">@dr["title"]</a> @:|
      }
    </div>
    <ul class="img">
      @foreach (DataRow dr in listLink.Rows) {
        <li><a target="_blank" href="@dr["site_url"]" title="@dr["title"]"><img src="@dr["img_url"]" /></a></li>
      }
    </ul>
  </div>
</div>
<div class="section">
   <div style="margin:5px auto;">
      <a href="http://www.jtdy.net" target="_blank"><img src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/banner_shop.png" alt="" /></a>
   </div>
</div>

	





