@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_LayoutShow.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   DTcms.Model.article m = ViewData["model"] as DTcms.Model.article;
   Article_ShowController bc = ViewBag.BasePage as Article_ShowController;
   string category_title = bc.get_category_title(m.category_id, "视频专区");
   ViewBag.Title = m.title + " - " + category_title + " - " + site.name;
   const string channel = "ePortal_video";
   DataTable list = null;
   int count = 0;
}
@section HeaderContent{
   <script src="~/Scripts/ckplayer/ckplayer.js"></script>
   <script src="~/Scripts/jquery/jquery.pagination.js"></script>
   <script src="~/Scripts/Validform_v5.3.2_min.js"></script>
}
@section Scripts{
<script>
$(function(){
	//设置视频容器大小
	winResize();
	$(window).resize(function() {
		winResize();
	});
	//初始化视频容器
	initCKPlayer('video-box', '@m.fields["video_src"]', '@(config.webpath)scripts/ckplayer/ckplayer.swf');
});
//改变大小函数
function winResize(){
	if($(".section").width() >= 1130){
		$(".video-box").width(840);
		$(".video-box").height(473);
	}else{
		$(".video-box").width(601);
		$(".video-box").height(338);
	}
}
</script>
}

<div id="content">
   @RenderPage("~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/partial_header_subNav.cshtml")
   @if (string.IsNullOrEmpty(m.img_url)) {
      <div id="banner">
         <div class="news"></div>
      </div>
   }
   else {
      <div style="width:1130px; margin: 0 auto;">
         <img alt="" style="width:1130px;" src="@m.img_url" />
      </div>
   }
   <div class="nav">
      <div class="g-wrap">
         <div class="crumbs">
            <a href="@bc.linkurl("news_list", m.category_id)">新闻中心</a>
            <a class="on">@category_title</a>
         </div>
         <div class="columns">
         @{
            DataTable categoryList = bc.get_category_list("ePortal_news", 0);
            foreach(DataRow dr in categoryList.Rows){
               <a href="@bc.linkurl("news_list", dr["id"])" class="@((int)dr["id"] == m.category_id ? "on" : "")">@dr["title"]<span></span></a>
            }
         }
         </div>
      </div>
   </div>

   <style>
      #ckplayer_a1 { padding-bottom: 30px; }
   </style>
   <div>
      <div id="main" class="clearfix g-wrap">
         <div id="left">
            <div class="news-editor">
               <div class="date-block">
                  <span class="day">@m.add_time.Day</span>
                  @m.add_time.ToString("MMMM", new System.Globalization.CultureInfo("en-us")).Substring(0, 3)<br>
                  @m.add_time.Year
               </div>
               <h1>@m.title</h1>
               <h3>发布者:佳天国际&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浏览次数:@m.click</h3>
               <div id="video-box" class="video-box" style="margin:5px auto"></div>
                <!-- 文章内容-->
               <div style="padding:5px;">
                  @Html.Raw(m.content)
               </div>
                <!-- /文章内容 -->
                <!--分享 -->
                @RenderPage("~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/partial_share_js.cshtml")
                <!--/分享-->
            </div>
         </div>

      <div id="right">
         <a target="_blank" href="@bc.linkurl("news")">
            <img width="300px" src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/news_right_01.jpg" alt="">
         </a>
         <a target="_blank" href="@bc.linkurl("news")">
            <img width="300px" src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/news_right_02.jpg" alt="">
         </a>
         <a target="_blank" href="@bc.linkurl("news")">
            <img width="300px" src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/news_right_03.jpg" alt="">
         </a>
      </div>
      </div>
   </div>
</div>