@{
   Layout = "~/Areas/admin/Views/Shared/_LayoutEdit.cshtml";
   ViewBag.Title = "编辑语音回复";
   DTcms.Model.sysconfig sysConfig = ViewData["sysConfig"] as DTcms.Model.sysconfig;
   List<SelectListItem> weixinListItems = ViewData["weixinListItems"] as List<SelectListItem>;
   DTcms.Model.weixin_request_rule m = ViewData["model"] as DTcms.Model.weixin_request_rule;
}

@section HeaderContent{
   <script>
      $(function () {
         //初始化表单验证
         $("#form1").initValidform();
         //初始化上传控件
         $(".upload-img").InitUploader({ filesize: "@sysConfig.imgsize", sendurl: "/tools/upload_ajax.ashx", swf: "/scripts/webuploader/uploader.swf", filetypes: "@sysConfig.fileextension" });
         $(".upload-video").InitUploader({ filesize: "@sysConfig.videosize", sendurl: "/tools/upload_ajax.ashx", swf: "/scripts/webuploader/uploader.swf", filetypes: "@sysConfig.videoextension" });
      });
   </script>
}

<form id="form1" action="SubmitSave?action=@ViewBag.Action&id=@ViewBag.Id" method="post">
<!--导航栏-->
<div class="location">
  <a href="../sound_list/index" class="back"><i class="iconfont icon-up"></i><span>返回列表页</span></a>
  <a href="../../center/index"><i class="iconfont icon-home"></i><span>首页</span></a>
  <i class="arrow iconfont icon-arrow-right"></i>
  <span>应用管理</span>
  <i class="arrow iconfont icon-arrow-right"></i>
  <span>微信管理</span>
  <i class="arrow iconfont icon-arrow-right"></i>
  <span>编辑语音回复</span>
  <div class="clipboard">
     <span><label id="clipMess"></label></span>
     <a href="javascript:;" class="copy" onclick="copy();"><i class="iconfont icon-copy"></i><span>复制</span></a>
     <a href="javascript:;" class="paste disable" onclick="paste();"><i class="iconfont icon-log"></i><span>粘贴</span></a>
  </div>
</div>
<div class="line10"></div>
<!--/导航栏-->

<!--内容-->
<div id="floatHead" class="content-tab-wrap">
  <div class="content-tab">
    <div class="content-tab-ul-wrap">
      <ul>
        <li><a class="selected" href="javascript:;">编辑语音回复</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="tab-content">
  <dl>
    <dt>公众账户</dt>
    <dd>
      <div class="rule-single-select">
        @Html.DropDownList("ddlAccountId", new SelectList(weixinListItems, "Value", "Text", m.account_id), new { datatype = "*", errormsg="请选择公众账户！", sucmsg = " " })
       </div>
      <span class="Validform_checktip">*当前的公众账户，可以切换。</span>
    </dd>
  </dl>
  <dl>
    <dt>排序数字</dt>
    <dd>
      @Html.TextBox("txtSortId", m.sort_id, new { @class="input small", datatype="n", sucmsg=" "})
      <span class="Validform_checktip">*数字，越小越向前</span>
    </dd>
  </dl>
  <dl>
    <dt>关键词类型</dt>
    <dd>
      <div class="rule-multi-radio">
        <span>
           @Html.RadioButton("rblIsLikeQuery", "0", m.is_like_query == 0, new { id="rblIsLikeQuery_0"})<label for="rblIsLikeQuery_0">完全匹配</label>
           @Html.RadioButton("rblIsLikeQuery", "1", m.is_like_query == 1, new { id="rblIsLikeQuery_1"})<label for="rblIsLikeQuery_1">包含匹配</label>
        </span>
      </div>
      <span class="Validform_checktip">*包含匹配，当文本包含本关键词时触发</span>
    </dd>
  </dl>
  <dl>
    <dt>搜索关键词</dt>
    <dd>
      @Html.TextBox("txtKeywords", m.keywords, new { @class="input normal ", datatype="*1-1000", sucmsg=" ", nullmsg="请填写关键词，多个关键词请用|格开：例如: 美丽|漂亮|好看"})
      <span class="Validform_checktip">*多个关键词请用|格开：例如: 美丽|漂亮|好看</span>
    </dd>
  </dl>
  <dl>
    <dt>语音标题</dt>
    <dd>
      @Html.TextBox("txtTitle", m.contents != null ? m.contents[0].title : "", new { @class="input normal", datatype="*0-255", sucmsg=" "})
      <span class="Validform_checktip">*最多30个字符</span>
    </dd>
  </dl>
  <dl>
    <dt>预览缩略图</dt>
    <dd>
      @Html.TextBox("txtImgUrl", m.contents != null ? m.contents[0].img_url : "", new { @class="input normal upload-path", datatype="*1-255" })
      <div class="upload-box upload-img"></div>
      <span class="Validform_checktip">*必填选项，只能通过本地上传！</span>
    </dd>
  </dl>
  <dl>
    <dt>语音链接</dt>
    <dd>
      @Html.TextBox("txtMediaUrl", m.contents != null ? m.contents[0].media_url : "", new { @class="input normal upload-path", datatype="*1-500", sucmsg=" "})
      <div class="upload-box upload-video"></div>
      <span class="Validform_checktip">*MP3格式，填写链接或本地上传！</span>
    </dd>
  </dl>
  <dl>
    <dt>语音描述</dt>
    <dd>
      @Html.TextArea("txtContent", m.contents != null ? m.contents[0].content : "", new { @class="input", style="width:100%;height:200px;", datatype="*0-1000", sucmsg=" "})
    </dd>
  </dl>
</div>
<!--/内容-->

<!--工具栏-->
<div class="page-footer">
  <div class="btn-wrap">
    <input type="submit" id="btnSubmit" class="btn" value="提交保存" />
    <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript: history.back(-1);" />
  </div>
</div>
<!--/工具栏-->

</form>