@using System.Data;
@{
   Layout = "~/Areas/admin/Views/Shared/_LayoutEdit.cshtml";
   ViewBag.Title = "回复消息";
   DTcms.Model.sysconfig sysConfig = ViewData["sysConfig"] as DTcms.Model.sysconfig;
   List<SelectListItem> weixinListItems = ViewData["weixinListItems"] as List<SelectListItem>;
   DTcms.Model.weixin_request_rule m = ViewData["model"] as DTcms.Model.weixin_request_rule;
}

@section HeaderContent{
   <script>
      $(function () {
         //初始化表单验证
         $("#form1").initValidform();
         //初始化上传控件
         $(".upload-img").InitUploader({ filesize: "@sysConfig.imgsize", sendurl: "/tools/upload_ajax.ashx", swf: "/scripts/webuploader/uploader.swf", filetypes: "@sysConfig.fileextension" });
         $(".upload-video").InitUploader({ filesize: "@sysConfig.videosize", sendurl: "/tools/upload_ajax.ashx", swf: "/scripts/webuploader/uploader.swf", filetypes: "@sysConfig.videoextension" });
         //添加按钮(点击绑定)
         $("#itemAddButton").click(function () {
            showImgDialog();
         });
         //显示相关的容器
         showItemBox();
         //点击类型
         $("input[name='rblResponseType']").click(function () {
            showItemBox($(this).val());
         });

         //账户选择改变事件
         $("#ddlAccountId").change(function () {
            var id = $("#ddlAccountId").val();
            document.location.href = "index?action=@ViewBag.Action&id=" + id + "&hideRequestType=" + $("#hideRequestType").val();
         });
      });

      //显示相关的容器
      function showItemBox(num) {
         var objNum = arguments.length;
         var selectVal = $("input[name='rblResponseType']:checked").val();
         if (objNum == 1) {
            selectVal = num;
         }
         switch (selectVal) {
            case "1": //图文
               $(".text").hide();
               $(".sound").hide();
               $(".picture").show();
               break;
            case "2": //语音
               $(".text").hide();
               $(".sound").show();
               $(".picture").hide();
               break;
            default: //文字
               $(".text").show();
               $(".sound").hide();
               $(".picture").hide();
               break;
         }
      }

      //创建窗口
      function showImgDialog(obj) {
         var objNum = arguments.length;
         var d = top.dialog({
            width: 500,
            title: '添加图片',
            url: '../dialog/dialog_picture/index',
            onclose: function () {
               var trHtml = this.returnValue;
               if (trHtml.length > 0) {
                  $("#item_box").append(trHtml);
               }
            }
         }).showModal();
         //检查是否修改状态
         if (objNum == 1) {
            d.data = obj;
         }
      }

      //删除节点
      function delItemTr(obj) {
         $(obj).parent().parent().remove();
      }
   </script>
}

<form id="form1" action="SubmitSave?action=@ViewBag.Action&id=@ViewBag.Id" method="post">
<!--导航栏-->
<div class="location">
  <a href="javascript:history.back(-1);" class="back"><i class="iconfont icon-up"></i><span>返回上一页</span></a>
  <a href="../../center/index"><i class="iconfont icon-home"></i><span>首页</span></a>
  <i class="arrow iconfont icon-arrow-right"></i>
  <span>应用管理</span>
  <i class="arrow iconfont icon-arrow-right"></i>
  <span>微信管理</span>
  <i class="arrow iconfont icon-arrow-right"></i>
  <span>@ViewBag.Position</span>
</div>
<div class="line10"></div>
<!--/导航栏-->

<!--内容-->
<div id="floatHead" class="content-tab-wrap">
  <div class="content-tab">
    <div class="content-tab-ul-wrap">
      <ul>
        <li>
          <a class="selected" href="javascript:;">@ViewBag.Position</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="tab-content">
  <dl>
    <dt>公众账户</dt>
    <dd>
      <div class="rule-single-select">
         @Html.DropDownList("ddlAccountId", new SelectList(weixinListItems, "Value", "Text", ViewBag.Id), new { datatype = "*", errormsg="请选择公众账户！", sucmsg = " " })
       </div>
      <span class="Validform_checktip">*当前的公众账户，可以切换。</span>
    </dd>
  </dl>
  <dl>
    <dt>消息类型</dt>
    <dd>
      @Html.Hidden("hideId", m != null ? m.id : 0)
      @Html.Hidden("hideRequestType", ViewBag.RequestType as string)
      <div class="rule-multi-radio">
         <span>
            @Html.RadioButton("rblResponseType", "0", m != null ? m.response_type == 1 : true, new { id="rblResponseType_0"})<label for="rblResponseType_0">文本回复</label>
            @Html.RadioButton("rblResponseType", "1", m != null ? m.response_type == 2 : false, new { id="rblResponseType_1"})<label for="rblResponseType_1">图文回复</label>
            @Html.RadioButton("rblResponseType", "2", m != null ? m.response_type == 3 : false, new { id="rblResponseType_2"})<label for="rblResponseType_2">语音回复</label>
         </span>
       </div>
    </dd>
  </dl>

  <dl class="text">
    <dt>回复内容</dt>
    <dd>
      @Html.TextArea("txtContent", m != null && m.response_type == 1 ? m.contents[0].content : "", new { @class="input", style="width:100%;height:300px;", datatype="*0-1000", sucmsg=" "})
      <span class="Validform_checktip">*最多1000个字符</span>
    </dd>
  </dl>

  <dl class="sound" style="display:none;">
    <dt>语音标题</dt>
    <dd>
      @Html.TextBox("txtSoundTitle", m != null && m.response_type == 2 ? m.contents[0].title : "", new { @class="input normal", datatype="*0-255", sucmsg=" "})
      <span class="Validform_checktip">*最多30个字符</span>
    </dd>
  </dl>
  <dl class="sound" style="display:none;">
    <dt>文件地址</dt>
    <dd>
      @Html.TextBox("txtSoundUrl", m != null && m.response_type == 2 ? m.contents[0].media_url : "", new { @class="input normal upload-path" })
      <div class="upload-box upload-video"></div>
      <span class="Validform_checktip">*MP3格式，填写链接或本地上传！</span>
    </dd>
  </dl>
  <dl class="sound" style="display:none;">
    <dt>语音描述</dt>
    <dd>
      @Html.TextArea("txtSoundContent", m != null && m.request_type == 2 ? m.contents[0].content : "", new { @class="input", datatype="*0-500", sucmsg=" "})
    </dd>
  </dl>

  <dl class="picture" style="display:none;">
    <dt>图文列表</dt>
    <dd><a id="itemAddButton" class="icon-btn add"><i></i><span>添加图片</span></a></dd>
  </dl>
  <dl class="picture" style="display:none;">
    <dt></dt>
    <dd>
      <div class="table-container">
        <table border="0" cellspacing="0" cellpadding="0" class="border-table" width="100%">
          <thead>
              <tr>
                <th width="12%">图片</th>
                <th width="20%">标题</th>
                <th width="40%">链接</th>
                <th width="12%">排序</th>
                <th width="10%">操作</th>
              </tr>
            </thead>
            <tbody id="item_box">
            @if(m != null && m.request_type == 2){
              foreach(DTcms.Model.weixin_request_content item in m.contents){
              <tr class="td_c">
                <td>
                  <input type="hidden" name="item_id" value="@item.id" />
                  <input type="hidden" name="item_content" value="@item.content" />
                  <input type="hidden" name="item_imgurl" value="@item.img_url" />
                  <span class="item_imgurl img-box">
                     @if(item.img_url.ToString() == ""){
                        @:-
                     }
                     else{
                        <img src="@item.img_url" />
                     }
                  </span>
                </td>
                <td>
                  <input type="hidden" name="item_title" value="@item.title" />
                  <span class="item_title">@item.title</span>
                </td>
                <td>
                  <input type="hidden" name="item_linkurl" value="@item.link_url" />
                  <span class="item_linkurl">@item.link_url</span>
                </td>
                <td>
                  <input type="hidden" name="item_sortid" value="@item.sort_id" />
                  <span class="item_sortid">@item.sort_id</span>
                </td>
                <td>
                  <a title="编辑" class="img-btn edit operator" onclick="showImgDialog(this);">编辑</a>
                  <a title="删除" class="img-btn del operator" onclick="delItemTr(this);">删除</a>
                </td>
              </tr>
               }
            }
            </tbody>
        </table>
      </div>
    </dd>
  </dl>

</div>
<!--/内容-->

<!--工具栏-->
<div class="page-footer">
  <div class="btn-wrap">
    <input type="submit" id="btnSubmit" class="btn" value="提交保存" />
    @if(m != null){
    <input type="submit" id="btnDelete" class="btn green" value="删除消息" />
    }
    <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript: history.back(-1);" />
  </div>
</div>
<!--/工具栏-->

</form>