@using System.Data;
@using DTcms.Model;
@using DTcms.Common;
@{
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   DTcms.Web.MVC.UI.Controllers.BaseController bc = ViewBag.BasePage as DTcms.Web.MVC.UI.Controllers.BaseController;
   DataTable list = bc.get_category_child_list("ePortal_news", 0);
   int category_id = 0;
   if(list.Rows.Count > 0){
      category_id = (int)list.Rows[0]["id"];
   }
}

<!--页面头部-->
<div id="header">
   <div class="g-wrap">
      <a id="logo" href="@bc.linkurl("index")"></a>
      <ul id="nav">
         <li class="n1"><a href="@bc.linkurl("index")"><span>首页</span><span class="bkg"></span></a></li>
         <li class="n2 more"><a href="@bc.linkurl("content", "ePortal_about")" idx="0"><span>关于佳天</span><span class="bkg"></span></a></li>
         <li class="n3 more"><a href="@bc.linkurl("news_list", category_id)" idx="1"><span>新闻中心</span><span class="bkg"></span></a></li>
         <li class="n4 more"><a href="@bc.linkurl("content","ePortal_service")" idx="2"><span>园区功能</span><span class="bkg"></span></a></li>
         <li class="n5 more"><a href="@bc.linkurl("content","ePortal_merchants2")" idx="3"><span>园区招商</span><span class="bkg"></span></a></li>
         <li class="n6"><a href="@bc.linkurl("content","ePortal_contact")"><span>联系我们</span><span class="bkg"></span></a></li>
         <li class="n7" style="display:none"><a href="career.aspx"><span>加入佳天</span><span class="bkg"></span></a></li>
         <li class="n8" style="display:none"><a href="feedback.aspx"><span>投诉建议</span><span class="bkg"></span></a></li>
      </ul>
      <div id="shop">
         <a class="btn-lang tmp-unselect" href="javascript:void(0);">中/RU</a>
         <a href="javascript:void(0);" class="btn-search"></a>
      </div>
   </div>
</div>
<!--页面头部-->
