@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/Shared/_Layout.cshtml";
   DTcms.Model.sites site = ViewData["site"] as DTcms.Model.sites;
   DTcms.Model.sysconfig config = ViewData["sysConfig"] as DTcms.Model.sysconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   ViewBag.Title = "购物车 - " + site.name;
   List<DTcms.Model.cart_items> goodsList = ViewData["goodsList"] as List<DTcms.Model.cart_items>;
}
@section HeaderContent{
   <script src="~/Areas/Web/Scripts/cart.js"></script>
}
<!--当前位置-->
<div class="section">
  <div class="location">
    <span>当前位置：</span>
    <a href="@bc.linkurl("index")">首页</a> &gt;
        <a href="@bc.linkurl("cart")">购物车</a>
  </div>
</div>
<!--/当前位置-->
<!--页面内容-->
<div class="section">
  <div class="wrapper">
    <div class="bg-wrap">
      <!--购物车头部-->
      <div class="cart-box">
        <h1>我的购物车</h1>
        <div class="cart-step">
          <ul>
            <li class="selected">
              <div class="progress">
                <span>1</span>
                放进购物车
              </div>
            </li>
            <li>
              <div class="progress">
                <span>2</span>
                填写订单信息
              </div>
            </li>
            <li class="last">
              <div class="progress">
                <span>3</span>
                支付/确认订单
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--购物车头部-->

      <!--商品列表-->
      <div class="cart-box">
        <input id="jsondata" name="jsondata" type="hidden" />
        <table width="100%" align="center" class="cart-table" border="0" cellspacing="0" cellpadding="8">
          <tr>
            <th width="48" align="center">
              <a onclick="selectCart(this);" href="javascript:;">全选</a>
            </th>
            <th align="left" colspan="2">商品信息</th>
            <th width="84" align="left">单价</th>
            <th width="104" align="center">数量</th>
            <th width="104" align="left">金额(元)</th>
            <th width="84" align="center">积分</th>
            <th width="54" align="center">操作</th>
          </tr>
          @foreach (DTcms.Model.cart_items modelt in goodsList) {
            <tr>
              <td align="center">
                <input type="checkbox" name="checkall" class="checkall" onclick="selectCart();" />
                <input name="hideChannelId" type="hidden" value="@modelt.channel_id" />
                <input name="hideArticleId" type="hidden" value="@modelt.article_id" />
                <input name="hideGoodsId" type="hidden" value="@modelt.goods_id" />
                <input name="hideStockQuantity" type="hidden" value="@modelt.stock_quantity" />
                <input name="hideGoodsPrice" type="hidden" value="@modelt.user_price" />
                <input name="hidePoint" type="hidden" value="@modelt.point" />
              </td>
              <td width="68">
                <a target="_blank" href="@bc.linkurl("goods_show", modelt.article_id)">
                  <img src="@(modelt.img_url)" class="img" />
                </a>
              </td>
              <td>
                <a target="_blank" href="@bc.linkurl("goods_show", modelt.article_id)">@modelt.title</a>
                  <p class="stxt">@modelt.spec_text</p>
              </td>
              <td>￥@modelt.user_price
              </td>
              <td align="center">
                <div class="buy-box">
                  <a href="javascript:;" class="reduce" onclick="updateCart(this, '@(config.webpath)', -1);">-</a>
                  <input type="text" name="goodsQuantity" class="input" value="@(modelt.quantity)" onblur="updateCart(this, '@(config.webpath)');" onkeydown="return checkNumber(event);" />
                  <a href="javascript:;" class="subjoin" onclick="updateCart(this, '@(config.webpath)', 1);">+</a>
                </div>
              </td>
              <td>
                <span class="red">￥<label name="amountCount">@(modelt.user_price * modelt.quantity)</label>
                </span>
              </td>
              <td align="center">
                <label name="pointCount">
                  @(modelt.point > 0 ? "+" : (modelt.point * modelt.quantity).ToString())
                </label>
              </td>
              <td align="center">
                <a onclick="deleteCart('@(config.webpath)', this);" href="javascript:;">删除</a>
              </td>
            </tr>
          }

          @if (goodsList.Count < 1) {
            <tr>
              <td colspan="10">
                <div class="msg-tips">
                  <div class="icon warning"><i class="iconfont icon-tip"></i></div>
                  <div class="info">
                    <strong>购物车没有商品！</strong>
                    <p>您的购物车为空，<a href="@bc.linkurl("index")">马上去购物</a>吧！</p>
                  </div>
                </div>
              </td>
            </tr>
          }
          <tr>
            <th align="right" colspan="8">已选择商品 <b class="red" id="totalQuantity">0</b> 件 &nbsp;&nbsp;&nbsp;
                            商品总金额（不含运费）：<span class="red">￥</span><b class="red" id="totalAmount">0</b>元
            </th>
          </tr>

        </table>
      </div>
      <!--/商品列表-->

      <!--购物车底部-->
      <div class="cart-foot clearfix">
      <div class="right">
        <div class="btn-box">
          <a onclick="selectCart(this);" href="javascript:;">全选</a>
          <a onclick="deleteCart('@(config.webpath)');" href="javascript:;">清空购物车</a>
        </div>
        <div class="btn-box">
          <input class="btn" onclick="javascript:location.href='@bc.linkurl("index")';" value="继续购物" />
          <input class="submit btn btn-success" onclick="formSubmit(this, '@(config.webpath)', '@bc.linkurl("shopping")');" value="立即结算"/>
        </div>
        </div>
      </div>
      <!--购物车底部-->

    </div>
  </div>
</div>
<!--/页面内容-->
