@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/Shared/_Layout.cshtml";
   DTcms.Model.sites site = ViewData["site"] as DTcms.Model.sites;
   DTcms.Model.sysconfig config = ViewData["sysConfig"] as DTcms.Model.sysconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   ViewBag.Title = "图片分享 - " + site.name;
   string channel = "photo";
}

<!--当前位置-->
<div class="section">
  <div class="location">
    <span>当前位置：</span>
    <a href="@bc.linkurl("index")">首页</a> &gt;
        <a href="@bc.linkurl("photo")">图片分享</a>
  </div>
</div>
<!--/当前位置-->

<!--/推荐图片-->
<div class="section">
  <div class="wrapper clearfix">
    <div class="wrap-box">
      <div class="left-455" style="margin: 0;">
        <div class="side-img-box">
          @{DataTable focusList = bc.get_article_list(channel, 0, 1, "status=0 and is_slide=1");}
          @foreach (DataRow dr in focusList.Rows) {
            <a href="@bc.linkurl("photo_show", dr["id"])">
              <div class="abs-bg"></div>
              <div class="info">
                <h3>@dr["title"]</h3>
                <p>@DateTime.Parse(dr["add_time"].ToString()).ToString("yyyy-MM-dd")</p>
              </div>
              <img src="@dr["img_url"]" />
            </a>
          }
        </div>
      </div>
      <div class="left-690">
        <ul class="img-list">
          @{DataTable redList = bc.get_article_list(channel, 0, 6, "status=0 and is_red=1");}
          @foreach (DataRow dr in redList.Rows) {
            <li>
              <a href="@bc.linkurl("photo_show", dr["id"])">
                <div class="img-box">
                  <img src="@dr["img_url"]" /></div>
                <div class="abs-bg"></div>
                <div class="remark">
                  <h3>@dr["title"]</h3>
                  <p>@DateTime.Parse(dr["add_time"].ToString()).ToString("yyyy-MM-dd")</p>
                </div>
              </a>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
<!--/推荐图片-->

<!--分类推荐-->
<div class="section">
  @{DataTable categoryList = bc.get_category_child_list(channel, 0);}
  @foreach (DataRow cdr in categoryList.Rows) {
    <div class="main-tit">
      <h2>@cdr["title"]</h2>
      <p>
        @{DataTable bcategoryList = bc.get_category_child_list(channel, Convert.ToInt32(cdr["id"]));}
        @foreach (DataRow dr in bcategoryList.Rows) {
          <a href="@bc.linkurl("photo_list", dr["id"])">@dr["title"]</a>
        }
        <a href="@bc.linkurl("photo_list", cdr["id"])">更多<i>+</i></a>
      </p>
    </div>
    <div class="wrapper clearfix">
      <div class="wrap-box">
        <ul class="img-list">
          @{DataTable dt = bc.get_article_list(channel, Convert.ToInt32(cdr["id"]), 5, "status=0");}
          @foreach (DataRow dr in dt.Rows) {
            <li>
              <a title="@dr["title"]" href="@bc.linkurl("photo_show", dr["id"])">
                <div class="img-box">
                  <img src="@dr["img_url"]" /></div>
                <div class="abs-bg"></div>
                <div class="remark">
                  <h3>@dr["title"]</h3>
                  <p>@DateTime.Parse(dr["add_time"].ToString()).ToString("yyyy-MM-dd")</p>
                </div>
              </a>
            </li>
          }
        </ul>
      </div>
    </div>
  }
</div>
<!--/分类推荐-->
