@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_LayoutShow.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   DTcms.Model.article m = ViewData["model"] as DTcms.Model.article;
   ViewBag.Title = @m.title + " - " + @site.name;
   string channel = site.build_path + "_content";
   DataTable list = bc.get_article_list(channel, 0, 0, "status=0");
   string category_title = bc.get_category_title(m.category_id, "公司介绍");
}

@section Styles{
   <style type="text/css">
                .soft-box{ position:relative; margin-bottom:10px; }
                .soft-box .img-box{ float:left; margin:0 20px 0 0; padding:0; width:45%; }
                .soft-box .img-box img{ width:100%; height:auto; }
                .soft-box .txt-box .btn-box{ display:block; }
                .soft-box .txt-box .btn-box a{ display:inline-block; margin-right:15px; padding:10px 25px; border:1px solid #108cee; border-radius:5px; color:#108cee; font-size:14px; line-height:20px; text-decoration:none; text-align:center;}
                .icon-list{ margin:0!important; padding:0; }
                .icon-list li{ display:block; float:left; margin:15px 0; padding:0; width:50%; list-style:none!important; text-align:left; }
                .icon-list li .icon-box{ float:left; text-align:center; }
                .icon-list li .icon-box i{ display:block; margin:0; padding:10px; width:32px; height:32px; color:#108cee; font-size:32px; border:2px solid #e0e0e0; border-radius:10px; }
                .icon-list li .txt-box{ margin:0 0 0 70px; padding:0; }
                .icon-list li .txt-box h3{ display:block; margin:0 auto 5px; padding:0; color:#333; font-size:16px; font-weight:bold; border:0; line-height:1.5em; }
                .icon-list li .txt-box p{ display:block; margin:0; padding:0 20px 0 0; color:#999; font-size:14px; line-height:24px; }
   </style>
}
<div class="wrapper">
    <div class="section">
        <!--所在位置-->
        <div class="navi-box">
            <a href="@bc.linkurl("index")">首页</a> &gt;
            <a href="@bc.linkurl("content","about")">公司介绍</a> &gt;
            <a href="javascript:;">关于我们</a>
        </div>
        <!--/所在位置-->
        
        <!--内容列表-->
        <div class="conn-wrap">
            <h1 class="conn-tit">产品介绍</h1>
            <div class="entry">
               @Html.Raw(m.content)
            </div>
        </div>
        <!--内容列表-->
    </div>
</div>
