@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_LayoutShow.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   ViewBag.Title = "资源下载 - " + site.name;
   int count = 0;
   string channel = site.build_path + "_help";
   DTcms.Model.article m = null;
}
<div class="wrapper">
    <div class="section">
        <!--所在位置-->
        <div class="navi-box">
            <a href="@bc.linkurl("index")">首页</a> &gt;
            <a href="@bc.linkurl("help")
               ">帮助中心</a>
        </div>
        <!--/所在位置-->
        
        <!--页面左边-->
        <div class="left-25">
            <div class="left-wrap">
                <div class="sidebar-nav">
                    <ul>
                       @{
                          DataTable listCategory = bc.get_category_child_list(channel, 0);
                          foreach(DataRow cdr in listCategory.Rows){
                             count++;
                           <li>
                               <h2>
                                   <i class="fa fa-file-text-o"></i>
                                   <span>@cdr["title"]</span>
                               </h2>
                               <div class="list">
                                 @{
                                 DataTable listArticle = bc.get_article_list(channel, 10, "category_id=" + (int)cdr["id"]);
                                 foreach (DataRow dr in listArticle.Rows) {
                                    <p><a href="@bc.linkurl("help_show", dr["id"])">@dr["title"]</a></p>
                                    if (count == 1) {
                                       m = new DTcms.BLL.article().GetModel((int)dr["id"]);
                                    }
                                 }
                                 }
                               </div>
                           </li>                             
                          }
                       }
                    </ul>
                </div>
            </div>
        </div>
        <!--/页面左边-->
        
        <!--页面右边-->
        <div class="left-75">
            <div class="left-wrap">
                <h4 class="sub-tit">@m.title</h4>
                <div class="entry">
                @Html.Raw(m.content)
                </div><!-- end entry -->
            </div>
        </div>
        <!--/页面右边-->
    </div>
</div>