@using System.Data;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_Layout.cshtml";
   BaseController bc = ViewBag.BasePage as BaseController;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   ViewBag.Title = "会员登录 - " + site.name;
}
@section HeaderContent{
   <script src="~/templates/@ViewBag.TemplateSkin/web/js/login-validate.js"></script>
}
@section Styles{
   <style>
   .r-top{border-bottom:1px #dedede solid;height:100px;margin-top:15px}
   </style>
}
<div class="r-top">
	<div class="w1200">
    	<div class="fl">
        <a href="./"><img width="250" alt="欢迎来到@(site.title)商城" src="@(config.webpath)templates/@ViewBag.TemplateSkin/web/images/logo.jpg" border="0"></a>
    	</div>
      <div class="clear"></div>
    </div>
</div>

<div class="login-box">
  <div class="section clearfix">
  <!--页面左边-->
  <div class="login-left"></div>
  <!--/页面左边-->
  
  <!--页面右边-->
  <div class="login-right">
    <h1>会员登录</h1>
    <form id="loginform" name="loginform" url="@(config.webpath)tools/submit_ajax.ashx?action=user_login&site=@site.build_path">
    <ul>
      <li>
        <label>用户名：</label>
        <input id="txtUserName" name="txtUserName" type="text" placeholder="用户名/手机/邮箱" />
      </li>
      <li>
        <label>密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
        <input id="txtPassword" name="txtPassword" type="password" placeholder="输入登录密码" />
      </li>
    </ul>
    <div class="btn-box">
      <div class="col">
        <input id="btnSubmit" name="btnSubmit" class="submit" type="submit" value="登 录">
      </div>
      <div id="msgtips" class="col tips"></div>
      <div class="clearfix">
        <span class="left">
          <label><input id="chkRemember" name="chkRemember" type="checkbox" /> 记住登录</label>
        </span>
        <a class="right" href="@bc.linkurl("repassword")">忘记密码？</a>
      </div>
    </div>
    <input id="turl" name="turl" type="hidden" value="@ViewBag.turl" /><!--记住上一页网址-->
    </form>
    <!--第三方登录-->
    <div class="oauth-box">
     <h3>第三方账号登录，还没注册？ <a href="@bc.linkurl("register")">点击注册</a></h3>
     <p>
        @{
           DataTable list = bc.get_oauth_app_list(0, "is_lock=0");
           foreach(DataRow dr in list.Rows){
              <a title="@dr["title"]" href="@(config.webpath)api/oauth/@dr["api_path"]/index.aspx"><img src="@dr["img_url"]"></a>
           }
        }
     </p>
    </div>
    <!--/第三方登录-->
  </div>
  <!--页面右边-->
</div>
</div>
<div class="clear"></div>
@RenderPage("~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/partial_footer.cshtml")