@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_LayoutShow.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   DTcms.Model.article m = ViewData["model"] as DTcms.Model.article;
   BaseController bc = ViewBag.BasePage as BaseController;
   Article_ShowController c = ViewBag.This as Article_ShowController;
   string category_title = bc.get_category_title(m.category_id, "新闻资讯");
   string category_name = new DTcms.BLL.article_category().GetTitle(m.category_id);
   ViewBag.Title = m.title + " - " + category_title +" - " + site.name;
   DataTable list = null;
   string channel = site.build_path + "_news";
}
<div class="wrapper">
    <div class="section">
        <!--所在位置-->
        <div class="navi-box">
            <a href="@bc.linkurl("index")">首页</a>
            &nbsp;&gt;&nbsp;<a href="@bc.linkurl("news_list", m.category_id)">@category_title</a>
        </div>
        <!--/所在位置-->
        
        <!--页面左边-->
        <div class="left-75">
            <div class="left-wrap">
                <div class="meta">
                    <h2>@m.title</h2>
                    <div class="info">
                        <span><i class="fa fa-calendar"></i>@m.add_time.ToShortTimeString()</span>
                        <span><i class="fa fa-eye"></i><script type="text/javascript" src="/tools/submit_ajax.ashx?action=view_article_click&amp;id=@m.id&amp;click=1"></script>次</span>
                    </div>
                    <div class="note">
                        <p>@m.zhaiyao</p>
                    </div>
                </div>
                
                <div class="entry">
                  @Html.Raw(m.content)
                </div><!-- end entry -->
            </div>
        </div>
        <!--/页面左边-->
        
        <!--页面右边-->
        <div class="left-25">
            <div class="left-wrap nobg">
                <div class="sidebar-box">
                    <h4>阅读排行</h4>
                    <ul class="txt-list">
                    @{ 
                    DataTable hotNews = bc.get_article_list(channel, 0, 10, "category_id=" + m.category_id + " and status=0", "click desc,id desc");
                    int hotcount = 0;
                    foreach(DataRow hotdr in hotNews.Rows) {
                       hotcount++;
                     <li>
                        <label class="hot">@hotcount</label>
                        <a href="@bc.linkurl("news_show", hotdr["id"])">@hotdr["title"]</a>
                     </li>
                    }
                    }                        
                    </ul>
                </div>
                
                <div class="sidebar-box">
                    <h4>最新资讯</h4>
                    <ul class="txt-list">
                      @{ 
                      DataTable redNews = bc.get_article_list(channel, 0, 4, "category_id=" + m.category_id + " and status=0", "add_time desc");
                      foreach(DataRow reddr in redNews.Rows){
                      <li>
                        <a href="@bc.linkurl("news_show",reddr["id"])">@reddr["title"]</a>
                      </li>
                      }
                      }                        
                    </ul>
                </div>
                
            </div>
        </div>
        <!--/页面右边-->
    </div>
</div>