@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/web/Shared/_LayoutList.cshtml";
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   Article_ListController bc = ViewBag.BasePage as Article_ListController;
   DTcms.Model.article_category m = bc.model;
   ViewBag.Title = @m.title + " - " + site.name;
   string channel = "video";
   const int pagesize = 20;
   int page = int.Parse(ViewBag.Page as string);
   int category_id = int.Parse(ViewBag.CategoryId as string);
   int totalcount;
   string pagelist;
   DataTable list = null;
   int count = 0;
   string category_nav = bc.get_category_menu("video_list", category_id);
}
<div class="wrapper">
    <div class="section">
        <!--所在位置-->
        <div class="navi-box">
            <a href="@bc.linkurl("index")">首页</a> &gt;
            <a href="@bc.linkurl("video")">视频教程</a>
            
        </div>
        <!--/所在位置-->
        
        <!--内容列表-->
        <div class="screen-box">
            <h4>筛选：</h4>
            <ul>
                <li class="@(category_id == 0 ? "selected" : "")"><a href="@bc.linkurl("video_list",0)">全部</a></li>
                <li class="@(category_id == 60 ? "selected" : "")"><a href="@bc.linkurl("video_list",60)">二次开发</a></li>
                <li class="@(category_id == 61 ? "selected" : "")"><a href="@bc.linkurl("video_list",61)">使用教程</a></li>
            </ul>
        </div>
        <div class="v-list">
            <ul>
               @{
               
               }
                <li>
                    <div class="list-box">
                        <div class="img-box">
                            <a href="/video/show-83.html"><img src="/upload/201610/21/201610210158217711.png"></a>
                        </div>
                        <div class="note">
                            <h3><a href="/video/show-83.html">使用教程-扩展字段使用</a></h3>
                            <div class="info">
                                <span><i class="fa fa-calendar"></i>2016/10/21 1:55:47</span>
                                <span><i class="fa fa-eye"></i>733次</span>
                            </div>
                            <p>从 3.0 开始，我们为扩展字段进行改进，在架构上进行了升级，使用扩展字段能够在模板页面轻松的调用。有了频道视图的配合，使得我们调用扩展字段和变通的字段一样方便，有了这些改进，基本上可以满足 80%网站和客户各种需求。</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--内容列表-->
    </div>
</div>