@using System.Data;
@using DTcms.Model;
@using DTcms.Common;
@{
   DTcms.Model.site_channel site = ViewData["site"] as DTcms.Model.site_channel;
   DTcms.Model.siteconfig config = ViewData["config"] as DTcms.Model.siteconfig;
   DTcms.Web.MVC.UI.Controllers.BaseController bc = ViewBag.BasePage as DTcms.Web.MVC.UI.Controllers.BaseController;
}
<!--页面头部-->
<div class="header">
    <div class="header-top">
        <div class="section">
            <div class="left-box">
                <span>相关站点：</span>
                <a href="@bc.linkurl("index")?site=main")" target="_blank">标准版演示</a>
                <a href="@bc.linkurl("index")?site=shop")" target="_blank">商城版演示</a>
            </div>
            <ul class="right-box">
                <li class="right-nav">
                    
                    <a href="@bc.linkurl("login")">登录</a>
                    <strong>|</strong>
                    <a href="@bc.linkurl("register")">注册</a>
                    
                    <a class="last" href="@bc.linkurl("content","contact")">
                        <i class="fa fa-phone fa-fw"></i>联系我们
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="section">
        <div class="header-nav">
            <div class="logo">
                <a title="动力启航MVC版官方网站" href="@bc.linkurl("index")"><img src="/templates/cms/web/images/logo.jpg"></a>
            </div>
            <div class="nav-box">
                <ul>
                    <li class="index"><a href="@bc.linkurl("index")">首页</a></li>
                    <li class="product"><a href="@bc.linkurl("content","product")">产品介绍</a></li>
                    <li class="auth" style="display:none"><a href="/license/order/auth.html">购买授权</a></li>
                    <li class="news"><a href="@bc.linkurl("news_list",57)">官方动态</a></li>
                    <li class="help"><a href="@bc.linkurl("help")">帮助中心</a></li>
                </ul>
            </div>
            <div class="search-box">
                <div class="input-box">
                    <input id="keywords" name="keywords" type="text" onkeydown="if(event.keyCode==13){SiteSearch('@bc.linkurl("search")', '#keywords');return false};" placeholder="输入关健字" x-webkit-speech="">
                </div>
                <a href="javascript:;" onclick="SiteSearch('@bc.linkurl("search")', '#keywords');">
                    <i class="fa fa-search"></i>
                </a>
            </div>
        </div>
    </div>

</div>
<!--页面头部-->