@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/Shared/_Layout.cshtml";
   DTcms.Model.sites site = ViewData["site"] as DTcms.Model.sites;
   DTcms.Model.sysconfig config = ViewData["sysConfig"] as DTcms.Model.sysconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   DTcms.Model.article m = ViewData["model"] as DTcms.Model.article;
   ViewBag.Title = m.title + " - " + site.name;
   string channel = "content";
   DataTable categoryList = bc.get_article_list(channel, 0, 0, "status=0");
   string category_title = bc.get_category_title(m.category_id, "公司介绍");
}

@section HeaderContent{
<script>
	$(document).ready(function(){
		$("#afui #navbar a.phone").addClass("pressed");
	});
</script>
}

<div id="afui">
  <div id="content">

	<div id="mainPanel" class="panel" data-header="main_header" data-footer="main_footer">
      
      <!--内容详细-->
      <div class="meta">
        <h1 class="meta-tit">@m.title}</h1>
        <p class="meta-info">
          <span class="time">@m.add_time}</span>
          <span class="view"><script type="text/javascript" src="@(config.webpath)tools/submit_ajax.ashx?action=view_article_click&id=@m.id&click=1"></script>次浏览</span>
        </p>
      </div>
      
      <div class="entry">
        @Html.Raw(m.content)
      </div>
      <!--/内容详细-->
      
      <!--版权信息-->
      @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_copyright.cshtml")
      <!--/版权信息-->
    
	</div>
    
    <!--页面头部-->
    @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_header.cshtml")
    <!--/页面头部-->
    
    <!--底部导航-->
    @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_footer.cshtml")
    <!--/底部导航-->
	
    <!--左侧导航-->
    @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_nav.cshtml")
    <!--/左侧导航-->
      
  </div>
</div>
