@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@using DTcms.Model;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/Shared/_Layout.cshtml";
   DTcms.Model.sites site = ViewData["site"] as DTcms.Model.sites;
   DTcms.Model.sysconfig config = ViewData["sysConfig"] as DTcms.Model.sysconfig;
   Article_ListController bc = ViewBag.BasePage as Article_ListController;
   DTcms.Model.article_category m = ViewData["model"] as DTcms.Model.article_category;
   ViewBag.Title = m.title + " - " + site.name;
   string channel = "down";
   int category_id = int.Parse(ViewBag.CategoryId as string);
   string category_nav = bc.get_category_menu("down_list", category_id);
   string category_title = bc.get_category_title(category_id, "资源下载");
   int pagesize = 20;
   int totalcount = 0;
   string pagelist = string.Empty;
   int page = int.Parse(ViewBag.Page as string);
   DataTable categoryList = bc.get_category_child_list(channel, 0);//
   DataTable downList = bc.get_article_list(channel, category_id, pagesize, page, "status=0", out totalcount, out pagelist, "down_list", category_id, "__id__");<!--取得一个分页DataTable-->
}
<script type="text/javascript">
	$(document).ready(function(e) {
        $(".page-list a").attr("data-ignore",true); //分页链接不使用AJAX请求
    });
</script>

<div id="afui">
  <div id="content">
    
	<div id="main" class="panel" data-header="custom_header" data-footer="custom_footer">
      <!--筛选按钮-->
      <div class="select-bar">
        <div class="col">
          <a href="javascript:;" class="icon-back" onclick="history.back(-1)">返回上一页</a>
        </div>
        <div class="col">
          <a href="#categoryPanel" class="icon-carat-r">@category_title</a>
        </div>
      </div>
      <!--/筛选按钮-->
      
      <!--资源列表-->
      <div>
        <ul class="list listview listline">
          @foreach(DataRow dr in downList.Rows){
          <li>
            <a href="@bc.linkurl("down_show",dr["id"])" data-ignore="true">
              <img src="@dr["img_url"]" alt="@dr["title"]" />
              <h2>@dr["title"]</h2>
              <div class="note">
                <p>@dr["zhaiyao"]</p>
                <p><i class="hot">@dr["click"]次</i><i class="date">时间：@(((DateTime)dr["add_time"].ToString("yyyy-MM-dd"))</i></p>
              </div>
            </a>
          </li>
          }
        </ul>
      </div>
      <!--/资源列表-->
      
      <!--分页页码-->
      <div class="page-list">@Html.Raw(pagelist)</div><!--放置页码列表-->
      <!--/分页页码-->
      
      <!--版权信息-->
      @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_copyright.cshtml")
      <!--/版权信息-->
    
	</div>
    
    <!--页面头部-->
    @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_header.cshtml")
    <!--/页面头部-->
    
    <!--底部导航-->
    @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_footer.cshtml")
    <!--/底部导航-->
	
    <!--左侧导航-->
    @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_nav.cshtml")
    <!--/左侧导航-->
    
    <!--分类筛选-->
    <div id="categoryPanel" class="panel" data-footer="none">
      <header>
        <a onclick="$.ui.goBack();" class="backButton">返回</a>
        <h1>资源类别</h1>
        <a onclick="$.ui.toggleSideMenu()" class="menuButton"></a>
      </header>
    
      <ul class="category-bar">
        <!--大类-->
        @foreach(DataRow cdr1 in categoryList.Rows){
        <li>
          <h2><a href="@bc.linkurl("down_list",cdr1["id"])" data-ignore="true">@cdr1["title"]</a></h2>
          <p>
            <!--小类-->
            @{DataTable category_list2=bc.get_category_child_list(channel, (int)cdr1["id"]);}
            @foreach(DataRow cdr2 in category_list2.Rows){
            <a href="@bc.linkurl("down_list",cdr2["id"])" data-ignore="true">@cdr2["title"]</a>
            }
            <!--/小类-->
          </p>
        </li>
        }
        <!--/大类-->
      </ul>
    </div>
    <!--/分类筛选-->
      
  </div>
</div>
