@using System.Data;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@{
   DTcms.Model.sites site = ViewData["site"] as DTcms.Model.sites;
   Layout = "~/Areas/Web/Views/" + site.templet_path + "/Shared/_Layout.cshtml";
   DTcms.Model.sysconfig config = ViewData["sysConfig"] as DTcms.Model.sysconfig;
   DTcms.Web.MVC.UI.Controllers.BaseController bc = ViewBag.BasePage as DTcms.Web.MVC.UI.Controllers.BaseController;
   DataTable newsList = bc.get_article_list("news", 0, 8, "status=0");//新闻资讯
   DataTable redGoodsList = bc.get_article_list("goods", 0, 5, "status=0 and is_red=1");//商品推荐
   DataTable redVideoList = bc.get_article_list("video", 0, 6, "is_red=1 and img_url<>''");//视频专区
   DataTable redPhotoList = bc.get_article_list("photo", 0, 9, "status=0");//图片分享
   DataTable redDownList = bc.get_article_list("down", 0, 5, "is_red=1 and img_url<>''");//资源下载
}

@section HeaderContent{
   <link href="~/templates/@site.templet_path/css/idangerous.swiper.css" rel="stylesheet" />
   <script src="~/templates/@site.templet_path/js/idangerous.swiper-2.1.min.js"></script>
   <script>
      $(document).ready(function () {
         var mySwiper = new Swiper('.swiper-container', {
            calculateHeight: true,
            resizeReInit: true,
            pagination: ".swiper-pagination",
            autoplay: 5000,
            paginationClickable: true
         });
         $("#afui #navbar a.home").addClass("pressed");
      });
   </script>
}

<div id="afui">
  <div id="content">
	 <div id="mainPanel" class="panel" data-header="main_header" data-footer="main_footer">
      <!--首页幻灯片-->
      <div id="slider" class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="@(config.webpath)templates/@site.templet_path/images/banner1.jpg"/></div>
          <div class="swiper-slide"><img src="@(config.webpath)templates/@site.templet_path/images/banner2.jpg"/></div>
          <div class="swiper-slide"><img src="@(config.webpath)templates/@site.templet_path/images/banner3.jpg"/></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <!--/首页幻灯片-->
      <!--首页图标导航-->
      <div class="nav-list">
        <ul>
          <li>
            <a href="@bc.linkurl("news")" data-ignore="true">
              <img src="@(config.webpath)templates/@site.templet_path/images/icons/news.png">
              <span>新闻资讯</span>
            </a>
          </li>
          <li>
            <a href="@bc.linkurl("goods")" data-ignore="true">
              <img src="@(config.webpath)templates/@site.templet_path/images/icons/buy.png">
              <span>购物商城</span>
            </a>
          </li>
          <li>
            <a href="@bc.linkurl("video")" data-ignore="true">
              <img src="@(config.webpath)templates/@site.templet_path/images/icons/video.png">
              <span>视频专区</span>
            </a>
          </li>
          <li>
            <a href="@bc.linkurl("photo")" data-ignore="true">
              <img src="@(config.webpath)templates/@site.templet_path/images/icons/photo.png">
              <span>图片分享</span>
            </a>
          </li>
          <li>
            <a href="@bc.linkurl("down")" data-ignore="true">
              <img src="@(config.webpath)templates/@site.templet_path/images/icons/down.png">
              <span>资源下载</span>
            </a>
          </li>
          <li>
            <a href="@bc.linkurl("usercenter","index")" data-ignore="true">
              <img src="@(config.webpath)templates/@site.templet_path/images/icons/user.png">
              <span>会员中心</span>
            </a>
          </li>
          <li>
            <a href="@bc.linkurl("mfeedback")" data-ignore="true">
              <img src="@(config.webpath)templates/@site.templet_path/images/icons/msg.png">
              <span>留言反馈</span>
            </a>
          </li>
          <li>
            <a href="@bc.linkurl("content","contact")" data-ignore="true">
              <img src="@(config.webpath)templates/@site.templet_path/images/icons/tel.png">
              <span>联系我们</span>
            </a>
          </li>
        </ul>
      </div>
      <!--/首页图标导航-->
      
      <!--新闻资讯-->
      <div class="section">
        <h1>新闻资讯</h1>
      </div>
      <div>
        <ul class="list listview">
         @for(int i=0; i<newsList.Rows.Count; i++){
             DataRow newsdr = newsList.Rows[i];
             if(i<2){
             <li>
               <a href="@bc.linkurl("news_show",newsdr["id"])" data-ignore="true">
                 @if(newsdr["img_url"]!=""){
                 <img src="@newsdr["img_url"]" />
                 }
                 <h2>@newsdr["title"]</h2>
                 <p class="intro">@newsdr["zhaiyao"]</p>
               </a>
             </li>
            }else{
             <li>
               <a href="@bc.linkurl("news_show",newsdr["id"])" data-ignore="true">@newsdr["title"]</a>
             </li>
            }
         }
        </ul>
      </div>
      <!--/新闻资讯-->
      
      <!--购物商城-->
      <div class="section">
        <h1>商品推荐</h1>
      </div>
      <div>
        <ul class="list listview">
          @foreach(DataRow dr in redGoodsList.Rows){
          <li>
            <a href="@bc.linkurl("goods_show",dr["id"])" data-ignore="true">
              <img src="@dr["img_url"]" />
              <h2>@dr["title"]</h2>
              <div class="note">
                <p>@dr["zhaiyao"]</p>
                <p><i class="hot">@dr["click"]次</i><i class="price">￥@dr["sell_price"]</i>元</p>
              </div>
            </a>
          </li>
          }
        </ul>
      </div>
      <!--/购物商城-->
      
      <!--视频专区-->
      <div class="section">
        <h1>视频专区</h1>
      </div>
      <div>
        <ul class="photo-list">
          @foreach(DataRow dr in redVideoList.Rows){
          <li>
            <a href="@bc.linkurl("video_show",dr["id"])" data-ignore="true">
              <img src="@dr["img_url"]" alt="@dr["title"]" />
              <h2>@dr["title"]</h2>
            </a>
          </li>
          }
        </ul>
      </div>
      <!--视频专区-->
      
      <!--图片分享-->
      <div class="section">
        <h1>图片分享</h1>
      </div>
      <div>
        <ul id="photo" class="photo-list">
          @foreach(DataRow dr in redPhotoList.Rows){
          <li>
            <a href="@bc.linkurl("photo_show",dr["id"])" data-ignore="true">
              <img src="@dr["img_url"]" alt="@dr["title"]" />
            </a>
          </li>
          }
        </ul>
      </div>
      <!--图片分享-->
      
      <!--资源下载-->
      <div class="section">
        <h1>资源下载</h1>
      </div>
      <div>
        <ul class="list listview">
          @foreach(DataRow dr in redDownList.Rows){
          <li>
            <a href="@bc.linkurl("down_show",dr["id"])" data-ignore="true">
              <img src="@dr["img_url"]" />
              <h2>@dr["title"]</h2>
              <div class="note">
                <p>@dr["zhaiyao"]</p>
                <p><i class="hot">@dr["click"]}次</i><i class="date">时间：@(((DateTime)dr["add_time"]).ToString("yyyy-MM-dd"))</i></p>
              </div>
            </a>
          </li>
          }
        </ul>
      </div>
      <!--资源下载-->
      
      <!--版权信息-->
      @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_copyright.cshtml")
      <!--/版权信息-->
    
	</div>
  </div>
   <!--页面头部-->
   @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_header.cshtml")
   <!--/页面头部-->
    
   <!--底部导航-->
   @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_footer.cshtml")
   <!--/底部导航-->
	
   <!--左侧导航-->
   @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_nav.cshtml")
   <!--/左侧导航-->
</div>