@using System.Data;
@using System.Web;
@using DTcms.Web.MVC.Areas.Web.Controllers;
@using DTcms.Web.MVC.UI.Controllers;
@{
   Layout = "~/Areas/Web/Views/" + ViewBag.TemplateSkin + "/Shared/_LayoutList.cshtml";
   DTcms.Model.sites site = ViewData["site"] as DTcms.Model.sites;
   DTcms.Model.sysconfig config = ViewData["sysConfig"] as DTcms.Model.sysconfig;
   BaseController bc = ViewBag.BasePage as BaseController;
   SearchController c = ViewBag.This as SearchController;
   ViewBag.Title = "站内搜索 - " + site.name;
   int totalcount;
   int page = int.Parse(ViewBag.Page as string);
   string channel = ViewBag.Channel as string;
   string keyword = ViewBag.Keyword as string;
   string tags = ViewBag.Tags as string;
   string pagelist = string.Empty;
   DataTable tagsList = bc.get_article_tags(0, "is_red=1");//热门标签
   DataTable redNews = bc.get_article_list("news", 0, 4, "status=0 and is_red=1 and img_url<>''");//推荐资讯
   DataTable list=c.get_search_list(15, out totalcount);//取得分页页码列表
   if(tags!=""){
      pagelist = bc.get_page_link(15, page, totalcount, bc.linkurl("search","?tags=" + bc.Server.UrlEncode(tags) + "&page=__id__"));
   }else{
      pagelist = bc.get_page_link(15, page, totalcount, bc.linkurl("search", "?keyword=" + bc.Server.UrlEncode(keyword) + "&page=__id__"));
   } 
 }

@section HeaderContent{
<script>
	$(document).ready(function(e) {
        $(".page-list a").attr("data-ignore",true);
		$("#main_footer a.magnifier").addClass("pressed");
    });
</script>
}

<div id="afui">
  <div id="content">

	<div id="mainPanel" class="panel" data-footer="main_footer">
      <header>
        <a href="javascript:;" onclick="history.back(-1);" class="backButton">返回</a>
        <h1>站内搜索</h1>
        <a onclick="$.ui.toggleSideMenu()" class="menuButton"></a>
      </header>
      
      <!--查询按钮-->
      <div class="search-bar">
        <div class="col">
          <input id="keywords" name="keywords" type="search" placeholder="输入关健字" />
        </div>
        <div class="col-1">
          <input type="button" value="查询" class="btn full" onclick="SiteSearch('@bc.linkurl("search")', '#keywords');" />
        </div>
      </div>
      <h4 style="font-weight:normal;font-size:12px;color:#8c8c8c;">搜索关健字： <b class="blue">@keyword</b> ，共有 <b class="red">@totalcount</b> 条记录</h4>
      <!--/查询按钮-->
      
      <!--信息列表-->
      <div>
        <ul class="list listview listline">
          @foreach(DataRow dr in list.Rows){
          <li>
            <a href="@dr["link_url"]" data-ignore="true">
              @if(dr["img_url"]!=""){
              <img src="@dr["img_url"]" />
              }
              <h2>@dr["title"]</h2>
              <div class="note">
                <p>@dr["remark"]</p>
                <p><i class="date">时间：@(((DateTime)dr["add_time"]).ToString("yyyy-MM-dd"))</i></p>
              </div>
            </a>
          </li>
          }
        </ul>
      </div>
      <!--/信息列表-->
      
      <!--分页页码-->
      <div class="page-list">@Html.Raw(pagelist)</div>
      <!--/分页页码-->
      
      <!--版权信息-->
      @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_copyright.cshtml")
      <!--/版权信息-->
    
	</div>
    
    <!--页面头部-->
    @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_header.cshtml")
    <!--/页面头部-->
    
    <!--底部导航-->
    @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_footer.cshtml")
    <!--/底部导航-->
	
    <!--左侧导航-->
    @RenderPage("~/Areas/Web/Views/" + site.build_path + "/Shared/partial_nav.cshtml")
    <!--/左侧导航-->
      
  </div>
</div>
